:local {
	.percentage-loader {
		text-align: center;
		display: inline-block;
		color: white;
	}

	.svg-holder {
		@include size(100%);
		position: relative;
		margin: 0 auto;

		svg {
			width: 100%;
			height: 100%;
		}

		&.is-dashed {
			.animated-line-track {
				stroke-dasharray: 4, 4;
			}
		}
	}

	.animated-line-track {
		stroke: currentColor;
		opacity: 0.5;
	}

	.animated-line {
		stroke: currentColor;
	}

	.amount-info {
		font: 400 1.8rem / 1 $fontOpenSans;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		display: flex;
		align-items: center;
		justify-content: center;
		color: $colorPrimary;

		&.large {
			.value {
				font-weight: 600;
				font-size: 3.6rem;
			}
		}
	}

	@include respond-to(SMALL) {
		.animated-line-track {
			stroke-width: 4px;
		}

		.animated-line {
			stroke-width: 20px;
		}

		.amount-info {
			font-size: mobile-size(3.5rem);

			&.large {
				.value {
					font-size: mobile-size(5rem);
				}
			}
		}
	}
}
