.primary-gradient-overlay {
	@include size(100%);
	@include offset(0, 0);
	position: absolute;
	background: linear-gradient(to bottom, rgba(5, 50, 90, 1) 0%, rgba(0, 119, 188, 1) 100%);
	opacity: 0.6;
}
