// The default Typescript Scrollbar styling
.scroll-wrapper {
	position: relative;
	overflow: hidden;
	height: 100%;
}

.scroll-content {
	width: 100%;
	height: 100%;
	padding-right: 20px;
	overflow-y: scroll;
	overflow-x: hidden;
	box-sizing: content-box;
	-webkit-overflow-scrolling: touch;
}

.scroll-bar {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	width: 6px;
	background-color: transparent;

	.knob {
		position: relative;
		display: block;
		height: 4rem;
		width: 6px;
		background-color: $colorSecondary;
	}
}
