.js-loader {
	@include size(100%);
	@include offset(0,0);
	position: absolute;
	background: rgba($colorWhite, .5);
	z-index: zindex($layout, inlineLoader);

	&:after {
		@include abs-center(32px);
		background: url('../image/loading.gif') no-repeat center center;
		background-size: cover;
		content: '';
	}
}