.logo {
	@include size(140px, 42px);

	.text-top,
	.text-bottom,
	.arrow {
		transition: color .2s ease(easeInOut);
		fill: currentColor;
	}


	// Primary logo colors
	.theme-light &,
	&.primary {

		.text-top,
		.text-bottom {
			color: $colorWhite;
		}

		.arrow {
			color: $colorSecondary;
		}
	}

	// Primary logo colors
	&.white {

		.text-top,
		.text-bottom {
			color: $colorWhite;
		}

		.arrow {
			color: $colorWhite;
		}
	}

	// Inverted logo for on light backgrounds
	.theme-dark &,
	&.inverted {
		.text-top {
			color: $colorQuaternary;
		}

		.text-bottom {
			color: $colorPrimary;
		}

		.arrow {
			color: $colorSecondary;
		}
	}

	@include respond-to(SMALL){
		@include size(70px, 21px);

		&.primary {
			.text-top {
				color: $colorQuaternary;
			}

			.text-bottom {
				color: $colorPrimary;
			}

			.arrow {
				color: $colorSecondary;
			}
		}
	}
}