.logo {
	@include size(135px, 45px);

	.text-top,
	.text-bottom,
	.arrow {
		transition: color .2s ease(easeInOut);
		fill: currentColor;
	}

	.icon {
		@include size(100%);
	}

	/**
	 * Light theme
	 */
	.theme-light & {
		.arrow,
		.text-top,
		.text-bottom {
			color: $colorWhite;
		}
	}

	/**
	 * Dark theme
	 */
	.theme-dark & {
		.text-bottom,
		.text-top {
			color: $colorPrimary;
		}
		.arrow {
			color: $colorSecondary;
		}
	}

	/**
	 * Footer theme
	 */
	.theme-footer & {
		.arrow,
		.text-top,
		.text-bottom {
			color: $colorWhite;
		}
	}

	/**
	 * Theme used on a solid background
	 */
	.enable-solid-background & {
		.text-bottom,
		.text-top {
			color: $colorPrimary;
		}
		.arrow {
			color: $colorSecondary;
		}
	}

	@include respond-to(XX_LARGE) {
		@include size(120px, 40px);
	}

	@include respond-to(X_LARGE) {
		@include size(110px, 35px);
	}

	@include respond-to(LARGE) {
		@include size(90px, 30px);
	}

	@include respond-to(MEDIUM) {
		/**
		 * Tablet portrait and mobile have no themes
		 */
		.theme-light &,
		.theme-dark & {
			.text-bottom,
			.text-top {
				color: $colorPrimary;
			}
			.arrow {
				color: $colorSecondary;
			}
		}
	}
	@include respond-to(SMALL) {
		@include size(60px, 19px);
	}
}