.logo {
	@include size(140px, 42px);

	.text-top,
	.text-bottom,
	.arrow {
		transition: color .2s ease(easeInOut);
	}


	// Primary logo colors
	&.primary {

		.text-top,
		.text-bottom {
			color: $colorWhite;
		}

		.arrow {
			color: $colorSecondary;
		}
	}

	// Primary logo colors
	&.white {

		.text-top,
		.text-bottom {
			color: $colorWhite;
		}

		.arrow {
			color: $colorWhite;
		}
	}

	// Inverted logo for on light backgrounds
	&.inverted {
		.text-top {
			color: $colorQuaternary;
		}

		.text-bottom {
			color: $colorPrimary;
		}

		.arrow {
			color: $colorSecondary;
		}
	}
}