.logo {
	@include size(135px, 45px);

	.text-top,
	.text-bottom,
	.arrow {
		transition: color .2s ease(easeInOut);
		fill: currentColor;
	}


	.icon {
		@include size(100%);
	}

	// Primary logo colors
	.theme-light &,
	&.primary {

		.text-top,
		.text-bottom {
			color: $colorWhite;
		}

		.arrow {
			color: $colorSecondary;
		}
	}

	// Primary logo colors
	&.white {

		.text-top,
		.text-bottom {
			color: $colorWhite;
		}

		.arrow {
			color: $colorWhite;
		}
	}

	// Inverted logo for on light backgrounds
	.theme-dark &,
	&.inverted {
		.text-top {
			color: $colorQuaternary;
		}

		.text-bottom {
			color: $colorPrimary;
		}

		.arrow {
			color: $colorSecondary;
		}
	}

	@include respond-to(XX_LARGE){
		@include size(120px, 40px);
	}

	@include respond-to(X_LARGE){
		@include size(110px, 35px);
	}

	@include respond-to(LARGE){
		@include size(90px, 30px);
	}

	@include respond-to(SMALL){
		@include size(60px, 19px);

		&.primary {
			.text-top {
				color: $colorQuaternary;
			}

			.text-bottom {
				color: $colorPrimary;
			}

			.arrow {
				color: $colorSecondary;
			}
		}
	}
}