.pagination-number {
	font: 800 1.2rem / 1 $fontOpenSans;
	position: relative;
	color: $colorSecondary;
	display: inline-block;
	padding-bottom: $sizeGrid / 2;

	&:after {
		@include pos(auto, auto, $sizeGrid / 8, 0);
		@include size(100%, 1px);
		transform: rotate(-#{$angle}deg);
		position: absolute;
		background: currentColor;
		content: '';
		transform-origin: bottom left;
	}

	@include respond-to(SMALL) {
		font-size: mobile-size(2.2rem);

		&:after {
			bottom: -1rem;
			left: 1rem;
		}
	}
}
