// The default Typescript Scrollbar styling
.scroll-wrapper {
	position: relative;
	overflow: hidden;
	height: 100%;

	&.scroll-x {
		.scroll-content {
			padding-bottom: 20px;
			padding-right: 0;
			overflow-y: hidden;
			overflow-x: scroll;
		}

		.scroll-bar {
			top: auto;
			left: 0;
			width: auto;
			height: 6px;
		}

		.knob {
			width: 100px;
			height: 6px;
		}
	}

	.scroll-content {
		width: 100%;
		height: 100%;
		padding-right: 20px;
		overflow-y: scroll;
		overflow-x: hidden;
		box-sizing: content-box;
	}

	.scroll-bar {
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;
		width: 6px;

		&:before {
			@extend %ir;
			display: none;
			content: '.';
			width: 2px;
			height: 100%;
			position: absolute;
			left: -2px;
			top: 0;
			bottom: 0;
			background: transparent;
		}

		&:hover:before {
			display: block;
		}
	}

	.knob {
		position: relative;
		display: block;
		height: 100px;
		background: #aaa;
		border-radius: 3px;

		.rgba & {
			background: rgba(166, 159, 147, .75);
		}
	}
}
