.sentence-animation {
	position: relative;
	overflow: hidden;

	.mask-line {
		background-color: white;
		position: absolute;
		@include offset(0, 0);
		@include size(100%, 100%);
	}

	.animation-line {
		position: absolute;
		right: 0;
		top: 50%;
		@include size(100%, 80%);
		transform: translate(-100%, -50%);
		background-color: currentColor;
	}
}
