:local {
	.free-text {
		h1,
		h2,
		h3,
		h4 {
			@extend %reset-bmp;
			padding-bottom: $sizeGrid/2;
			//font: 600 1.8rem / 1.16 $fontOpenSans;
		}

		h1 {
			@extend %heading-02;
		}

		h2 {
			@extend %heading-03;
		}

		h3 {
			@extend %heading-06;
		}

		p {
			display: block;
			font: 400 1.6rem / 1.625 $fontOpenSans;
			margin-bottom: $sizeGrid;

			img {
				display: inline-block;
				vertical-align: middle;
			}
		}
	}

	.html-content {
		background: $colorWhite;
		padding: $sizeGrid;
	}

	.alignment-left {
		text-align: left;
	}

	.alignment-right {
		text-align: right;
	}

	.alignment-center {
		text-align: center;
	}

	// Breakpoints
	@include respond-to(SMALL) {
		.free-text {
			h1,
			h2,
			h3,
			h4 {
				font-size: mobile-size(3.5rem);
				padding-bottom: $sizeGrid;
			}

			p {
				font-size: mobile-size(2.8rem);
			}
		}
	}
}
