.component-block-map {
	user-select: none;

	.aspect-ratio-wrapper {
		@include aspect-ratio($sizeGrid * 32, $sizeGrid * 21);
	}

	.aspect-ratio-inner {
		padding: $sizeGrid * 2;
		background: $colorLightGrey;
	}

	.map-image {
		@include aspect-ratio(1280px, 680px);
		position: relative;

		.component-image-sequence {
			@include coverer();
			@include size(100%);
		}
	}

	.map-content {
		@include size($sizeGrid * 5, auto);
		@include pos(50%, auto, auto, $sizeGrid * 4);
		transform: translateY(-50%);
		position: absolute;

		.pagination-number {
			@include pos(0, auto, auto, 0);
			transform: translate(-50%, -50%);
			position: absolute;
		}

		.heading {
			margin-bottom: $sizeGrid;
		}
	}


	.component-map-slider {
		@include size($sizeGrid * 28, $sizeGrid * 2);
		@include pos(auto, auto, $sizeGrid, 50%);
		transform: translateX(-50%);
		position: absolute;
	}

	// Breakpoints
	@include respond-to(SMALL) {
		.aspect-ratio-wrapper {
			&:before {
				display: none;
			}
		}

		.aspect-ratio-inner {
			padding: 0;
			position: relative;
			height: auto;
		}

		.map-content {
			@include offset(0,0);
			margin: $sizeGrid 0 $sizeGrid*2 $sizeGrid*4;
			width: calc(100% - #{$sizeGrid*6});
			position: relative;
			transform: none;
		}

		.map-image {
			@include aspect-ratio($sizeGrid * 32, $sizeGrid * 21);
		}

		.component-map-slider {
			position: relative;
			bottom: auto;
			width: 100%;
		}
	}
}
