.component-block-map-secondary {
	user-select: none;

	.aspect-ratio-wrapper {
		@include aspect-ratio($sizeGrid * 32, $sizeGrid * 19);
	}

	.aspect-ratio-inner {
		padding: $sizeGrid * 2;
		background: $colorLightGrey;
		font-size: 0;
		display: flex;
		flex-wrap: nowrap;
	}

	.map-content {
		@include size($sizeGrid * 9, 100%);
		padding-right: $sizeGrid * 2;
		display: inline-block;
		vertical-align: top;
	}

	.main-title {
		margin-bottom: $sizeGrid;
	}

	.sub-title {
		margin-bottom: $sizeGrid  / 2;
	}

	.description {
		p {
			margin-bottom: $sizeGrid / 2;
		}
	}

	.map-image {
		@include size(100%, 100%);
		display: inline-block;
		vertical-align: top;
		position: relative;

		img {
			@include coverer();
			@include size(100%);
		}

		.component-image-sequence {
			@include coverer();
			@include size(100%);
		}
	}

	.progress-bar {
		@include size(67%, 1px);
		@include pos(auto, $sizeGrid * 2, calc(#{$sizeGrid * 2.5} + 0.5rem), auto);
		background: $colorBorder;
		position: absolute;

		.progress {
			@include size(0, 0.4rem);
			@include pos(50%, auto, auto, 0);
			transform: translateY(-50%);
			background: $colorSecondary;
			position: absolute;
		}
	}

	.component-button-main {
		@include pos(auto, auto, $sizeGrid * 2 , $sizeGrid * 2);
		position: absolute;
	}

	// Breakpoints
	@include respond-to(SMALL) {

		.aspect-ratio-wrapper {
			&:before {
				display: none;
			}
		}

		.aspect-ratio-inner {
			position: relative;
			height: auto;
			flex-wrap: wrap;
			padding: $sizeGrid*2;
		}

		.progress-bar {
			@include pos(auto, auto, auto, auto);
			position: relative;
			transform: none;
			width: 100%;
			order: 1;
			margin: $sizeGrid*2 auto $sizeGrid*2;
		}

		.map-content {
			@include size(100%, auto);
			padding-right: 0;
			order: 2;
		}

		.map-image {
			@include aspect-ratio($sizeGrid * 32, $sizeGrid * 19);
			order: 0;
		}

		.main-title {
			margin-bottom: $sizeGrid*2;
		}

		.sub-title {
			margin-bottom: $sizeGrid;
			font-size: mobile-size(2.8rem);
		}

		.component-button-main {
			position: relative;
			@include pos(auto, auto, auto);
			margin-top: $sizeGrid*3;
		}
	}
}
