.component-block-small-info {
	font-size: 0;

	.site-frame {
		padding: $sizeGrid * 2 $sizeGrid * 5;
	}

	.description,
	.introduction {
		@include size(50%, auto);
		display: inline-block;
		vertical-align: top;
	}

	.copy {
		margin-top: $sizeGrid;
	}

	.component-button-main {
		margin-top: $sizeGrid;
	}
}
