.component-block-blog-post {

	.site-frame {
		padding-left: $sizeGrid * 7;
		padding-right: $sizeGrid * 7;
	}

	.date {
		font: 700 1rem / 1.3 $fontOpenSans;
		margin-bottom: $sizeGrid/2;
		text-transform: uppercase;
	}

	.blog-post-bar {
		@include size(100%, $sizeGrid*2);
		display: flex;
		align-items: center;
		justify-content: space-between;
		border-bottom: 1px solid rgba($colorPrimary, 0.1);
		margin-top: $sizeGrid/2;
	}

	.profile-image {
		@include size($sizeGrid);
		border-radius: 100%;
		margin-right: $sizeGrid/2;
		display: inline-block;
		vertical-align: middle;
	}

	.author {
		display: inline-block;
		vertical-align: middle;
	}

	.blog-details {
		@extend %reset-list;
		flex-shrink: 0;

		li {
			font: 700 1rem / 1.3rem $fontOpenSans;
			text-transform: uppercase;
			display: inline-block;
			vertical-align: middle;

			&:not(:first-child) {
				margin-left: $sizeGrid/2;
			}

			.icon {
				width: 16px;
			}
		}
	}

	.tags {
		font-size: 0;
		padding-right: $sizeGrid;


		.component-button-tag {

			&:not(:first-child) {
				margin-left: 5px;
			}
		}
	}

	.description {
		padding-top: $sizeGrid;

		.heading {
			padding-bottom: $sizeGrid/2;
		}
	}

	@include respond-to(LARGE) {
		.site-frame {
			padding-left: $sizeGrid * 2;
			padding-right: $sizeGrid * 2;
		}
	}
	@include respond-to(SMALL) {

		.date {
			font-size: mobile-size(2.4rem);
			margin-bottom: $sizeGrid;
		}

		.profile-image {
			@include size($sizeGrid*1.5);
		}

		.blog-post-bar {
			height: auto;
			margin-top: $sizeGrid;
			display: block;
			padding-bottom: $sizeGrid/2;
		}

		.site-frame {
			padding-left: $sizeGrid*2;
			padding-right: $sizeGrid*2;
		}

		.blog-details {
			margin-top: $sizeGrid/2;

			li {
				font-size: mobile-size(1.83rem);

				&:not(:first-child) {
					margin-left: $sizeGrid;
				}
			}
		}

		.description {
			padding-top: $sizeGrid*2;

			.heading {
				padding-bottom: $sizeGrid;
			}
		}
	}
}
