.component-block-hero-main {
	@include aspect-ratio(40*$sizeGrid, $sizeGrid * 24);
	min-height: $sizeGrid * 24;
	max-height: 100vh;


	.background-triangle {
		@include arrow(right, rgba($colorPrimary, .95), $sizeGrid * 40);
		@include pos(50%, auto, auto, 0);
		transform: translateY(-50%);
		position: absolute;
		pointer-events: none;
	}

	.secondary-background-triangle {
		@include arrow(left, rgba($colorSecondary, .95), $sizeGrid * 12);
		@include pos(50%, auto, auto, $sizeGrid * 14);
		position: absolute;
		pointer-events: none;
	}

	.tertiary-background-triangle {
		@include arrow(right, rgba($colorWhite, .95), $sizeGrid * 6);
		@include pos(75%, auto, auto, $sizeGrid * 20);
		position: absolute;
		pointer-events: none;
	}

	.slide-content-wrapper {
		overflow: visible;
	}

	.slide-content {
		@include size($sizeGrid * 13, auto);
		@include pos(50%, auto, auto, 0);
		transform: translateY(-50%);
		position: absolute;
		z-index: 1;
		padding-left: $sizeGrid * 3;
		color: $colorWhite;

		.heading {
			margin-bottom: $sizeGrid;
		}

		.copy {
			margin-bottom: $sizeGrid * 2;
		}
	}

	img {
		@include coverer();
		@include size(100%);
	}

	.statistics-wrapper {
		@include pos(auto, auto, $sizeGrid * 2, calc(50% + #{$sizeGrid}));
		position: absolute;
		color: $colorWhite;
		vertical-align: top;
		font-size: 0;

		.heading {
			margin-bottom: $sizeGrid / 2;
		}
	}

	.statistic {
		display: inline-block;
		margin-left: $sizeGrid;

		&:first-child {
			margin-left: 0;
		}
	}

	.secondary-link {
		@include pos(auto, $sizeGrid, $sizeGrid * 2, auto);
		position: absolute;
		color: $colorWhite;
	}


	@include respond-to(SMALL){
		.background-triangle {
			@include arrow(right, rgba($colorPrimary, .95), $sizeGrid * 24);
		}

		.secondary-background-triangle {
			@include arrow(left, rgba($colorSecondary, .95), $sizeGrid * 10);
			display: none;
		}

		.tertiary-background-triangle {
			display: none;
		}

		.slide-content {
			@include size($sizeGrid * 9, auto);
			padding-left: $sizeGrid * 1;
		}
	}

}
