.component-block-map {
	user-select: none;

	.aspect-ratio-wrapper {
		@include aspect-ratio($sizeGrid * 32, $sizeGrid * 21);
	}

	.aspect-ratio-inner {
		padding: $sizeGrid * 2;
		background: $colorLightGrey;
	}

	.map-image {

	}

	.map-content {
		@include size($sizeGrid * 5, auto);
		@include pos(50%, auto, auto, $sizeGrid * 4);
		transform: translateY(-50%);
		position: absolute;

		.pagination-number {
			@include pos(0, auto, auto, 0);
			transform: translate(-50%, -50%);
			position: absolute;
		}

		.heading {
			margin-bottom: $sizeGrid;
		}
	}


	.component-map-slider {
		@include size($sizeGrid * 28, $sizeGrid * 2);
		@include pos(auto, auto, $sizeGrid, 50%);
		transform: translateX(-50%);
		position: absolute;
	}
}
