.component-block-quote-secondary {
	margin-left: $sizeGrid * 7;
	margin-right: $sizeGrid * 7;
	border-left: 5px solid $colorSecondary;
	padding-left: $sizeGrid;

	.heading {
		padding-bottom: $sizeGrid;
	}

	.copy {
		font-weight: 600;
	}
}
