.component-block_block-dummy-component {
	@include aspect-ratio(21px, 9px);
	position: relative;
	background: #e2e2e2;

	p {
		@include offset(50%, 50%);
		transform: translate(-50%, -50%);
		position: absolute;
	}
}
