.component-block-hero-tertiary {
	@include aspect-ratio(1440px, 360px);

	.component-image-crossfader {
		@include coverer();
		@include pos(0, 0, 0, 0);
		position: absolute;
	}

	@include respond-to(SMALL) {
		@include aspect-ratio(640px, 360px);
	}
}
