.component-block-map-tertiary {
	position: relative;

	.slide-wrapper {
		width: calc(100% - #{$sizeGrid * 3});
		margin-left: $sizeGrid * 3;
	}

	.slides {
		@include aspect-ratio(1100px, 550px);
	}

	.solid-background {
		@include offset(0, 0);
		@include aspect-ratio(1100px, 550px, false);
		@include size(100%, auto);
		background: $colorLightGrey;
		position: absolute;
	}

	.component-map-pagination {
		margin-top: $sizeGrid;
	}

	@include respond-to('SMALL') {
		.slide-wrapper {
			width: 100%;
			margin: 0;
		}

		.slides {
			@include aspect-ratio(640px, 890px);
			background: transparent;
		}

		.solid-background {
			@include offset(0, 0);
			@include aspect-ratio(640px, 670px);
			background: $colorLightGrey;
			position: absolute;
		}
	}
}
