.component-block-network-overview {

	.network-list {

	}

	.network-row {
		white-space: nowrap;
		font-size: 0;
		border-top: 1px solid rgba(#323232, 0.2);
		border-right: 1px solid rgba(#323232, 0.2);

		&:last-child {
			border-bottom: 1px solid rgba(#323232, 0.2);
		}
	}

	.network-list-item {
		display: inline-block;
		filter: grayscale(100%);
		@include size($sizeGrid*6);
		border-left: 1px solid rgba(#323232, 0.2);

		@include hover() {
			filter: grayscale(0%);
		}
	}
}
