.component-block-how-to-advertise {

	.header {
		padding: $sizeGrid * 3 $sizeGrid * 3 $sizeGrid * 1;

		.heading {
			margin-bottom: $sizeGrid;
		}

		.component-button-main {
			margin-bottom: $sizeGrid;
		}
	}

	.advertisement-steps {
		@include size(100%, $sizeGrid * 8);
		background: $colorLightGrey;
		display: block;
	}
}
