.component-block-small-image {
	margin-left: $sizeGrid * 7;
	margin-right: $sizeGrid * 7;

	img {
		display: inline-block;
		max-width: $sizeGrid * 11;
	}

	&.align-left {
		text-align: left;
	}

	&.align-right {
		text-align: right;
	}

	// Breakpoints
	@include respond-to(SMALL) {
		margin-left: 0;
		margin-right: 0;

		img {
			width: 100%;
			max-width: 100%;
		}
	}
}
