.component-block-map {
	user-select: none;

	.slide-wrapper {
		width: calc(100% - #{$sizeGrid * 3});
		margin-left: $sizeGrid * 3;
	}

	.slides {
		@include aspect-ratio(1100px, 550px);
		background: $colorLightGrey;
	}

	.solid-background {
		@include offset(0, 0);
		@include aspect-ratio(1100px, 550px, false);
		@include size(100%, auto);
		position: absolute;
		background: transparent;
	}

	.sequence-wrapper {
		@include coverer();
		@include size(100%);
		position: absolute;
	}

	.component-map-pagination {
		margin-top: $sizeGrid;
	}

	@include respond-to('SMALL') {
		.slide-wrapper {
			width: 100%;
			margin: 0;
		}

		.sequence-wrapper {
			@include aspect-ratio(640px, 448px, false);
			@include size(100%, auto);
			@include pos(0, 0, auto, 0);
		}

		.slides {
			@include size(100%, 455px);
			background: transparent;

			&:before {
				display: none;
			}
		}

		.component-image-sequence {
			@include coverer();
			@include size(100%);
		}

		.solid-background {
			@include offset(0, 0);
			@include size(100%, 340px);
			background: $colorLightGrey;
			position: absolute;

			&:before {
				display: none;
			}
		}
	}
}
