.component-block-info {
	position: relative;
	width: 100%;
	color: white;
	margin-left: auto;
	margin-right: auto;
	max-width: $largeSiteFrame;

	&.windowed {
		border-color: transparent;
		border-left-width: $sizeGrid*4;
		border-right-width: $sizeGrid*4;
	}

	.clip-mask {
		@include size(100%);
		@include pos(0, 0, 0, 0);
		background: $colorWhite;
		position: absolute;
		transform-origin: right center;
	}

	.inner-content {
		padding: $sizeGrid*2.5;
		width: calc(100% - #{$sizeGrid});
		background-color: $colorSecondary;
		display: flex;
		justify-content: space-between;
		flex-direction: row;

		&:before {
			@include triangle(left, top, $colorSecondary, $sizeGrid);
			@include pos(auto, 0, 0, auto);
			position: absolute;
			content: '';
		}

		&:after {
			@include pos(0, 0, $sizeGrid, auto);
			position: absolute;
			content: "";
			width: $sizeGrid;
			background-color: $colorSecondary
		}
	}

	.description {
		width: calc(100% - #{$sizeGrid*5});
	}

	.copy {
		margin-top: $sizeGrid;
	}

	.component-button-main {
		align-self: flex-end;
	}

	// Reduce the size if it's part of the load more block
	.component-block-filter-content & {
		@include size(16 * $sizeGrid, 8 * $sizeGrid);

		.inner-content {
			padding: $sizeGrid * 1.5 $sizeGrid * 2;
			height: 100%;
			flex-direction: column;

			.copy {
				display: none;
			}
		}

		.component-button-main {
			align-self: flex-start
		}

		.description {
			width: 100%;
		}

		@include respond-to(X_LARGE){
			@include size(15 * $sizeGrid, 8 * $sizeGrid);
		}
	}

	// Breakpoints
	@include respond-to(SMALL) {
		@include size(100% !important, auto !important);
		padding-left: $sizeGrid;
		padding-right: $sizeGrid;
		max-width: 100%;

		&.windowed {
			border: none;
		}

		.inner-content {
			position: relative;
			display: block;
			padding: $sizeGrid*3 !important;

			&:before,
			&:after {
				right: -$sizeGrid;
			}
		}

		.description {
			width: 100% !important;
		}

		.component-button-main {
			margin-top: $sizeGrid*2;
		}
	}
}
