.component-block-image-with-content {
	@include size(100%, $sizeGrid*12);
	position: relative;

	.site-frame {
		height: 100%;
	}

	.overrule-overlap {
		height: 100%;
		position: relative;
	}

	.image {
		@include size(100%);
		position: absolute;
	}

	.content {
		@include pos(auto, auto, 0, $sizeGrid * 2);
		height: auto;
		position: absolute;
		background: #fff;
		padding: $sizeGrid * 2 $sizeGrid * 2.5;

		@include respond-to(X_LARGE) {
			padding: $sizeGrid * 2;
		}

		@include respond-to(LARGE) {
			padding: $sizeGrid * 1.5;
		}

		@include respond-to(MEDIUM) {
			padding: $sizeGrid;
		}

		&:after {
			position: absolute;
			bottom: 0;
			content: '';
		}
	}

	.heading {
		margin-bottom: $sizeGrid;
	}

	.copy {
		margin-bottom: $sizeGrid;
	}

	/**
	 * Alignment changes
	 */
	&.left-aligned {
		.content {
			@include pos(auto, auto, 0, $sizeGrid * 2);
			width: $sizeGrid * 18;

			&:after {
				@include triangle(left, bottom, $colorWhite, $sizeGrid);
				right: -$sizeGrid;
			}
		}
	}

	&.right-aligned {
		.content {
			@include pos(auto, $sizeGrid * 2, 0, auto);
			width: $sizeGrid * 18;

			&:after {
				@include triangle(right, bottom, $colorWhite, $sizeGrid);
				left: -$sizeGrid;
			}
		}
	}

	/**
	 * Windowed means white borders around the block
	 */
	&.windowed {
		&.left-aligned,
		&.right-aligned {
			.content {
				width: $sizeGrid * 16;
			}
		}

		&.cropped-image {
			.content {
				width: $sizeGrid * 18;
			}
		}
	}

	/**
	 * Do we want to mask out the image or not
	 */
	&.cropped-image {
		.content {
			width: $sizeGrid * 20;
		}

		&.left-aligned {
			.content {
				@include pos(0, auto, 0, 0);
			}
		}

		&.right-aligned {
			.content {
				@include pos(0, 0, 0, auto);
			}
		}
	}

	@include respond-to(SMALL) {
		height: auto;
		margin-left: 0 !important;

		.image {
			@include aspect-ratio(640px, 580px);
		}

		.content {
			position: relative;
			margin-top: -$sizeGrid*8;
			@include pos(auto, auto !important, auto !important, auto !important);
			width: calc(100% - #{$sizeGrid}) !important;

			&:after {
				bottom: auto;
				top: $sizeGrid*7;
			}
		}

		.copy {
			margin-bottom: $sizeGrid*3;
		}

		&.left-aligned { }

		&.right-aligned {
			.content {
				margin-left: $sizeGrid;
			}
		}
	}
}
