.component-block-more {
	background: $colorLightGrey;
	padding: $sizeGrid * 3 0 $sizeGrid * 1;

	.header {
		margin-bottom: $sizeGrid;

		.heading {
			display: inline-block;
			text-transform: uppercase;
		}

		.tags {
			display: inline-block;
			margin-left: $sizeGrid / 2;
		}

		.component-button-tag {
			display: inline-block;
		}
	}

	.latest-articles {
		@include size(100%, auto);
		font-size: 0;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;

		.component-block-article-teaser {
			display: inline-block;
			margin-bottom: $sizeGrid * 2;
		}
	}

	@include respond-to(LARGE) {
		.latest-articles {
			justify-content: center;
		}
	}

	@include respond-to(SMALL) {

		.latest-articles {
			padding-left: $sizeGrid;
			padding-right: $sizeGrid;

			.component-block-article-teaser:not(:nth-child(-n+2)) {
				display: none;
			}

		}

		.header {
			padding-left: $sizeGrid*2;
			padding-right: $sizeGrid*2;

			.heading {
				margin-bottom: $sizeGrid*2;
			}

			.component-button-main {
				margin-bottom: $sizeGrid*2;
			}
		}
	}
}
