.component-block-filter-content {
	padding: 0 0 $sizeGrid*2; // temp
	background: $colorLightGrey;

	.content-items {
		margin-top: $sizeGrid*2;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;

		.component-block-article-teaser {
			display: inline-block;
			margin-bottom: $sizeGrid * 2;
		}

		.component-block-info {
			margin-left: 0;
			margin-bottom: $sizeGrid * 2;

			.clip-mask {
				background: $colorLightGrey;
			}
		}
	}

	// Breakpoints
	@include respond-to(LARGE) {
		.content-items {
			justify-content: center;

			.component-block-info {
				margin-left: auto;
			}
		}
	}

	@include respond-to(SMALL) {
		.load-more-button-wrapper {
			padding-left: $sizeGrid;
			padding-right: $sizeGrid;
			margin-bottom: 2px;

			.button {
				display: block;
				margin-left: 0;
			}
		}
	}
}
