.component-block-image-carousel {

	.slider-viewport {
		width: 100%;
		overflow: hidden;
		padding: 0 $sizeGrid * 3 0 $sizeGrid * 4;
		margin-bottom: $sizeGrid;
	}

	.slides {
		@extend %reset-list;
		@include aspect-ratio(1160px, 600px);
		white-space: nowrap;
		font-size: 0;
	}

	.slide {
		figure {
			position: relative;

			&:after {
				@include pos(auto, 0, 0, auto);
				@include triangle(right, bottom, $colorWhite, $sizeGrid);
				position: absolute;
				content: '';
			}

			&:before {
				@include pos(auto, 0, 0, 0);
				@include size(100%, 25%);
				background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .25) 100%);
				content: '';
				position: absolute;
			}
		}

		img {
			@include size(100%);
		}

		figcaption {
			@include pos(auto, auto, $sizeGrid * 2, $sizeGrid * 2);
			position: absolute;
		}

		.theme-light {
			color: $colorWhite;
		}

		.theme-dark {
			color: $colorPrimary;
		}
	}

	.component-paginator-dashed {
		margin-top: $sizeGrid*2;
	}

	.component-button-play-circle {
		@include abs-center($sizeGrid * 2);
	}

	@include respond-to(SMALL) {
		.slider-viewport {
			padding: 0 $sizeGrid 0 0;
		}
	}
}
