.component-block-map-tertiary {
	position: relative;

	.background {
		background-size: cover;
	}

	.slide-wrapper {
		width: calc(100% - #{$sizeGrid * 3});
		margin-left: $sizeGrid * 3;
	}

	.slides {
		@include aspect-ratio(1100px, 550px);
		background: $colorLightGrey
	}

	.component-map-pagination{
		margin-top: $sizeGrid;
	}
}
