.component-block-path-to-purchase {
	$stepHeight: 7 * $sizeGrid;
	$stepWidth: 7 * $sizeGrid;
	@include aspect-ratio(36 * $sizeGrid, 15 *$sizeGrid);

	.background-image {
		@include size(100%);
	}

	.steps {
		@extend %reset-list;
		display: flex;
		justify-content: center;
		overflow: visible;
	}

	.slider-viewport {
		@include pos(auto, auto, $sizeGrid * 2, 50%);
		@include size(auto, $stepHeight);
		position: absolute;
		overflow: visible;
		transform: translateX(-50%);
	}

	.step {
		@include size($stepWidth, $stepHeight);
		vertical-align: top;
		font-size: 0;
		display: flex;
		position: relative;
		cursor: pointer;
		color: $colorWhite;
		transition: color .2s ease(easeInOut);

		@include hover() {
			color: $colorLightGrey;
		}

		&.is-active {
			color: $colorPrimary;

			.step-content {
				.copy {
					color: $colorWhite;
				}
			}

			@include hover() {
				color: $colorPrimary;
			}
		}

		&:after {
			@include size(1px, $stepHeight - $sizeGrid);
			position: absolute;
			right: 0;
			background: $colorBorder;
			content: '';
		}

		.step-content {
			@include size($stepWidth - $sizeGrid, 100%);
			background: currentColor;
			display: inline-block;
			padding-top: $sizeGrid;
			padding-bottom: $sizeGrid;
			vertical-align: top;
			text-align: left;
			transition: background .2s ease(easeInOut);

			.copy {
				margin-left: $sizeGrid / 2;
				color: $colorPrimary;
			}

			.copy-02 {
				margin-bottom: $sizeGrid / 2;
			}
		}

		.step-edge {
			@include size($sizeGrid, $stepHeight - $sizeGrid);
			background: currentColor;
			display: inline-block;
			position: relative;
			vertical-align: top;
			transition: background .2s ease(easeInOut);

			&:after {
				@include triangle(left, top, currentColor, $sizeGrid);
				@include pos(auto, 0, -$sizeGrid, auto);
				position: absolute;
				content: '';
				transition: border-color .2s ease(easeInOut);
			}
		}

		/**
		 * Every 1st block
		 */
		&:nth-child(1n + 0) {

			&:after {
				top: 0
			}

			.step-content {
				order: 1;
				padding-right: 0;
				padding-left: $sizeGrid;
			}

			.step-edge {
				order: 2;

				&:after {
					@include triangle(left, top, currentColor, $sizeGrid);
					@include pos(auto, 0, -$sizeGrid, auto);
				}
			}
		}

		/**
		 * Every 2nd block
		 */
		&:nth-child(2n + 0) {
			transform: translateY(-$sizeGrid);

			&:after {
				top: $sizeGrid;
			}

			.step-content {
				order: 2;
				padding-left: 0;
				padding-right: $sizeGrid;
			}

			.step-edge {
				order: 1;
				margin-top: $sizeGrid;

				&:after {
					@include triangle(right, bottom, currentColor, $sizeGrid);
					@include pos(-$sizeGrid, 0, auto, auto);
				}
			}
		}

		/**
		 * Every 3rd block
		 */
		&:nth-child(3n + 0) {

			&:after {
				top: 0;
			}

			.step-content {
				order: 1;
				padding-right: 0;
				padding-left: $sizeGrid;
			}

			.step-edge {
				order: 2;
			}

		}

		/**
		 * Every 4th block
		 */
		&:nth-child(4n + 0) {
			transform: translateY(-$sizeGrid);

			&:after {
				top: $sizeGrid;
			}

			.step-content {
				order: 1;
				padding-left: $sizeGrid;
			}

			.step-edge {
				order: 2;

				&:after {
					@include triangle(left, bottom, currentColor, $sizeGrid);
					@include pos(-$sizeGrid, 0, auto, auto);
				}
			}
		}

		&:last-child {
			&:after {
				display: none;
			}
		}
	}

	// Breakpoints
	@include respond-to(SMALL) {

		&:before {
			display: none;
		}

		.inner-wrapper {
			position: relative;
			height: auto;
		}

		.background-image {
			display: none;
		}

		.steps {
			height: 100%;
		}

		.slider-viewport {
			overflow: hidden;
			transform: none;
			position: relative;
			left: $sizeGrid;
			bottom: 0;
			@include size(calc(100vw - #{$sizeGrid*2}), $sizeGrid*12);
		}

		.step {
			@include coverer();
			@include size(100%);

			&:nth-child(2n + 0) {
				transform: none;
			}

			&:nth-child(4n + 0) {
				transform: none;
			}


			@include hover() {
				color: $colorWhite;
			}

			&.is-active {
				color: $colorWhite;

				.step-content {
					.copy {
						color: $colorPrimary;
					}
				}

				@include hover() {
					color: $colorPrimary;
				}
			}

			.step-content {
				padding: $sizeGrid*2 !important;
				width: calc(100% - #{$sizeGrid});
				border-top: 1px solid $colorBorder;
				border-left: 1px solid $colorBorder;
				border-bottom: 1px solid $colorBorder;
				order: 0!important;;

				.copy-02 {
					font-size: mobile-size(3.5rem);
					margin-top: $sizeGrid/2;
				}
			}

			.step-edge {
				height: calc(100% - #{$sizeGrid});
				border-top: 1px solid $colorBorder;
				border-right: 1px solid $colorBorder;
				margin-top: 0!important;
				order: 1!important;

				&:after {
					border: none !important;
					width: 1px !important;
					height: $sizeGrid*1.5 !important;
					transform: rotate(#{$angle}deg) !important;
					background-color: $colorBorder;
					@include pos(auto !important, 0 !important, -$sizeGrid*1.5 !important, auto !important);
					transform-origin: right top;
				}
			}

			&:after {
				display: none;
			}
		}

	}
}
