.component-block-how-to-advertise {

	.header {
		padding: $sizeGrid * 3 $sizeGrid * 3 $sizeGrid * 1;

		.heading {
			margin-bottom: $sizeGrid;
		}

		.component-button-main {
			margin-bottom: $sizeGrid;
		}
	}

	.advertisement-steps {
		@include size(100%, $sizeGrid * 8);
		display: block;
	}

	.steps {
		@extend %reset-list;
		white-space: nowrap;
	}

	.step {
		@include size($sizeGrid * 7);
		display: inline-block;

		figure {
			@include size($sizeGrid * 7);
			position: relative;
		}

		.icon {
			@include size($sizeGrid * 5);
		}
	}
}
