.component-block-network-overview {

	.network-list-wrapper {
		padding-bottom: $sizeGrid;
	}

	.network-list {
		display: inline-block;
	}

	.network-row {
		white-space: nowrap;
		font-size: 0;
		border-top: 1px solid rgba(#323232, 0.2);
		border-right: 1px solid rgba(#323232, 0.2);

		&:last-child {
			border-bottom: 1px solid rgba(#323232, 0.2);
		}
	}

	.network-logo {
		opacity: .2;
		transition: opacity .2s ease(easeInOut);
	}

	.component-scroll-bar {
		left: $sizeGrid * 4;
		right: $sizeGrid * 4;
	}

	.network-list-item {
		@include size($sizeGrid*6);
		display: inline-block;
		filter: grayscale(100%);
		border-left: 1px solid rgba(#323232, 0.2);
		position: relative;
		transition: filter .2s ease(easeInOut);

		@include hover() {
			filter: grayscale(0%);

			.network-logo {
				opacity: 1;
			}
		}
	}
}
