.component-block-small-info {
	font-size: 0;

	.site-frame {
		padding: $sizeGrid * 2 $sizeGrid * 5;
	}

	.description,
	.introduction {
		@include size(50%, auto);
		display: inline-block;
		vertical-align: top;
	}

	.copy {
		margin-top: $sizeGrid;
	}

	.component-button-main {
		margin-top: $sizeGrid;
	}

	// Breakpoints
	@include respond-to(SMALL) {
		.site-frame {
			padding-left: $sizeGrid*2;
			padding-right: $sizeGrid*2;
		}

		.description,
		.introduction {
			width: 100%;
		}

		.component-button-main {
			margin-top: $sizeGrid*3;
		}
	}
}
