.component-block-image-call-to-actions {
	@include aspect-ratio(1600px, 640px);
	position: relative;

	.call-to-actions-content {
		font-size: 0;

		a {
			text-decoration: none;
			position: relative;
			color: $colorPrimary;
			height: 100%;
			display: inline-block;

			@include hover() {
				.copy {
					opacity: 1;
					transform: translateY(0);
				}
			}
		}

		.heading {
			margin: $sizeGrid / 2 auto $sizeGrid / 2 $sizeGrid / 2;
		}

		.copy {
			margin-left: $sizeGrid / 2;
			transform: translateY(100%);
			opacity: 0;
			transition: transform .2s ease(easeOut), opacity .2s ease(easeOut);
		}
	}

	.text-wrapper {
		@include pos($sizeGrid * 3, 0, auto, 0);
		padding: 0 $sizeGrid * 2;
		position: absolute;
	}

	.blurred-image {
		opacity: 0;
		transition: opacity .2s ease(easeInOut);
	}

	.call-to-action-image {
		&.is-active {
			.blurred-image {
				opacity: 1;
			}
		}
	}
}
