.component-block-how-to-advertise {

	.header {
		padding: $sizeGrid * 3 0 $sizeGrid * 1;

		.heading {
			margin-bottom: $sizeGrid;
		}

		.component-button-main {
			margin-bottom: $sizeGrid;
		}
	}

	.advertisement-steps {
		@include size(100%, $sizeGrid * 8);
		display: block;
		padding-bottom: $sizeGrid;
	}

	.steps {
		@extend %reset-list;
		white-space: nowrap;
		display: inline-block;
	}

	.step {
		@include size($sizeGrid * 15, $sizeGrid * 7);
		display: inline-block;
		white-space: nowrap;
		line-height: $sizeGrid * 7;
		overflow: hidden;
		transition: max-width .2s ease(easeInOut);
		cursor: pointer;

		figure {
			@include size($sizeGrid * 7);
			position: relative;
			display: inline-block;
			vertical-align: top;
			border-radius: 100%;
			background: $colorLightGrey;
			transition: background .2s ease(easeInOut);
			border: 4px solid $colorLightGrey;
		}

		.icon {
			@include size($sizeGrid * 5);
		}

		aside {
			@include size($sizeGrid * 8, auto);
			display: inline-block;
			padding: $sizeGrid;
			vertical-align: middle;
			white-space: normal;
		}
	}

	// Breakpoints
	@include respond-to(SMALL) {
		padding: 0 $sizeGrid*2;

		.header {
			padding: 0 0 $sizeGrid*4;

			.heading {
				margin-bottom: $sizeGrid*2;
			}

			.component-button-main {
				margin-bottom: 0;
			}
		}

		.advertisement-steps {
			height: auto;
		}

		.steps {
			text-align: center;
		}

		.step {
			width: calc(100vw - 16rem);
			max-width: calc(100vw - 16rem) !important;
			height: auto;
			white-space: normal;

			aside {
				width: 100%;
			}

			.copy-02 {
				margin-bottom: $sizeGrid/2;
			}
		}

		figure {
			@include size($sizeGrid * 8 !important);
		}
	}
}
