.component-block-text {

	.site-frame {
		padding-left: $sizeGrid * 7;
		padding-right: $sizeGrid * 7;
	}

	.overrule-overlap {
		background: $colorWhite;
		padding: $sizeGrid;
	}

	h1, h2, h3, h4 {
		@extend %heading-07;
		padding-bottom: $sizeGrid/2;
	}

	p {
		@extend %copy-01;
		display: block;

		&:not(:first-child) {
			margin-top: $sizeGrid;
		}
	}

	.align-left,
	.align-right,
	.align-center {
		display: inline-block;
	}

	.align-left {
		text-align: left;
	}

	.align-center {
		text-align: center;
	}

	.align-right {
		text-align: right;
	}

	@include respond-to(LARGE) {
		.site-frame {
			padding-left: $sizeGrid;
			padding-right: $sizeGrid;
		}
	}

	// Breakpoints
	@include respond-to(SMALL) {

		h1, h2, h3, h4 {
			font-size: mobile-size(3.5rem);
			padding-bottom: $sizeGrid;
		}

		p {
			font-size: mobile-size(2.8rem);
		}
	}
}
