.component-block-quote {

	.quote-wrapper {
		padding: $sizeGrid * 2;
		background: $colorLightGrey;
		font-size: 0;
	}

	.image-placeholder {
		@include size($sizeGrid * 5);
		display: inline-block;
		vertical-align: top;
		position: relative;

		img {
			@include size(100%);
		}

		.copy {
			display: none;
		}

		&:after {
			@include triangle(right, bottom, $colorLightGrey, $sizeGrid);
			@include pos(auto, 0, 0, auto);
			content: '';
			position: absolute;
		}
	}

	aside {
		@include size(calc(100% - #{$sizeGrid * 5}), auto);
		vertical-align: top;
		display: inline-block;
		padding: $sizeGrid $sizeGrid * 2;
	}

	.heading {
		margin-bottom: $sizeGrid;
	}

	@include respond-to(SMALL) {
		padding-left: $sizeGrid;
		padding-right: $sizeGrid;

		.image-placeholder {
			@include size(100%, auto);

			img {
				@include size($sizeGrid * 4);
				vertical-align: middle;
				display: inline-block;
				margin-right: $sizeGrid;
			}

			.copy {
				display: inline-block;
				vertical-align: middle;
			}
		}

		.heading {
			font-size: mobile-size(2.4rem);
			margin-bottom: 0;
		}

		aside {
			width: 100%;
			padding: $sizeGrid 0 0 0;

			.copy {
				display: none;
			}
		}
	}
}
