.component-block-quote-secondary {

	.site-frame {
		padding-left: $sizeGrid * 7;
		padding-right: $sizeGrid * 7;
	}

	.quote-content {
		border-left: 5px solid $colorSecondary;
		padding-left: $sizeGrid;
	}

	.heading {
		padding-bottom: $sizeGrid;
	}

	.copy {
		font-weight: 600;
	}
}
