.component-block-article-teaser {
	@include size(16 * $sizeGrid, 8 * $sizeGrid);
	font-size: 0;
	display: inline-block;
	position: relative;
	background: $colorWhite;
	overflow: hidden;
	backface-visibility: hidden;

	aside {
		@include size(8 * $sizeGrid, 100%);
		@include pos(0, auto, 0, 0);
		position: absolute;
		padding: $sizeGrid;
		color: $colorPrimary;

		.heading {
			margin-bottom: $sizeGrid / 2;
		}

		.copy-01 {
			margin-bottom: $sizeGrid;
			transition: opacity .2s ease(easeOut);
		}

		.tags {
			transition: opacity .2s ease(easeOut);
		}

		.component-button-tag {
			&:not(:first-child) {
				margin-left: $sizeGrid / 4;
			}
		}
	}

	figure {
		clip: rect(0, $sizeGrid * 16, $sizeGrid * 8, $sizeGrid * 8);
		transition: clip .2s ease(easeOut);

		img {
			transform: translateX(10%);
			transition: transform .2s ease(easeOut);
			width: 100%;
		}

		&:after {
			@include triangle(left, bottom, $colorWhite, $sizeGrid);
			@include pos(auto, $sizeGrid * 7, 0, auto);
			position: absolute;
			content: '';
			transition: transform .2s ease(easeOut), opacity .2s ease(easeOut);
		}
	}

	@include hover() {
		figure {
			clip: rect(0, $sizeGrid * 16, $sizeGrid * 8, 0);

			&:after {
				transform: translateX(-$sizeGrid * 9);
				opacity: 0;
			}

			img {
				transform: translateX(0);
			}
		}

		aside {
			.tags,
			.copy {
				opacity: 0;
			}
		}
	}

	@include respond-to(SMALL) {
		@include size(100%, auto);
		text-decoration: none;

		figure {
			@include aspect-ratio(576px, 390px);
			height: auto;

			img {
				position: absolute;
				@include offset(0, 0);
				@include size(100%);
				transform: none;
			}

			&:after {
				right: auto;
				left: 0;
			}
		}

		aside {
			position: relative;
			width: 100%;
			padding: $sizeGrid*2;

			.copy {
				margin-bottom: $sizeGrid*2;
			}
		}
	}
}
