.component-block-persona-selector {
	$buttonWidth: $sizeGrid * 8;
	$buttonHeight: $sizeGrid * 3.5;
	$animationDuration: .3s;
	$ease: ease(easeInOut);
	@include aspect-ratio(1600px, 880px);
	position: relative;

	.persona-content-wrapper {
		overflow: hidden;
	}

	.background-image {
		.image {
			background-size: cover;
			opacity: 0;
			transition: opacity .8s ease(linear)
		}

		.is-active {
			opacity: 1;
		}
	}

	.background-triangle {
		@include arrow(right, $colorWhite, $sizeGrid * 40);
		@include pos(calc(50% + #{$sizeGrid * 2}), auto, auto, -$sizeGrid * 3);
		transform: translateY(-50%);
		position: absolute;
	}

	.persona-content {
		@include size($sizeGrid * 11, auto);
		@include pos(50%, auto, auto, 0);
		transform: translateY(-50%);
		position: absolute;
		z-index: 1;
		padding-left: $sizeGrid * 3;

		.heading {
			margin-bottom: $sizeGrid;
		}

		.copy {
			margin-bottom: $sizeGrid;
		}
	}

	.persona-options {
		@extend %reset-list;
		@include size(auto, $sizeGrid * 4);
		@include pos(auto, $sizeGrid * 2, $sizeGrid * 2, $sizeGrid * 2);
		font-size: 0;
		position: absolute;
	}

	.persona-option {
		@include size(25%, $buttonHeight);
		display: inline-block;

		@include hover() {
			.persona-button {
				color: $colorSmallBusinesses;

				.label {
					color: $colorWhite;
				}

				.pagination-number {
					color: $colorWhite;

					&:after {
						opacity: 0;
					}
				}
			}

			.small_business {
				color: $colorSmallBusinesses;
			}

			.automotive {
				color: $colorAutomotive;
			}

			.enterprise {
				color: $colorEnterprise;
			}

			.local_media_buying {
				color: $colorLocalMedia;
			}
		}

		&.is-active {
			.persona-button {
				color: $colorSmallBusinesses;

				.label {
					color: $colorWhite;
				}

				.pagination-number {
					color: $colorWhite;

					&:after {
						opacity: 0;
					}
				}
			}

			.small_business {
				color: $colorSmallBusinesses;
			}

			.automotive {
				color: $colorAutomotive;
			}

			.enterprise {
				color: $colorEnterprise;
			}

			.local_media_buying {
				color: $colorLocalMedia;
			}
		}
	}

	.persona-button {
		@include size(calc(100% - #{$sizeGrid}), $buttonHeight);
		color: $colorWhite;
		transition: background #{$animationDuration} #{$ease};
		text-align: left;
		margin-right: $sizeGrid;
		overflow: visible; // Dafuq, without this IE does not show pseudo elements

		&:after {
			@include size($sizeGrid, $buttonHeight - $sizeGrid);
			@include pos(0, -$sizeGrid, auto, auto);
			position: absolute;
			content: '';
			background: currentColor;
			transition: all #{$animationDuration} #{$ease};
		}

		&:before {
			@include triangle(left, top, currentColor, $sizeGrid);
			@include pos(auto, -$sizeGrid, 0, auto);
			transition: all #{$animationDuration} #{$ease};
			position: absolute;
			content: '';
		}

		.label-wrapper {
			@include size(100%);
			line-height: $buttonHeight;
			background: currentColor;
			transition: all #{$animationDuration} #{$ease};
			display: block;
			position: relative;
			padding-left: $sizeGrid;
		}

		.label {
			display: inline-block;
			vertical-align: middle;
			color: $colorPrimary;
			line-height: 1rem;
			position: relative;
			padding-left: $sizeGrid / 2;
		}

		.copy-01 {
			font-weight: 600;
		}

		.pagination-number {
			@include pos(0, auto, auto, 0);
			transform: translateY(-50%);
			position: absolute;
			transition: color #{$animationDuration} #{$ease};

			&:after {
				transition: opacity #{$animationDuration} #{$ease};
			}
		}
	}

	.slider {
		@include aspect-ratio(16px, 9px);
		display: none;
	}

	.slider-viewport {
		position: absolute;
		width: 100%;
		overflow: hidden;
		padding: 0;
		margin-bottom: $sizeGrid;
	}

	.slides {
		@extend %reset-list;
		@include aspect-ratio(1160px, 600px);
		white-space: nowrap;
		font-size: 0;
	}

	.slide {
		figure {
			position: relative;

			&:after {
				@include pos(auto, 0, 0, auto);
				@include triangle(right, bottom, $colorWhite, $sizeGrid);
				position: absolute;
				content: '';
			}

			&:before {
				@include pos(auto, 0, 0, 0);
				@include size(100%, 25%);
				background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .25) 100%);
				content: '';
				position: absolute;
			}
		}

		img {
			@include size(100%);
		}
	}

	.component-paginator-dashed {
		@include pos(auto, 0, 0, 0);
		position: absolute;
		display: none;
	}

	@include respond-to(XX_LARGE) {
		$buttonHeight: $sizeGrid * 2.5;

		.persona-content {
			.persona {
				width: 100%;
				padding-left: $sizeGrid * 2;
			}
		}

		.persona-button,
		.persona-options,
		.persona-option {
			height: $buttonHeight;
		}

		.persona-button {
			&:after {
				height: $buttonHeight - $sizeGrid;
			}

			.label-wrapper {
				line-height: $buttonHeight;
			}
		}
	}

	@include respond-to(LARGE) {
		$buttonHeight: $sizeGrid * 2;

		.persona-button,
		.persona-options,
		.persona-option {
			height: $buttonHeight;
		}

		.pagination-number {
			display: none;
		}

		.persona-button {
			&:after {
				height: $buttonHeight - $sizeGrid;
			}

			.label-wrapper {
				line-height: $buttonHeight;
			}

			.label {
				padding-left: 0;
			}
		}
	}

	@include respond-to(MEDIUM) {
		.persona-content {
			top: 40%;
		}

		.persona-options {
			bottom: $sizeGrid;
		}
	}

	@include respond-to(SMALL) {
		&:before {
			display: none;
		}

		.persona-content-wrapper {
			@include aspect-ratio(640px, 500px);
			position: relative;
			transform: none;
		}

		.persona-content {
			@include size(100%);
			@include coverer();
			transform: none;
		}

		.persona {
			@include offset(0, $sizeGrid);
			width: 100%;
			padding: 0 $sizeGrid * 2;
			transform: none;
		}

		.persona-options,
		.background-triangle {
			display: none;
		}

		.slider {
			display: block;
		}

		.component-paginator-dashed {
			display: block;
		}
	}
}
