:local {
	.wrapper {
		@include position(0, 0, auto, 50%);
		@include size(100%, $sizeHeader);
		position: fixed;
		transform: translateX(-50%);
		z-index: zindex($layout, header);
		transition: background 0.2s $easeInOut;

		&.is-scrolled {
			background: white;
			box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.08);
		}
	}

	.logo {
		@include position(50%, auto, auto, $sizeHeader);
		transform: translateY(-50%);
		position: absolute;
		cursor: pointer;

		&.is-disabled {
			cursor: default;
		}
	}

	.breadcrumbs {
		@include position(50%, auto, auto, calc(#{$sizeHeader} + 135px + #{$sizeGrid}));
		transform: translateY(-50%);
		position: absolute;
		cursor: pointer;
	}

	.call-to-actions {
		@include position(0, 0, auto, auto);
		position: absolute;
		font-size: 0;
	}

	.button {
		vertical-align: top;
	}

	@include respond-to(XX_LARGE) {
		.breadcrumbs {
			left: calc(#{$sizeHeader} + 120px + #{$sizeGrid});
		}
	}

	@include respond-to(XX_LARGE) {
		.breadcrumbs {
			left: calc(#{$sizeHeader} + 110px + #{$sizeGrid});
		}
	}

	@include respond-to(LARGE) {
		.breadcrumbs {
			left: calc(#{$sizeHeader} + 90px + #{$sizeGrid});
		}
	}

	@include respond-to(MEDIUM) {
		.wrapper {
			@include position(0, 0, auto, 0);
			@include size(100%, $sizeGrid * 2);
			background: $colorWhite;
			transform: none;

			.logo {
				left: $sizeGrid;
			}
		}

		.breadcrumbs {
			display: none;
		}
	}

	@include respond-to(SMALL) {
		.wrapper {
			@include size(100%, $sizeGrid * 4);

			.logo {
				left: $sizeGrid * 2;
			}
		}
	}
}
