:local {
	.wrapper {
		@include position(0, 0, auto, 50%);
		@include size(100%, $sizeHeader);
		position: fixed;
		transform: translateX(-50%);
		z-index: zindex($layout, header);
		transition: background 0.2s $easeInOut;

		&.theme-light {
			display: block;
		}

		&.theme-dark {
			display: block;
		}

		&.is-scrolled {
			background: white;
		}
	}

	.logo {
		@include position(50%, auto, auto, $sizeHeader);
		transform: translateY(-50%);
		position: absolute;
		cursor: pointer;

		&.is-disabled {
			cursor: default;
		}
	}

	.call-to-actions {
		@include position(0, 0, auto, auto);
		position: absolute;
		font-size: 0;
	}

	.button {
		vertical-align: top;
	}

	@include respond-to(MEDIUM) {
		.wrapper {
			@include position(0, 0, auto, 0);
			@include size(100%, $sizeGrid * 2);
			background: $colorWhite;
			transform: none;

			.logo {
				left: $sizeGrid;
			}
		}
	}

	@include respond-to(SMALL) {
		.wrapper {
			@include size(100%, $sizeGrid * 4);

			.logo {
				left: $sizeGrid * 2;
			}
		}
	}
}
