:local {
	$height: $sizeGrid * 2;

	.filter-content-menu {
		@include size(100%, $height);
		position: relative;
	}

	.menu {
		@include size(100%);
		display: flex;
		align-items: center;
		justify-content: flex-start;
		flex-direction: row;
		background: $colorWhite;
		box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.08);
		z-index: 2;
	}

	.dropdown {
		z-index: 1;
	}

	.filters {
		display: flex;
		flex-direction: row;
		flex-grow: 1;
	}

	.button {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 $sizeGridSecondary 0 $sizeGrid;

		.label {
			font: 600 1.2rem / 1 $fontOpenSans;
		}

		.icon {
			circle {
				fill: transparent;
				stroke: currentColor;
				transition: fill 0.2s $easeInOut, stroke 0.2s $easeInOut;
			}
			path {
				fill: currentColor;
				transition: fill 0.2s $easeInOut;
			}
		}
	}

	.main-button {
		@include size($sizeGrid * 5, $height);
		background: $colorTertiary;
		color: white;

		.label {
			text-transform: uppercase;
		}

		.icon {
			@include size(10px);
		}
	}

	.filter {
		flex-grow: 1;

		&:not(:last-child) {
			&:after {
				@include size(1px, 50%);
				@include position(50%, 0, auto, auto);
				transform: translateY(-50%);
				position: absolute;
				content: '';
				background: $colorBorder;
			}
		}
	}

	.filter-button {
		@include size(100%, $height);
		color: $colorPrimary;
		position: relative;

		&:before {
			@include size(100%, 1px);
			@include position(auto, 0, 0, 0);
			transition: transform 0.2s $easeInOut;
			transform-origin: center center;
			position: absolute;
			content: '';
			transform: scaleX(0);
			background: $colorTertiary;
		}

		.icon {
			@include size(20px);
			color: $colorTertiary;
			margin-left: 10px;
		}

		&.is-active {
			&:before {
				transform: scaleX(1);
			}

			.icon {
				circle {
					fill: currentColor;
					stroke: currentColor;
				}
				path {
					fill: $colorWhite;
				}
			}
		}
	}

	.details {
		display: inline-block;
	}

	.badge {
		@include size(auto, 20px);
		min-width: 20px;
		padding: 0 5px;
		display: inline-block;
		border-radius: 15px;
		background: $colorTertiary;
		color: $colorWhite;
		font: 600 1rem / 20px $fontOpenSans;
	}

	@include respond-to(SMALL) {
		$height: mobile-size($sizeGrid * 3);

		.filter-content-menu {
			@include size(100%, auto);
			@include offset(0, -$height);
			position: absolute;
			max-height: $height;
			transition: max-height 0.8s $easeInOutQuart;
			overflow: hidden;

			&.is-active {
				max-height: 480px;
			}
		}

		.button {
			.label {
				font-size: mobile-size(3rem);
			}
		}

		.menu {
			display: block;
			height: auto;
			padding-bottom: $sizeGrid;
		}

		.main-button {
			@include size(100%, $height);
			justify-content: center;

			.icon {
				margin-left: $sizeGrid;
			}
		}

		.badge {
			font-size: 2rem;
		}

		.filter {
			&:not(:last-child) {
				&:after {
					display: none;
				}
			}
		}

		.filter-button {
			@include size(100%, $height);
		}

		.filters {
			@include size(100%, auto);
			@include position(auto, auto, auto, auto);
			//@include offset(0, $height);
			//position: absolute;
			position: relative;
			flex-direction: column;
			background: white;
		}
	}
}
