:local {
	.header {
		padding-top: $sizeGrid;
		margin-bottom: $sizeGrid;

		.date {
			margin-bottom: $sizeGridSecondary;
			font-weight: 800;
		}
	}

	.content {
		.heading {
			margin-bottom: $sizeGridSecondary;
		}
	}

	@include respond-to(SMALL) {
		.header {
			margin-bottom: $sizeGrid * 2;
		}
	}
}
