:local {
	.site-menu-page {
		@include size(100%, auto);
		@include offset(0, 0);
		@extend %reset-list;
		padding: $sizeGrid * 2 $sizeGrid * 3;
		position: absolute;
		transition: transform 0.5s $easeInOutExpo;

		&.left {
			transform: translateX(-100%);
		}

		&.center {
			transform: translateX(0);
		}

		&.right {
			transform: translateX(100%);
		}
	}

	.menu-item {
		display: block;
	}

	.button {
		font: 400 2.4rem / 1 $fontOpenSans;
		border: 0;
		background: transparent;
		padding: $sizeGrid / 2 0;
		display: block;
		width: 100%;
		text-align: left;
		position: relative;

		.center-content {
			display: flex;
			align-items: center;
		}

		.icon {
			@include size($sizeGridSecondary / 2);
			position: relative;

			svg {
				@include offset(0, 0);
				@include size(100%);
				position: absolute;
			}

			path {
				fill: currentColor;
			}
		}

		.label {
			flex-grow: 1;
		}
	}

	.back-button {
		transform: translateX(-$sizeGrid);

		.label {
			margin-left: $sizeGrid / 2;
		}
	}

	.hover-button {
		&:before {
			@include size($sizeGridSecondary, 2px);
			@include offset(0, 50%);
			transform: translateY(-50%) scaleX(0);
			transition: transform 0.2s $easeInOutExpo;
			transform-origin: left center;
			background: $colorSecondary;
			content: '';
			position: absolute;
		}

		.label {
			transition: transform 0.2s $easeInOutExpo;
		}
	}

	.action-button {
		justify-content: space-between;
	}

	.offset {
		.hover-button {
			width: calc(100% - #{$sizeGrid});
			margin-left: $sizeGrid;
		}
	}

	@include respond-to(SMALL) {
		.site-menu-page {
			padding: mobile-size($sizeGrid * 2);
		}

		.button {
			font-size: mobile-size(3.2rem);
			padding: mobile-size($sizeGrid / 2) 0;

			.icon {
				@include size(mobile-size($sizeGridSecondary / 2));
			}
		}
	}
}

@include hover('.hover-button') {
	.label {
		transform: translateX($sizeGridSecondary * 1.5);
	}

	&:before {
		transform: translateY(-50%) scaleX(1);
	}
}
