:local {
	div {
		position: relative;
	}

	.blockWrapper {
		z-index: zindex($layout, content);
	}

	@include respond-to(MEDIUM) {
		.blockWrapper {
			padding-top: $sizeHeader;

			:global {
				// Overrule backend styling because on mobile we never want margin on the first element
				.block-component:first-child {
					margin-top: 0 !important;
				}
			}
		}
	}

	@include respond-to(SMALL) {
		.blockWrapper {
			padding-top: $sizeHeaderMobile;
		}
	}
}
