:local {
	div {
		position: relative;
	}

	.blockWrapper {
		z-index: zindex($layout, content);
	}

	@include respond-to(MEDIUM) {
		.blockWrapper {
			padding-top: $sizeHeader;
		}
	}

	@include respond-to(SMALL) {
		.blockWrapper {
			padding-top: $sizeHeaderMobile;
		}
	}
}
