*/.idea
.idea
.tscache
/build
/docs
/tools/build/.sass-cache
/tools/build/node_modules
/source/drupal/docroot/coverage
.DS_Store
npm-debug.log
/source/drupal/vendor
/source/drupal/var/cache/*
/source/drupal/var/logs/*


# Ignore compiled files
/source/drupal/docroot/version/src/inc/script/app/**/*.js
/source/drupal/docroot/version/src/inc/script/def/**/*.js
/source/drupal/docroot/version/src/inc/script/lib/**/*.js
/source/drupal/docroot/version/src/inc/script/test/**/*.js
/source/drupal/docroot/version

# Compiled styles
/source/drupal/docroot/version/src/inc/style/screen.css

#Drupal public file path
source/drupal/docroot/assets

#Binaire files are generated with composer
source/drupal/bin

#Ignore core and contrib files, use composer
source/drupal/docroot/drivers
source/drupal/docroot/core
source/drupal/docroot/modules/contrib
source/drupal/docroot/modules/mediamonks
source/drupal/docroot/themes/contrib
source/drupal/docroot/themes/mediamonks
source/drupal/docroot/library/contrib
source/drupal/docroot/profiles/contrib
source/drupal/docroot/sites/default/files
drush/contrib
/composer.lock
/source/drupal/var/drupal-settings/example.settings.local.php
