html,
body {
	padding-top: 0;
	height: auto;
	color: $colorPrimary;
}

body {
	overflow-y: scroll;
}

.view {
	height: 100%;
}

.dev-bar {
	@include offset(0, 0);
	position: absolute;
	opacity: .8;
	width: 100%;
	text-align: center;
	line-height: 30px;
	color: #333;
	cursor: pointer;
	background-color: #fff4c8;
	border-bottom: 1px solid #e2d7ae;
	// Special case, always on top of our last z-index variable
	// scss-lint:disable VariableForProperty
	z-index: length($layout) + 2;

	.btn-close {
		position: absolute;
		margin-top: -15px;
		right: 10px;
		top: 50%;
	}
}


/**
 * Define the root font size for the different media queries
 */
@include respond-to(XXX_LARGE) {
	:root {
		font-size: $baseFontSize;
	}
}

@include respond-to(XX_LARGE) {
	:root {
		font-size: $baseFontSize * 0.7;
	}
}

/**
 * All layout imports
 */
@import 'site-frame';



