.site-frame {
	@include center-block();
	@include size(100%, auto);
	position: relative;
	overflow: hidden;
	max-width: $largeSiteFrame;

	/**
	 * Define the site frame sizes for the different media queries
	 */
	//@include respond-to(LARGE) {
	//	max-width: $smallSiteFrame;
	//}
	//
	//@include respond-to(X_LARGE) {
	//	max-width: $mediumSiteFrame;
	//}


	&.windowed {
		padding: 0 $sizeGrid * 2 ;
	}
}
