.copy-01 {
	font: 400 1.6rem / 2.6rem $fontOpenSans;
}

.copy-02 {
	font: 600 1.6rem / 2.4rem $fontOpenSans;
}

.copy-03 {
	font: 400 1.5rem / 2.4rem $fontOpenSans;
}

.copy-04 {
	font: 600 2.6rem / 3.6rem $fontOpenSans;
}

.copy-05 {
	font: 600 2rem / 3rem $fontOpenSans;
}
