// Default Heading Styles.
.heading {

	.highlight {
		color: $colorSecondary;
	}
}

// Open sans extra bold
.heading-01 {
	font: 800 7rem / 1.07 $fontOpenSans;
}

// Open sans extra bold
.heading-02 {
	font: 800 4.5rem / 1.11 $fontOpenSans;
}

// Open sans bold
.heading-03 {
	font: 700 3.6rem / 1.25 $fontOpenSans;
}

// Open sans bold
.heading-04 {
	font: 700 4rem / 1.25 $fontOpenSans;
}

// Open sans regular
.heading-05 {
	font: 400 3.6rem / 1.25 $fontOpenSans;
}

// Open sans regular
.heading-06 {
	font: 400 3rem / 1.23 $fontOpenSans;
}

// Open sans semi-bold
%heading-07,
.heading-07 {
	font: 600 1.8rem / 1.16 $fontOpenSans;

	strong {
		font-weight: 700;
	}
}

// Open sans extra-bold
.heading-08 {
	font: 400 1.4rem / 1.21 $fontOpenSans;

	strong {
		font-weight: 800;
	}
}

// Open sans extra-bold
.heading-09 {
	font: 800 1.2rem / 1.75 $fontOpenSans;
}

// Breakpoints
@include respond-to(XX_LARGE) {
	.heading-01 {
		font-size: 6.5rem;
	}

	.heading-04 {
		font-size: 3.6rem;
	}

	.heading-06 {
		font-size: 2.6rem;
	}
}

@include respond-to(X_LARGE) {
	.heading-01 {
		font-size: 5.5rem;
	}

	.heading-04 {
		font-size: 3.2rem;
	}

	.heading-06 {
		font-size: 2.4rem;
	}
}

@include respond-to(SMALL) {
	.heading-01 {
		font-size: mobile-size(8rem);
	}
	.heading-02 {
		font-size: mobile-size(4.5rem);
	}
	.heading-03 {
		font-size: mobile-size(5rem);
	}
	.heading-04 {
		font-size: mobile-size(4.5rem);
	}
	.heading-05 {
		font-size: mobile-size(4.5rem);
	}
	.heading-06 {
		font-size: mobile-size(5rem);
	}
	.heading-07 {
		font-size: mobile-size(3.5rem);
	}
}
