// Default Heading Styles.
.heading {

	.highlight{
		color: $colorSecondary;
	}
}

// Open sans extra bold
.heading-01 {
	font: 800 6.5rem / 7rem $fontOpenSans;
}

// Open sans extra bold
.heading-02 {
	font: 800 4.5rem / 5rem $fontOpenSans;
}

// Open sans bold
.heading-03 {
	font: 700 3.6rem / 4.5rem $fontOpenSans;
}

// Open sans semi-bold
.heading-04 {
	font: 600 3.6rem / 4.5rem $fontOpenSans;
}

// Open sans regular
.heading-05 {
	font: 400 3.6rem / 4.5rem $fontOpenSans;
}

// Open sans regular
.heading-06 {
	font: 400 2.6rem / 3.2rem $fontOpenSans;
}

// Open sans semi-bold
%heading-07,
.heading-07 {
	font: 600 1.8rem / 2.1rem $fontOpenSans;
}
