:local {
	.download-file-a {
		position: relative;
		width: 100%;
		color: white;
		margin-left: auto;
		margin-right: auto;
		max-width: $largeSiteFrame;

		&:global {
			&.is-windowed {
				border-color: transparent;
				border-left-width: $sizeGrid*4;
				border-right-width: $sizeGrid*4;
			}
		}
	}

	.content {
		background: $colorSecondary;
		color: $colorWhite;
		padding: $sizeGrid * 2;
	}

	.heading {
		margin-bottom: $sizeGrid / 2;
	}

	.bottom {
		@include size(100%, auto);
		margin-top: $sizeGrid * 3;
		display: flex;
		justify-content: space-between;
	}

	@include respond-to(MEDIUM) {
		.download-file-a {
			&:global {
				&.is-windowed {
					border-left-width: $sizeGrid*2;
					border-right-width: $sizeGrid*2;
				}
			}
		}

		.bottom {
			margin-top: $sizeGrid * 2;
		}

		.file-description {
			display: none;
		}
	}

	@include respond-to(SMALL) {
		.copy {
			display: none;
		}
	}
}
