.custom-checkbox {
	// todo: to be styled if needed.
	position: relative;
	font-size: 0;
	cursor: pointer;

	.element {
		display: inline-block;
		position: relative;
		vertical-align: middle;
		cursor: pointer;

		&:after {
		}
	}

	input {
		opacity: 0;
		margin: 0;
		padding: 0;
		border: none;
		outline: none;

		&:checked {
			~ .element:after {
			}
		}
	}

	.text {
		display: inline-block;
		vertical-align: middle;
	}

	&.is-active {
		.element:after {
		}
	}
}
