:local {
	$buttonSize: 5rem;

	.zoom-actions {
		flex-direction: column;
		display: flex;
	}

	.zoom-button {
		@include size($buttonSize);
		border-radius: 100%;
		background: $colorPrimary;
		transition: background-color 250ms $easeLinear;

		&:not(:first-child) {
			margin-top: $sizeGrid / 2;
		}

		svg {
			@include offset(50%, 50%);
			transform: translate(-50%, -50%);
			position: absolute;
		}

		.icon {
			@include size(13px, auto);
			@include offset(50%, 50%);
			min-height: 1px;
			transform: translate(-50%, -50%);
			position: absolute;

			path {
				fill: $colorWhite;
				transition: path 250ms $easeLinear;
			}
		}
	}

	@include respond-to(SMALL) {
		.zoom-button {
			@include size($sizeGrid * 2);
		}
	}
}

@include hover('.zoom-button') {
  background: lighten($colorPrimary, 5%);
}
