p {
	@extend %reset-bmp;
}

%copy-01,
.copy-01 {
	font: 400 1.8rem / 1.625 $fontOpenSans;
}

%copy-02,
.copy-02 {
	font: 600 1.6rem / 1.5 $fontOpenSans;
}

%copy-03,
.copy-03 {
	font: 400 1.5rem / 1.6 $fontOpenSans;
}

.copy-04 {
	font: 600 2.6rem / 1.38 $fontOpenSans;
}

.copy-05 {
	font: 600 2rem / 1.5 $fontOpenSans;
}

.copy-06 {
	font: 400 1.4rem / 1.5 $fontOpenSans;
}

// Breakpoints
@include respond-to(XX_LARGE) {
	.copy-01 {
		font-size: 1.6rem;
	}
}

@include respond-to(X_LARGE) {
	.copy-01 {
		font-size: 1.5rem;
	}
}

@include respond-to(SMALL) {
	.copy-01 {
		font-size: mobile-size(2.8rem);
	}
	.copy-02 {
		font-size: mobile-size(2.2rem);
	}
	.copy-03 {
		font-size: mobile-size(2.8rem);
	}
	.copy-06 {
		font-size: mobile-size(2.8rem);
	}
}
