p {
	@extend %reset-bmp;
}

.copy-01 {
	@extend %copy-01;
}

%copy-02,
.copy-02 {
	font: 600 1.6rem / 1.5 $fontOpenSans;
}

%copy-03,
.copy-03 {
	font: 400 1.5rem / 1.6 $fontOpenSans;
}

.copy-04 {
	font: 600 2.6rem / 1.38 $fontOpenSans;
}

.copy-05 {
	font: 600 2rem / 1.5 $fontOpenSans;
}

.copy-06 {
	font: 400 1.4rem / 1.5 $fontOpenSans;
}

@include respond-to(SMALL) {
	.copy-02 {
		font-size: mobile-size(2.2rem);
	}
	.copy-03 {
		font-size: mobile-size(2.8rem);
	}
	.copy-06 {
		font-size: mobile-size(2.8rem);
	}
}
