spectrum_rest.contact.create_request:
  path: 'api/v1/contact'
  defaults: { _controller: '\Drupal\spectrum_rest\Controller\Contact::createRequest' }
  methods:  [POST]
  requirements:
    _access: 'TRUE'

spectrum_rest.contact.process_response:
  path: 'api/v1/contact/process'
  defaults: { _controller: '\Drupal\spectrum_rest\Controller\Contact::processRequest' }
  methods:  [POST]
  requirements:
    _access: 'TRUE'
