:local {
	.hero-quaternary {
		@include aspect-ratio(1440px, 480px);

		.primary-background-triangle {
			@include position(25%, auto, auto, $sizeGrid * -8);
		}
	}

	.image {
		@include size(240px, 240px);
		@include offset($sizeGrid, $sizeGrid);
		position: absolute;
	}

	.content {
		@include size(33%, auto);
		@include position(auto, auto, $sizeGrid, $sizeGrid * 12);
		position: absolute;
		color: $colorWhite;
		padding: $sizeGrid 0 0 0;
	}

	.sub-heading {
		margin-bottom: $sizeGrid / 2;
	}

	.heading {
		margin-bottom: $sizeGrid / 2;

		h1,
		h2,
		h3 {
			@extend %heading;
			@extend %heading-03;
		}
	}

	.copy {
		margin-bottom: $sizeGrid / 2;

		p {
			@extend %copy-01;
		}
	}

	@include respond-to(X_LARGE) {
		.image {
			@include size(200px, 200px);
		}
	}

	@include respond-to(LARGE) {
		.hero-quaternary {
			@include aspect-ratio(1440px, 600px);
		}
	}

	@include respond-to(MEDIUM) {
		.hero-quaternary {
			@include aspect-ratio(1440px, 700px);

			.primary-background-triangle {
				left: $sizeGrid * -10;
			}
		}

		.content {
			width: 50%;
			left: $sizeGrid * 10;
		}

		.image {
			@include size(180px, 180px);
		}
	}

	@include respond-to(SMALL) {
		.hero-quaternary {
			@include size(100%, 520px);

			&:before {
				display: none;
			}
		}

		.image {
			@include size(100px, 100px);
			top: 20%;
			transform: translateY(-50%);
		}

		.content {
			top: 40%;
			width: auto;
			left: mobile-size($sizeGridMobile * 2);
			right: mobile-size($sizeGridMobile * 2);
		}
	}
}
