:local {
	.audience-teaser {
		display: inline-block;
		padding-bottom: $sizeGrid * 2;
		position: relative;
	}

	.content {
		@include size(100%);
		position: relative;
		display: flex;
		flex-direction: column;
	}

	.image {
		@include size(100%, auto);
		@include aspect-ratio(16px, 9px);
	}

	.button {
		@include position(auto, auto, $sizeGrid / 2, $sizeGrid / 2);
		position: absolute;
	}

	.description {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding-top: $sizeGrid / 2;
	}

	.top {
		color: $colorPrimary;
		text-decoration: none;
		transition: color 0.2s $easeInOutCubic;
	}

	.sub-heading {
		color: $colorTertiary;
		transition: color 0.2s $easeInOutCubic;
		font-weight: 600;
	}

	.copy {
		margin-top: $sizeGrid / 2;
	}

	.gradient-overlay {
		transition: opacity 0.2s $easeLinear;
	}

	.reach-heading {
		margin-bottom: $sizeGrid / 2;
	}

	.reaches {
		@extend %reset-list;
		display: flex;
		justify-content: space-between;
	}

	.reach {
		display: inline-block;
	}

	@include respond-to(SMALL) {
		.image {
			margin-bottom: mobile-size($sizeGridMobile * 2);
		}

		.description {
			padding: 0 $sizeGridMobile * 2;
		}

		.copy {
			margin-bottom: mobile-size($sizeGridMobile * 2);
		}
	}
}

:global .added-padding {
	:local {
		.description {
			padding: $sizeGrid $sizeGrid 0 $sizeGrid;
		}

		.bottom {
			margin-top: $sizeGrid;
		}
	}
}

@include hover('.audience-teaser') {
	.gradient-overlay {
		opacity: 0;
	}

	.top,
	.sub-heading {
		color: $colorSecondary;
	}
}
