/**
 *	Page - index
 */

.view.view-index {
	$barSize: calc((100% - #{$largeSiteFrame}) / 2);
	width: 100%;
	height: auto;
	position: relative;
	z-index: zindex($layout, content);

	[data-gaia-container="index"] {
		width: 100%;
		z-index: 0;
		position: relative;
		overflow: hidden;
	}

	@include respond-to(SMALL) {
		.component-button-start-advertising {
			display: none;
		}
	}

	/**
	 * Development grid
	 */
	.grid {
		@include pos(50%, auto, auto, 50%);
		@include size($largeSiteFrame);
		transform: translate(-50%, -50%);
		pointer-events: none;
		position: fixed;
		font-size: 0;
		display: none;
		backface-visibility: hidden;
		white-space: nowrap;
		overflow: hidden;

		.base-grid {
			@include size(100%);
			@include coverer();
		}

		.regular-grid {
			.row {

				&:nth-child(odd) {
					background: rgba(255, 0, 0, .1);
				}

				&:nth-child(even) {
					background: rgba(0, 255, 0, .1);
				}
			}
		}

		.angle-grid {
			@include size(100vw);
			transform: rotate(#{$angle}deg);

			.row {
				border-left: 1px solid rgba(0, 0, 0, .2);
				border-right: 1px solid rgba(0, 0, 0, .2);

				&:first-child {
					border-left-width: 2px;
				}

				&:last-child {
					border-right-width: 2px;
				}
			}
		}

		.row {
			@include size($sizeGrid, 100%);
			display: inline-block;
		}

		&.is-active {
			display: block;
		}


		@include respond-to(SMALL) {
			@include size(100vw, 100vh);
			@include pos(0, 0, 0, 0);
			overflow: hidden;
			transform: none;

			.angle-grid {
				@include size(100vh);
			}
		}
	}
}
