:local {
	.persona-selector-mobile-carousel {
		@include aspect-ratio(16px, 9px);
		display: block;
	}

	.slider-viewport {
		position: absolute;
		width: 100%;
		overflow: hidden;
		padding: 0;
		margin-bottom: $sizeGrid;
	}

	.slides {
		@extend %reset-list;
		@include aspect-ratio(1160px, 600px);
		white-space: nowrap;
		font-size: 0;
	}

	.slide {
		figure {
			position: relative;

			&:after {
				@include position(auto, 0, 0, auto);
				@include triangle(right, bottom, $colorWhite, $sizeGrid);
				position: absolute;
				content: '';
			}

			&:before {
				@include position(auto, 0, 0, 0);
				@include size(100%, 25%);
				background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .25) 100%);
				content: '';
				position: absolute;
			}
		}

		img {
			@include size(100%);
		}
	}

}
