:local {
	.triangle {
		@include arrow(right, rgba($colorPrimary, .95), $sizeGrid * 40);
		@include position(50%, auto, auto, 0);
		transform: translateY(-50%);
		position: absolute;
		pointer-events: none;
	}
}
