%link-main {
	position: relative;
	font: 700 1rem / 1.3 $fontOpenSans;
	display: inline-block;
	color: currentColor;

	&:before {
		position: absolute;
		@include position(auto, 0, -1px, 0%);
		@include size(0%, 1px);
		content: '';
		background-color: currentColor;
		transition: width 150ms $easeInOutExpo;
	}

	// Hover State
	@include hover() {
		&:before {
			width: 100%;
		}
	}

	@include respond-to(SMALL) {
		font-size: mobile-size(1.83rem);
	}
}
