// Fonts
$fontArial: Arial, sans-serif;
$fontOpenSans: 'Open Sans', sans-serif;

/**
 * Base font size for REM sizing
 */
$baseFontSize: 10px;

/**
 * Grid sizes
 */
$sizeGrid: 4rem;
$sizeGridSecondary: 3rem;
$sizeGridMobile: 3.2rem;
$sizeHeader: $sizeGrid * 2;
$sizeHeaderMobile: $sizeGrid*4;

/**
 * Site frame sizes
 */
$largeSiteFrame: $sizeGrid * 34;
$smallSiteFrame: $sizeGrid * 18;

// Colors
$colorPrimary: #003057;
$colorSecondary: #009bdb;
$colorTertiary: #009e8c;
$colorQuaternary: #818285;
$colorQuinary: #0077bc;

$colorAutomotive: #009e8c;
$colorLocalMedia: #00629b;
$colorSmallBusinesses: #faa41a;
$colorEnterprise: #500778;

$colorWhite: #fff;
$colorLightGrey: #f8f8f8;
$colorBorder: #e0e0e0;

$colorValidationError: red;
$colorValidationSuccess: $colorTertiary;

$layout: content, menu, header, panel, video-overlay, notification, inlineLoader, pageLoader;
