.component-button-secondary {
	@include size(auto, 5rem);
	font: 800 1rem / calc(5rem - 2px) $fontOpenSans;
	color: $colorPrimary;
	text-transform: uppercase;
	padding: 0 $sizeGrid / 2;
	display: inline-block;
	position: relative;
	vertical-align: middle;
	z-index: 0;
	border: 1px solid $colorSecondary;
	transition: border-color .2s ease(linear);

	.label {
		display: inline-block;
		vertical-align: top;
	}

	@include hover() {
		border-color: rgba(0, 0, 0, .2);
	}

	// Light Theme
	&.light {
		border-color: rgba(255, 255, 255, .3);

		@include hover() {
			border-color: #fff;
		}
	}

	// Breakpoints
	@include respond-to(SMALL) {
		@include size(auto, mobile-size(10rem));
		font-size: mobile-size(1.8rem);
		line-height: mobile-size(10rem);
		padding: 0 $sizeGrid * 2;
	}
}
