.component-button-menu {
	@include size($sizeGrid * 5, $sizeGrid * 2);
	text-transform: uppercase;
	text-align: left;
	background: $colorPrimary;
	color: $colorWhite;

	span {
		vertical-align: middle;
	}

	.seperator {
		@include size(1px, 4rem);
		background: rgba(#fff, .2);
		display: inline-block;
		margin-left: $sizeGrid;
	}

	.text {
		font: 700 1.2rem / 1 $fontOpenSans;
		margin-left: $sizeGrid;
	}

	.icon {
		@include size($sizeGrid / 2);
		margin-left: $sizeGridSecondary;
	}
}
