.component-button-main {
	@include size(auto, 5rem);
	font: 800 1rem / calc(5rem - 2px) $fontOpenSans;
	color: $colorPrimary;
	text-transform: uppercase;
	padding: 0 $sizeGridSecondary;
	display: inline-block;
	position: relative;
	vertical-align: middle;
	margin-left: $sizeGridSecondary / 2;
	z-index: 0;

	svg {
		overflow: visible;
	}

	rect {
		@include size(100%);
		fill: transparent;
		stroke: rgba(0, 0, 0, .3);
		stroke-width: 1px;

		&.background {
			stroke: rgba(0, 0, 0, .3);
		}

		&.hover-stroke {
			stroke: $colorSecondary;
		}
	}

	.stripe {
		@include size($sizeGridSecondary, .4rem);
		@include pos(calc(50% - .2rem), auto, auto, -$sizeGridSecondary / 2);
		transform: scale(1);
		position: absolute;
		background: $colorSecondary;
	}

	.label {
		display: inline-block;
		vertical-align: top;
	}

	// Light Theme
	&.light {
		color: $colorWhite;

		.stripe {
			background: #000;
		}

		rect {
			&.background {
				stroke: rgba(255, 255, 255, .3);
			}

			&.hover-stroke {
				stroke: #000;
			}
		}
	}

	@include respond-to(X_LARGE) {
		height: 4.5rem;
	}

	// Breakpoints
	@include respond-to(SMALL) {
		@include size(auto, mobile-size(10rem));
		font-size: mobile-size(1.8rem);
		line-height: mobile-size(10rem);
		padding: 0 $sizeGrid * 2;
		margin-left: $sizeGrid;

		.stripe {
			@include size($sizeGrid*2, 1rem);
			left: -$sizeGrid;
		}
	}
}
