.component-button-circle-icon {
	@include size($sizeGrid * 1.5);
	border-radius: 100%;
	border: 1px solid rgba($colorPrimary, .3);
	transition: background-color 250ms ease(linear);

	.icon {
		@include size(12px);
		color: $colorPrimary;
		transition: color 250ms ease(linear);
	}
}
