.component-button-circle-arrow {
	.label {
		font: 800 1.1rem / 1 $fontOpenSans;
		text-transform: uppercase;
		color: $colorWhite;
	}

	.icon {
		@include size($sizeGrid);
	}

	.order-container {
		display: flex;
		align-items: center;

		&.align-left {
			.label {
				order: 1;
				margin-left: $sizeGrid / 2;
			}
			.icon{ order: 0; }
		}

		&.align-right {
			.label {
				order: 0;
				margin-right: $sizeGrid / 2;
			}
			.icon{ order: 1; }
		}

	}

	svg {
		backface-visibility: hidden;

		path {
			fill: currentColor;
		}

		circle {
			fill: transparent;
			stroke: $colorWhite;
			stroke-width: 1px;
			transition: stroke .2s ease(easeInOut), stroke-width .2s ease(easeInOut), opacity .2s ease(easeInOut);
		}
	}

	@include hover() {
		svg {
			circle {
				stroke-width: 0.5rem;
				stroke: $colorSecondary;
				opacity: 1;
			}
		}

	}

	@include respond-to(SMALL) {
		.icon {
			@include size($sizeGrid*3);
		}

		.label {
			font-size: mobile-size(2.2rem);
		}

		.order-container {

			&.align-left {
				.label {
					margin-left: $sizeGrid;
				}

			}

			&.align-right {
				.label {
					margin-right: $sizeGrid;
				}
			}
		}
	}
}
