.component-button-header {
	@include size(auto, $sizeGrid * 2);
	text-transform: uppercase;
	background: $colorPrimary;
	color: $colorWhite;
	text-align: center;
	padding: 0 $sizeGrid;

	span {
		display: inline-block;
		vertical-align: middle;
	}

	.seperator {
		@include size(1px, 4rem);
		background: #fff;
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
	}

	.text {
		font: 700 1.2rem / 1 $fontOpenSans;
	}

	@include respond-to(SMALL) {
		@include size($sizeGrid * 4, $sizeGrid * 4);
		text-align: center;

		.text {
			margin-left: 0;
			font-size: 1.8rem;
		}
	}
}
