.component-button-call-to-reach {
	@include size(auto,  $sizeGrid * 2);
	text-transform: uppercase;
	background: $colorWhite;
	color: $colorPrimary;
	padding: 0 $sizeGrid / 2;

	.text {
		font: 700 1.2rem / 1 $fontOpenSans;
	}

	.icon {
		@include size($sizeGrid / 2);
		margin-left: $sizeGridSecondary;
	}
}
