.component-button-start-advertising {
	$size: $sizeGrid * 10;
	@include pos(0, -$sizeGrid * 3, auto, auto);
	@include size($size / 2, $size);
	position: absolute;
	color: #fff;
	text-align: right;
	pointer-events: none;
	transition: right .2s ease(easeInOut);

	@include hover() {
		right: 0;

		.icon {
			transform: rotate(0);
		}
	}

	.background {
		@include arrow(left, $colorPrimary, $size);
		@include pos(0, 0, auto, auto);
		content: '';
		position: absolute;
		z-index: -1;
	}

	.start-advertising {
		@include pos(50%, 0, auto, auto);
		transform: translate(0, -50%);
		pointer-events: all;
		position: absolute;
	}

	.icon {
		@include size($sizeGrid);
		transform: rotate(180deg);
		transition: transform .2s ease(easeInOut);

		path {
			fill: currentColor;
		}

		circle {
			fill: transparent;
			stroke: $colorWhite;
			stroke-width: 1px;
			transition: stroke .2s ease(easeInOut), stroke-width .2s ease(easeInOut), opacity .2s ease(easeInOut);
		}
	}

	.label {
		@include size($sizeGrid * 2, auto);
		font: 800 1.2rem / 1.2 $fontOpenSans;
		display: inline-block;
		vertical-align: middle;
		text-align: left;
		margin-left: 1rem;
		margin-right: $sizeGrid;
		text-transform: uppercase;
	}

	@include hover() {
		.icon {
			color: $colorWhite;

			circle {
				fill: $colorSecondary;
				stroke: $colorSecondary;
				opacity: 1;
			}
		}
	}
}
