.component-button-header {
	@include size($sizeGrid * 5.5, $sizeGrid * 2);
	text-transform: uppercase;
	text-align: left;
	background: $colorPrimary;
	color: $colorWhite;

	span {
		display: inline-block;
		vertical-align: middle;
	}

	.seperator {
		@include size(1px, 4rem);
		background: rgba(#fff, .2);
		margin-left: $sizeGrid;
	}

	.text {
		font: 700 1.2rem / 1 $fontOpenSans;
		margin-left: $sizeGrid;
	}

	@include respond-to(SMALL) {
		@include size($sizeGrid * 8, $sizeGrid * 4);
		text-align: center;

		.text {
			margin-left: 0;
			font-size: 1.8rem;
		}

		.seperator {
			display: none;
		}
	}
}
