.component-button-start-advertising {
	$size: $sizeGrid * 10;
	@include pos(0, 0, auto, auto);
	@include size($size / 2, $size);
	position: absolute;
	transform: translate(calc(100% - #{$sizeGrid * 2}), 0);
	color: #fff;
	text-align: right;
	display: none; // temp

	.background {
		@include arrow(left, $colorPrimary, $size);
		@include pos(0, 0, auto, auto);
		content: '';
		position: absolute;
		z-index: -1;
	}

	.icon {
		@include size($sizeGrid);

		path {
			fill: currentColor;
		}

		circle {
			fill: transparent;
			stroke: $colorWhite;
			stroke-width: 1px;
			transition: stroke .2s ease(easeInOut), stroke-width .2s ease(easeInOut), opacity .2s ease(easeInOut);
		}
	}

	.label {
		@include size($sizeGrid * 2, auto);
		font: 800 1.2rem / 1.2 $fontOpenSans;
		display: inline-block;
		vertical-align: middle;
		text-align: left;
		margin-left: 1rem;
		margin-right: $sizeGrid;
		text-transform: uppercase;
	}

	@include hover() {
		.icon {
			color: $colorWhite;

			circle {
				fill: $colorSecondary;
				stroke: $colorSecondary;
				opacity: 1;
			}
		}
	}
}
