.component-button-call-to-reach {
	@include size(auto,  $sizeGrid * 2);
	text-transform: uppercase;
	color: $colorPrimary;
	padding: 0 $sizeGrid / 2;

	.text {
		font: 700 1.2rem / 1 $fontOpenSans;
		vertical-align: middle;
		display: inline-block;
	}

	.icon {
		@include size($sizeIcon);
		margin-right: $sizeGrid / 2;

		path {
			fill: currentColor;
		}
	}
}
