.component-button-main {
	@include size(auto, 5rem);
	font: 800 1rem / calc(5rem - 2px) $fontOpenSans;
	color: $colorPrimary;
	text-transform: uppercase;
	padding: 0 $sizeGrid / 2;
	display: inline-block;
	position: relative;
	vertical-align: middle;
	margin-left: $sizeGridSecondary / 2;
	z-index: 0;

	svg {
		overflow: visible;
	}

	rect {
		@include size(100%);
		fill: transparent;
		stroke: rgba(0, 0, 0, .3);
		stroke-width: 1px;
		transition: stroke .2s ease(easeInOut), stroke-width .2s ease(easeInOut);
	}

	&:after {
		@include size($sizeGridSecondary, .4rem);
		@include pos(calc(50% - .2rem), auto, auto, -$sizeGridSecondary / 2);
		transform: scale(1);
		content: '';
		position: absolute;
		background: $colorSecondary;
		transition: all .2s ease(easeInOut);
	}

	.label {
		display: inline-block;
		vertical-align: top;
	}

	// Light Theme
	&.light {
		color: $colorWhite;

		rect {
			stroke: rgba(255,255,255,.3);
		}

		&:after {
			background-color: $colorPrimary;
		}

		// Hover State
		@include hover() {
			rect {
				stroke: $colorWhite;
			}
		}
	}

	// Hover State
	@include hover() {

		&:after {
			transform: scaleX(0);
		}

		rect {
			stroke-width: 0.5rem;
			stroke: $colorSecondary;
		}
	}

	// Breakpoints
	@include respond-to(SMALL) {
		@include size(auto, mobile-size(10rem));
		font-size: mobile-size(1.8rem);
		line-height: mobile-size(10rem);
		padding: 0 $sizeGrid * 2;
		margin-left: $sizeGrid;

		&:after {
			@include size($sizeGrid*2, 1rem);
			left: -$sizeGrid;
		}
	}
}
