.component-button-call-to-reach {
	@include size(auto, $sizeGrid * 2);
	text-transform: uppercase;
	color: $colorPrimary;
	padding: 0 $sizeGrid / 2;

	.theme-light & {
		color: $colorWhite;

	}

	.enable-solid-background & {
		color: $colorPrimary;
	}

	.text {
		font: 700 1.2rem / 1 $fontOpenSans;
		vertical-align: middle;
		display: inline-block;
	}

	.icon {
		@include size($sizeGrid);
		margin-right: $sizeGrid / 2;

		path {
			fill: currentColor;
		}
	}

	@include respond-to(SMALL) {
		@include size(auto, $sizeGrid * 4);
		padding: 0 $sizeGrid;

		.text {
			font-size: mobile-size(2.2rem);
		}

		.icon {
			@include size($sizeGrid * 1.5);
			margin-right: $sizeGrid;
		}
	}
}
