.component-button-start-advertising {
	$size: $sizeGrid * 10;

	@include pos($sizeGrid * 20, 0, auto, auto);
	@include size($size / 2, $size);
	position: absolute;
	transform: translateY(-50%);
	color: #fff;
	text-align: right;

	.background {
		@include arrow(left, $colorPrimary, $size);
		@include pos(0, 0, auto, auto);
		content: '';
		position: absolute;
		z-index: -1;
	}

	.icon {
		@include size($sizeIcon);
	}

	.label {
		@include size($sizeGrid * 2, auto);
		font: 800 1.2rem / 1.2 $fontOpenSans;
		display: inline-block;
		vertical-align: middle;
		text-align: left;
		margin-left: 1rem;
		margin-right: $sizeGrid;
	}
}
