:local {
	.small-info {
		font-size: 0;
	}

	.site-frame {
		padding: $sizeGrid $sizeGrid * 5 $sizeGrid * 2;
	}

	.description {
		padding-left: $sizeGrid;
	}

	.description,
	.introduction {
		@include size(50%, auto);
		display: inline-block;
		vertical-align: top;
	}

	.copy {
		margin-top: $sizeGrid;
	}

	.button {
		margin-top: $sizeGrid;
	}

	@include respond-to(MEDIUM) {
		.site-frame {
			padding-left: $sizeGrid*2;
			padding-right: $sizeGrid*2;
		}
	}

	// Breakpoints
	@include respond-to(SMALL) {
		.description {
			padding-left: 0;
		}

		.description,
		.introduction {
			width: 100%;
		}

		.component-button-main {
			margin-top: $sizeGrid*3;
		}
	}
}
