:local {
	.content {
		width: 60%;
		background: $colorWhite;
		padding: $sizeGrid;
	}

	.heading {
		margin-bottom: $sizeGrid;
	}

	.items {
		@extend %reset-list;
	}

	.item {
		margin-bottom: $sizeGrid;
	}

	.sub-heading {
		margin-bottom: $sizeGrid / 2;
	}


	@include respond-to(MEDIUM) {
		.content {
			width: 80%;
		}
	}

	@include respond-to(SMALL) {
		.content {
			width: 100%;
		}
		.html-content {
			h1,
			h2,
			h3,
			h4 {
				font-size: mobile-size(3.5rem);
				padding-bottom: $sizeGrid;
			}

			p {
				font-size: mobile-size(2.8rem);
			}
		}
	}
}
