:local {
	.button-circle-icon {
		display: flex;
		align-items: center;
		white-space: nowrap;

		&.alignment-left {
			.label {
				order: 1;
				margin-left: $sizeGrid / 2;
			}
			.icon {
				order: 0;
			}
		}

		&.alignment-right {
			.label {
				order: 0;
				margin-right: $sizeGrid / 2;
			}
			.icon {
				order: 1;
			}
		}
	}

	.icon {
		@include size(50px); // Design wants it to be fixed 50px

		svg {
			backface-visibility: hidden;

			path {
				fill: currentColor;
			}

			circle {
				fill: transparent;
				stroke: currentColor;
				stroke-width: 2px;
				transition: stroke 0.2s $easeInOut, stroke-width 0.2s $easeInOut, opacity 0.2s $easeInOut;
			}
		}
	}

	.label {
		font: 600 1.2rem / 1 $fontOpenSans;
		text-transform: uppercase;
		color: currentColor;
		position: relative;
		align-self: center;

		&:before {
			@include size(100%, 1px);
			transform: scaleX(0);
			transform-origin: left center;
			transition: transform 0.2s $easeInOutCubic;
			background: currentColor;
			bottom: -2px;
			left: 0;
			position: absolute;
			content: '';
		}
	}

	.theme-light {
		color: $colorWhite;
	}

	.theme-dark {
		color: $colorPrimary;
	}

	@include respond-to(LARGE) {
		.icon {
			@include size(30px);
		}
	}

	@include respond-to(SMALL) {
		.icon {
			@include size($sizeGrid*2);
		}

		.label {
			font-size: mobile-size(2.2rem);
		}

		.button {
			&.alignment-left {
				.label {
					margin-left: $sizeGrid;
				}
			}

			&.alignment-right {
				.label {
					margin-right: $sizeGrid;
				}
			}
		}
	}
}

@include hover('.button-circle-icon') {
	.label {
		&:before {
			transform: scaleX(1);
		}
	}
	.icon {
		svg {
			circle {
				stroke-width: 5px;
				stroke: $colorSecondary;
				opacity: 1;
			}
		}
	}
}
