@mixin triangle($leftOrRight: left, $topOrBottom:top, $color : #000, $size: 10px, $excludeBase: false) {
	@if $excludeBase == false {
		display: inline-block;
		vertical-align: middle;
		width: 0;
		height: 0;
		font: 0/0 serif;
	}

	@if ($leftOrRight == left) {

		@if ($topOrBottom == top) {
			border-top: $size solid #{$color};
			border-right: $size solid transparent;
			border-bottom: 0;
			border-left: 0;
		} @else if ($topOrBottom == bottom) {
			border-top: $size solid transparent;
			border-right: 0;
			border-bottom: 0;
			border-left: $size solid #{$color};
		}

	} @else if ($leftOrRight == right) {

		@if ($topOrBottom == top) {
			border-top: 0;
			border-right: $size solid #{$color};
			border-bottom: $size solid transparent;
			border-left: 0;
		} @else if ($topOrBottom == bottom) {
			border-top: 0;
			border-right: 0;
			border-bottom: $size solid #{$color};
			border-left: $size solid transparent;
		}
	}
}
