:local {
	.heading {
		margin-bottom: $sizeGrid * 0.5;
		color: $colorSecondary;
	}

	.statistics {
		display: flex;
		margin: 0;
		padding: 0;
		justify-content: space-between;
		align-items: center;
		text-align: center;
	}

	.statistic {
		list-style: none;
		flex-shrink: 0;
		flex-basis: #{100% /3};

		&:nth-child(even) {
			color: $colorSecondary;

			.value {
				background: $colorSecondary;
				color: $colorWhite;
			}
		}

		&:nth-child(odd) {
			color: $colorPrimary;

			.value {
				background: $colorPrimary;
				color: $colorWhite;
			}
		}
	}

	.value {
		@include size(15rem);
		border-radius: 50%;
		display: inline-block;
		font: 2.4rem / 15rem $fontOpenSans;
	}

	.label {
		@include size(100%, auto);
		display: inline-block;
		margin-top: $sizeGrid * 0.5;
		text-transform: uppercase;
		font: 2rem / 1 $fontOpenSans;
	}

	@include respond-to(SMALL) {
		.value {
			@include size(mobile-size(15rem));
			line-height: mobile-size(15rem);
			font-size: mobile-size(2.4rem);
		}

		.label {
			font-size: mobile-size(2rem);
		}
	}
}
