.site-frame {
	@include center-block();
	@include size(100%, auto);
	position: relative;
	overflow: hidden;
	max-width: $largeSiteFrame;

	&.is-small {
		max-width: $smallSiteFrame;

		&.include-padding {
			max-width: $smallSiteFrame + ($sizeGrid * 2);
		}
	}

	&.is-windowed {
		padding: 0 $sizeGrid * 2;
	}

	@include respond-to(X_LARGE) {
		max-width: calc(100vw - #{$sizeGrid * 2});
	}

	@include respond-to(SMALL) {
		max-width: 100%;

		&.is-small {
			max-width: 100%;
			padding: 0 $sizeGridMobile * 2;

			&.include-padding {
				max-width: 100%;
			}
		}
	}
}
