:local {
	.service-button {
		@include size(100%, $sizeGrid*4);
		position: relative;
		background-color: $colorSecondary;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: $sizeGrid * 0.75 $sizeGrid $sizeGrid * 0.75 $sizeGrid;
		text-decoration: none;
		color: $colorWhite;
		text-align: left;
	}

	.sub-heading {
		font-weight: 400;
	}

	.cta {
		color: $colorPrimary;
		position: relative;
		font-weight: 600;

		&:after {
			@include position(50%, -$sizeGrid * 0.5, auto, auto);
			transform: translateY(-50%);
			content: '>';
			position: absolute;
		}
	}

	@include respond-to(SMALL) {
		.service-button {
			display: none;
		}
	}
}
