:local {
	.notification {
		@include size(100%, 100vh);
		@include offset(0, 0);
		min-height: 100vh;
		background: rgba(0, 0, 0, 0.5);
		text-align: center;
		z-index: zindex($layout, notification);
		position: fixed;
	}

	.content-wrapper {
		@include size(80%, auto);
		@include position(50%, auto, auto, 50%);
		max-width: $sizeGridSecondary * 20;
		transform: translate(-50%, -50%);
		position: absolute;
	}

	.close-button {
		position: absolute;
		top: $sizeGrid;
		right: $sizeGrid;
	}

	.content {
		background: white;
		color: black;
		text-align: left;
		padding: $sizeGrid;
	}

	.icon {
		@include size(129px, 90px);
		fill: $colorPrimary;
		margin-bottom: $sizeGrid * 2;
	}

	.heading {
		margin-bottom: $sizeGrid / 2;
		color: $colorSecondary;
		text-transform: uppercase;
	}

	.confirmationActions {
		@include size(100%, auto);
		margin-top: $sizeGrid;
		text-align: center;
		font-size: 0;

		.button:not(:first-child) {
			margin-left: $sizeGrid * 0.5;
		}
	}

	.download-form {
		.input {
			background: $colorWhite;
		}

		.button:not(:first-child) {
			margin-left: 0;
			margin-top: $sizeGrid * 0.5;
		}
	}
}
