:local {
	.button {
		@include size(auto, $sizeGrid * 2);
		text-transform: uppercase;
		background: $colorPrimary;
		color: $colorWhite;
		text-align: center;
		padding: 0 $sizeGrid / 2;
	}

	.label {
		display: inline-block;
		vertical-align: middle;
		font: 700 1.2rem / 1 $fontOpenSans;
	}

	.separator {
		@include size(1px, 4rem);
		background: #fff;
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
	}

	@include respond-to(SMALL) {
		.button {
			@include size($sizeGrid * 6, $sizeGrid * 4);
			text-align: center;
		}

		.label {
			margin-left: 0;
			font-size: 1.8rem;
		}
	}
}
