:local {
	.button-circle-arrow {
		white-space: nowrap;

		.center-content {
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}

	.alignment-left {
		.label {
			order: 1;
			margin-left: $sizeGrid / 2;
		}
		.icon {
			order: 0;
		}
	}

	.alignment-right {
		.label {
			order: 0;
			margin-right: $sizeGrid / 2;
		}
		.icon {
			order: 1;
		}
	}

	.alignment-center {
		.center-content {
			flex-direction: column;
		}

		.label {
			order: 0;
			margin-bottom: $sizeGrid / 2;
		}

		.icon {
			order: 1;
		}
	}

	.theme-light {
		.icon {
			circle {
				stroke: $colorWhite;
			}
		}

		.label {
			color: $colorWhite;
		}
	}

	.theme-dark {
		.icon {
			circle {
				stroke: $colorPrimary;
			}
		}

		.label {
			color: $colorPrimary;
		}
	}

	.small {
		.icon {
			@include size(25px);
		}
	}

	.medium {
		.icon {
			@include size(50px); // Design wants it to be fixed 50px
		}
	}

	.large {
		.icon {
			@include size(75px);
		}
	}

	.icon {
		svg {
			backface-visibility: hidden;

			path {
				fill: currentColor;
			}

			circle {
				fill: transparent;
				stroke-width: 1px;
				opacity: 0.5;
				transition: stroke 0.2s $easeInOut, stroke-width 0.2s $easeInOut, opacity 0.2s $easeInOut;
			}
		}
	}

	.label {
		font: 800 1.2rem / 1 $fontOpenSans;
		text-transform: uppercase;
		align-self: center;
	}

	@include respond-to(SMALL) {
		.icon {
			@include size($sizeGrid*3);
		}

		.label {
			font-size: mobile-size(2.2rem);
		}

		.alignment-left {
			.label {
				margin-left: $sizeGrid;
			}
		}

		.alignment-right {
			.label {
				margin-right: $sizeGrid;
			}
		}

		.alignment-center {
			.label {
				margin-bottom: $sizeGrid;
			}
		}
	}
}

@include hover('.button-circle-arrow') {
	.icon {
		svg {
			circle {
				stroke-width: 0.5rem;
				stroke: $colorSecondary;
				opacity: 1;
			}
		}
	}
}
