:local {
	.video-player-controls {
		@include size(100%, $sizeGrid);
		background: rgba(0, 0, 0, 0.5);
		font-size: 0;
		transform: translateY(100%);
		transition: transform 0.8s $easeOutExpo;

		&.is-active {
			transform: translateY(0);
		}
	}

	.video-player-button {
		@include size($sizeGrid);
		vertical-align: top;
		display: inline-block;
		position: relative;
		color: $colorWhite;

		.icon {
			@include size(20px);

			path {
				fill: currentColor;
			}
		}
	}

	.button-play {
		.play-icon {
			display: block;
		}

		.pause-icon {
			display: none;
		}

		&.is-playing {
			.play-icon {
				display: none;
			}

			.pause-icon {
				display: block;
			}
		}
	}

	.progress {
		@include size(calc(100% - #{$sizeGrid * 2}), 100%);
		display: inline-block;
		vertical-align: top;
		position: relative;

		.progress-bar-wrapper {
			@include size(calc(100% - #{$sizeGrid}), 0.4rem);
			background: rgba(255, 255, 255, 0.1);
			transition: backgroundColor 0.2s $easeLinear, height 0.2s $easeLinear;
		}

		.progress {
			@include position(50%, auto, auto, 0);
			@include size(50%, 100%);
			background: $colorSecondary;
			transform: translateY(-50%);
			position: absolute;
		}

		.knob {
			@include position(50%, auto, auto, 0);
			@include size(1rem);
			margin-top: -0.5rem;
			margin-left: -0.5rem;
			position: absolute;
			background: $colorSecondary;
			opacity: 0;
			border-radius: 100%;

			&:before {
				@include size(3rem);
				@include offset(50%, 50%);
				transform: translate(-50%, -50%);
				position: absolute;
				content: '';
			}
		}
	}

	@include respond-to(SMALL) {
		.video-player-button {
			.icon {
				@include size(10px);
			}
		}
	}
}

@include hover('.progress') {
	.progress-bar-wrapper {
		background: rgba(255, 255, 255, 0.3);
		height: 0.6rem;
	}

	.knob {
		opacity: 1;
	}
}
