imports:
    - { resource: parameters_elastica.yml }

fos_elastica:
    clients:
        default:
            servers: %fos_elastica_servers%
    serializer: ~
    indexes:
        draft:
            index_name: draft_%kernel.environment%
            client: default
            types:
                page:
                    mappings: %fos_elastica_page_mappings%
                    persistence:
                        driver: orm
                        model: Application\Sonata\PageBundle\Entity\Snapshot
                        finder: ~
                        provider: ~
                        listener: %fos_elastica_listener_draft%
                        elastica_to_model_transformer: %fos_elastica_elastica_to_model_transformer%
                tag:
                    mappings: %fos_elastica_tag_mappings%
                    persistence:
                        driver: orm
                        model: App\CoreBundle\Entity\Tag
                        finder: ~
                        provider: ~
                        listener: %fos_elastica_listener_draft%
                        elastica_to_model_transformer: %fos_elastica_elastica_to_model_transformer%
                tab_page:
                    mappings: %fos_elastica_tab_page_mappings%
                    persistence:
                        driver: orm
                        model: App\CoreBundle\Entity\TabPage
                        finder: ~
                        provider: ~
                        listener: %fos_elastica_listener_draft%
                        elastica_to_model_transformer: %fos_elastica_elastica_to_model_transformer%
                tab_page_tab:
                    mappings: %fos_elastica_tab_page_mappings%
                    persistence:
                        driver: orm
                        model: MediaMonks\CoreBundle\Entity\TabPageTab
                        finder: ~
                        provider: ~
                        listener: %fos_elastica_listener_draft%
                        elastica_to_model_transformer: %fos_elastica_elastica_to_model_transformer%

        published:
            index_name: published_%kernel.environment%
            client: default
            types:
                page:
                    mappings: %fos_elastica_page_mappings%
                    persistence:
                        driver: orm
                        model: Application\Sonata\PageBundle\Entity\Snapshot
                        finder: ~
                        provider: ~
                        listener: %fos_elastica_listener_published%
                        elastica_to_model_transformer: %fos_elastica_elastica_to_model_transformer%
                page_crawled:
                    mappings: %fos_elastica_page_crawled_mappings%
                    persistence:
                        driver: orm
                        model: App\CoreBundle\Entity\PageCrawled
                        finder: ~
                        provider: ~
                        listener: %fos_elastica_listener_draft%
                        elastica_to_model_transformer: %fos_elastica_elastica_to_model_transformer%
                tag:
                    mappings: %fos_elastica_tag_mappings%
                    persistence:
                        driver: orm
                        model: App\CoreBundle\Entity\Tag
                        finder: ~
                        provider: ~
                        listener: %fos_elastica_listener_published%
                        elastica_to_model_transformer: %fos_elastica_elastica_to_model_transformer%
                tab_page:
                    mappings: %fos_elastica_tab_page_mappings%
                    persistence:
                        driver: orm
                        model: App\CoreBundle\Entity\TabPage
                        finder: ~
                        provider: ~
                        listener: %fos_elastica_listener_published%
                        elastica_to_model_transformer: %fos_elastica_elastica_to_model_transformer%
                tab_page_tab:
                    mappings: %fos_elastica_tab_page_mappings%
                    persistence:
                        driver: orm
                        model: App\CoreBundle\Entity\TabPageTab
                        finder: ~
                        provider: ~
                        listener: %fos_elastica_listener_published%
                        elastica_to_model_transformer: %fos_elastica_elastica_to_model_transformer%