:local {
	.button-circle-close {
		@include size($sizeGrid);
		border-radius: 100%;
		border: 1px solid rgba($colorPrimary, 0.3);
		transition: background-color 250ms $easeLinear;

		.icon {
			@include size(8px);
			@include offset(50%, 50%);
			transform: translate(-50%, -50%);
			position: absolute;
			color: currentColor;
			transition: color 250ms $easeLinear;

			path {
				fill: currentColor;
			}
		}

		&.small {
			@include size($sizeGrid * 0.5);

			.icon {
				@include size(8px);
			}
		}

		&.medium {
			@include size($sizeGrid * 0.75);

			.icon {
				@include size(9px);
			}
		}

		&.large {
			@include size($sizeGrid);

			.icon {
				@include size(10px);
			}
		}

		@include respond-to(SMALL) {
			&.large {
				@include size($sizeGrid*1.5);

				.icon {
					@include size(6px);
				}
			}
		}
	}
}

@include hover('.button-circle-close') {
	background-color: $colorPrimary;

	.icon {
		color: white;
	}
}
