:local {
	.market-list {
		height: calc(100% - #{$sizeGrid * 4});
		position: relative;
	}

	.filter-list {
		@extend %reset-list;
	}

	.filter-list-item {
		position: relative;
		padding: 3rem $sizeGrid;
		cursor: pointer;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;

		&:after {
			@include position(auto, $sizeGrid, 0, $sizeGrid*0.7);
			position: absolute;
			background-color: rgba(#dadada, 0.6);
			content: '';
			height: 1px;
		}

		// Active State
		&.is-active {
			background-color: $colorSecondary;
			color: white;

			&:after {
				display: none;
			}
		}
	}

	@include respond-to(SMALL) {
		.market-list {
			@include size(calc(100% - #{$sizeGrid}), 0);
			@include offset($sizeGrid/2, ($sizeGrid/2) + $sizeGrid*4);
			transition: height 250ms $easeOutExpo;
			background: $colorWhite;

			&.is-open {
				height: calc(100vh - #{$sizeGrid*20});
			}
		}

		.filter-list-item {
			padding: $sizeGrid;
			border-bottom: 1px solid rgba(#dadada, 0.6);

			&:after {
				display: none;
			}
		}
	}
}
