:local {
	.button {
		@include size(auto, $sizeGrid * 2);
		text-transform: uppercase;
		color: $colorWhite;
		padding: 0 $sizeGrid / 2;
		transition: color 0.3s $easeInOutCubic;

		@include hover() {
			.text:before {
				width: 100%;
			}
		}
	}

	.icon {
		@include size($sizeGrid);
		margin-right: $sizeGrid / 2;
		transform: translate3d(0, 0, 0);

		path {
			fill: currentColor;
		}
	}

	.label {
		font: 700 1.2rem / 1 $fontOpenSans;
		vertical-align: middle;
		display: inline-block;
		position: relative;

		&:before {
			position: absolute;
			@include position(auto, 0, -1px, 0%);
			@include size(0%, 1px);
			content: '';
			background-color: currentColor;
			transition: width 150ms $easeInOutExpo;
		}
	}

	.theme-light {
		color: white;
	}

	.theme-dark {
		color: $colorPrimary;
	}

	@include respond-to(MEDIUM) {
		.button {
			@include size(auto, $sizeGrid * 2);
			padding: 0 $sizeGrid;
		}
	}

	@include respond-to(SMALL) {
		.button {
			height: $sizeGrid * 4;
		}

		.text {
			font-size: mobile-size(2.2rem);
		}

		.icon {
			@include size($sizeGrid * 1.5);
			margin-right: $sizeGrid;
		}
	}
}
