:local {
	.button-secondary {
		@include size(auto, 5rem);
		font: 800 1rem / calc(5rem - 2px) $fontOpenSans;
		color: $colorPrimary;
		text-transform: uppercase;
		padding: 0 $sizeGrid / 2;
		display: inline-block;
		position: relative;
		vertical-align: middle;
		z-index: 0;
		border: 1px solid $colorSecondary;
		transition: border-color 0.2s $easeLinear;

		// Light Theme
		&.theme-light {
			border-color: rgba(255, 255, 255, 0.3);

			@include hover() {
				border-color: #fff;
			}
		}
	}

	.label {
		display: inline-block;
		vertical-align: top;
	}

	@include respond-to(SMALL) {
		.button-secondary {
			@include size(auto, mobile-size(10rem));
			font-size: mobile-size(1.8rem);
			line-height: mobile-size(10rem);
			padding: 0 $sizeGrid * 2;
		}
	}
}

@include hover('.button-secondary') {
	border-color: rgba(0, 0, 0, 0.2);
}
