.component-slide-text {
	.slide-title {
		@include size($sizeGrid * 12, auto);
		@include pos(50%, auto, auto, -$sizeGrid * 3);
		transform: translateY(-50%);
		position: absolute;

		.heading-01 {
			margin-bottom: $sizeGrid / 2;
		}
	}

	@include respond-to(SMALL) {
		.slide-title {
			@include size(100%, auto);
			@include pos(auto, 0, 0, 0);
			position: absolute;
			transform: none;
			padding: 0 $sizeGrid * 2;

			.heading-01 {
				font-size: mobile-size(9.5rem);
			}
		}
	}
}
