// Positions
.pos-top-left {
	@include offset(0, 0);
}

.pos-center-left {
	@include position(50%, auto, auto, 0);
	transform: translate(0, -50%);
}

.pos-bottom-left {
	@include position(auto, auto, 0, 0);
}

.pos-top-right {
	@include position(0, 0, auto, auto);
}

.pos-bottom-right {
	@include position(auto, 0, 0, auto);
}

.pos-center-right {
	@include position(50%, 0, auto, auto);
	transform: translate(0, -50%);
}

