:local {
	.slide-text {
		.slide-title {
			width: $sizeGrid * 9;
		}

		.heading {
			margin-bottom: $sizeGrid / 2;
		}

		@include respond-to(LARGE) {
			.slide-title {
				width: $sizeGrid * 7.5;
			}
		}

		@include respond-to(MEDIUM) {
			.slide-title {
				width: $sizeGrid * 6;
			}
		}

		@include respond-to(SMALL) {
			.slide-title {
				@include size(100%, auto);
				position: absolute;
				bottom: 0;
			}
		}
	}
}
