.component-slideout-panel_contact {

	.sub-title {
		padding-bottom: $sizeGrid/2;
		text-transform: uppercase;
	}

	.form-fields {
		margin-top: $sizeGrid;
	}

	.component-button-main {
		margin-top: $sizeGrid;
		display: block;
	}
}
