.component-slideout-panel_contact {
	position: relative;

	.sub-title {
		padding-bottom: $sizeGrid/2;
		text-transform: uppercase;
	}

	.form-fields {
		margin-top: $sizeGrid;
	}

	.component-button-tertiary {
		@include pos(0, 0, auto, auto);
		position: absolute;
	}

	.component-button-secondary {
		margin-top: $sizeGrid;
		display: block;
		width: 100%;
	}
}
