:local {
	.audio-player {
		@include size(100%, auto);
		margin: 0.5rem 0;
		font-size: 0;
		display: flex;
		align-items: center;
	}

	.button {
		overflow: visible;
		display: inline-block;
		vertical-align: top;

		.icon {
			@include size($sizeGrid*2);
		}

		svg {
			circle {
				stroke: $colorBorder;
			}
		}
	}

	.wave-form-wrapper {
		@include size(calc(100% - #{$sizeGrid * 4.5}), $sizeGrid * 2);
		display: inline-block;
		vertical-align: top;
		margin-left: $sizeGrid;
		position: relative;
		overflow: hidden;
	}

	.fallback-progress {
		@include size(100%, $sizeGridSecondary);
		@include position(50%, auto, auto, 0);
		transform: translateY(-50%);
		background: rgba(0, 0, 0, 0.1);
		position: absolute;

		.progress {
			@include size(0, $sizeGridSecondary);
			@include position(0, auto, 0, 0);
			position: absolute;
			transition: 0.2s width $easeLinear;
			background: $colorPrimary;
		}
	}

	.wave-form {
		@include coverer();
		@include size(100%);

		&:after {
			@include size(100%, 50%);
			@include position(auto, 0, 0, 0);
			position: absolute;
			background: rgba(255, 255, 255, 0.8);
			content: '';
			z-index: 1;
		}
	}

	@include respond-to(SMALL) {
		.wave-form-wrapper {
			width: calc(100% - #{mobile-size($sizeGrid * 3)})
		}
	}
}
