:local {
	.heading {
		color: $colorSecondary;
	}

	.statistics {
		display: flex;
		margin: 0;
		padding: 0;
		justify-content: space-between;
		align-items: center;
		text-align: center;
	}

	.statistic {
		list-style: none;

		&:nth-child(even) {
			color: $colorSecondary;
		}

		&:nth-child(odd) {
			color: $colorPrimary;
		}

		.value {
			@include size(15rem);
			display: inline-block;
			color: currentColor;
		}
	}

	.label {
		@include size(100%, auto);
		display: inline-block;
		margin-top: $sizeGrid * 0.5;
		text-transform: uppercase;
		font: 2rem / 1 $fontOpenSans;
	}
}
