:local {
	.wrapper {
		@include offset($sizeGrid, $sizeGrid);
		position: absolute;
	}

	.toggle {
		@include size(3.4rem);
		background: $colorSecondary;
		color: white;
		font: 1.6rem / 1 $fontOpenSans;
		text-align: center;
		border-radius: 50%;
		transition: background 0.2s $easeInOut;
	}

	.box {
		@include offset(0, 0);
		padding: 3.4rem 6.8rem 6.8rem 3.4rem;
		background: $colorWhite;
		width: 440px;
		position: absolute;
		display: none;

		.close {
			@include position(3.4rem, 3.4rem, auto, auto);
			position: absolute;
		}

		.heading {
			color: $colorSecondary;
			margin-bottom: $sizeGrid * 0.5;
		}

		.copy {
			color: $colorPrimary;
		}
	}

	.is-active {
		.toggle {
			display: none;
		}

		.box {
			display: block;
		}
	}

	@include respond-to(SMALL) {
		.wrapper {
			top: mobile-size(17rem);
			left: mobile-size($sizeGrid * 0.5);
		}

		.toggle {
			@include size(mobile-size(6rem));
			font-size: mobile-size(2.7rem);
		}

		.box {
			@include size(100%, auto);
			top: auto;
			bottom: 0;
		}

		.is-active {
			@include position(auto, 0, mobile-size(12rem), 0);
		}
	}
}

@include hover('.toggle') {
	background: darken($colorSecondary, 5%);
}
