:local {
	.latest {
	}

	.site-frame {
		overflow: visible;
	}

	.header {
		@include size(100%, auto);
		justify-content: flex-start;
		display: flex;
		align-items: center;
		margin-bottom: $sizeGrid;
	}

	.draggable-container {
		padding: 0;
	}

	.button {
		margin-left: $sizeGrid * 2;
	}

	.latest-articles {
		width: auto;
		margin-bottom: $sizeGrid;
		white-space: nowrap;
		font-size: 0;
		display: inline-block;
		margin-left: -$sizeGrid;
	}

	.article-teaser {
		@include size($sizeGrid * 14, auto);
		display: inline-block;
		margin-left: $sizeGrid;

		//&:not(:first-child) {
		//	margin-left: $sizeGrid;
		//}
	}

	.scroll-bar {
		margin: $sizeGridSecondary 0;
	}

	@include respond-to(SMALL) {
		.site-frame {
			padding: 0 $sizeGrid;
		}

		.button {
			display: none;
		}

		.article-teaser {
			@include size(320px, auto);
		}
	}
}
