.map-tertiary-slide {

	.slide-heading {
		@include size(100%, auto);
		@include pos($sizeGrid, auto, auto, 0);
		padding: 0 $sizeGrid * 2;
		position: absolute;
		text-align: center;
		color: $colorLocalMedia;
	}

	.slide-statistics {
		font-size: 0;
	}

	.slide-title {
		@include size($sizeGrid * 7, auto);
		@include pos(50%, auto, auto, -$sizeGrid * 3);
		transform: translateY(-50%);
		position: absolute;
	}

	.background {
		@include size(100%);
		@include offset(0, 0);
		background-size: cover;
		position: absolute;
		background-position: center center;
	}

	@include respond-to(SMALL) {

		.slide-heading {
			@include pos(auto, auto, auto, auto);
			padding: $sizeGrid $sizeGrid 0 $sizeGrid;
			position: relative;
		}

		.background {
			@include size(100%, 340px);
		}

		.slide-title {
			@include size(100%, auto);
			@include pos(auto, auto, auto, auto);
			position: relative;
			transform: none;
			padding: 0 $sizeGrid * 2;
			margin-top: $sizeGrid;

			.heading-01 {
				font-size: mobile-size(9.5rem);
			}
		}
	}
}