.map-tertiary-slide {
	@include size(100%);

	.slide-heading {
		@include size(100%, auto);
		@include pos($sizeGrid, auto, auto, 0);
		padding: 0 $sizeGrid * 2;
		position: absolute;
		text-align: center;
		color: $colorLocalMedia;
	}

	.slide-statistics {
		font-size: 0;
	}

	.slide-title {
		@include size($sizeGrid * 7, auto);
		@include pos(50%, auto, auto, -$sizeGrid * 3);
		transform: translateY(-50%);
		position: absolute;
	}
}