.component-slide-radial-progress {
	.statistic {
		@include size($sizeGrid * 4);
		display: inline-block;
		vertical-align: top;
		margin: $sizeGrid / 2;
	}

	.component-percentage-loader {
		@include center-block();

		.svg-holder {
			@include size($sizeGrid * 3);
		}

		circle {
			stroke: $colorLocalMedia;
		}

		.animated-line-track {
			stroke-width: 2px;
		}

		.animated-line {
			stroke-width: 10px;
		}
	}

	.label {
		display: block;
		margin-top: $sizeGrid / 2;
	}

	@include respond-to(SMALL) {
		.slide-heading {
			.copy {
				display: none;
			}
		}

		.slide-statistics {
			&.single-column {
				display: flex;
				flex-direction: column;
				align-items: center;
			}
		}

		.statistic {
			@include size(50%, auto);
			font-size: 0;
			margin: 0;
			margin-top: $sizeGrid;

			.statistic-inner-wrapper {
				display: flex;
				align-items: center;
			}


			&:nth-child(even) {

				.statistic-inner-wrapper {
					text-align: left;
				}

				.component-percentage-loader {
					order: 0;
				}

				.label {
					order: 1;
				}
			}

			&:nth-child(odd) {
				.statistic-inner-wrapper {
					text-align: right;
				}


				.component-percentage-loader {
					order: 1;
				}

				.label {
					order: 0;
				}
			}

			.label {
				width: calc(100% - #{$sizeGrid * 5});
				display: inline-block;
				vertical-align: middle;
				padding: 0 $sizeGrid;
			}
		}

		.component-percentage-loader {
			display: inline-block;
			vertical-align: middle;

			.svg-holder {
				@include size($sizeGrid * 4);
			}
		}

	}
}
