.component-slide-horizontal-without-icon {
	.statistics-wrapper {
		@extend %reset-list;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.statistic {
		@include size($sizeGrid * 1.5, $sizeGrid * 5);
		display: inline-block;
		text-align: center;

		&.introduction {
			width: $sizeGrid * 3;

			.middle-statistic {
				@include text-overflow();
				margin-top: $sizeGrid * 2;
			}
		}
	}

	.top-statistic,
	.middle-statistic,
	.bottom-statistic {
		position: relative;
		width: 100%;
	}

	.bottom-statistic,
	.top-statistic {
		height: $sizeGrid * 2;
		line-height: $sizeGrid * 2;
	}

	.middle-statistic {
		height: $sizeGrid;
		font-weight: 700;
		line-height: $sizeGrid;
	}

	.label,
	.value {
		display: block;
		font: 400 1.4rem / 1.2 $fontOpenSans;
	}

	.label {
		font-weight: 700;
	}

	.separator-top,
	.separator-bottom {
		@include size(1px, 2rem);
		position: absolute;
		left: 50%;
		transform: translateX(-50%);

		.dashed-line {
			@include size(1px, 100%);
		}
	}

	.separator-top {
		top: -2rem;
	}

	.separator-bottom {
		bottom: -2rem;
	}

	.separator {
		position: relative;
	}

	.dashed-line {
		@include size(100%, 1px);
		stroke: currentColor;
		stroke-dasharray: 3, 3;
		stroke-width: 1px;
	}

	.arrow {
		@include size(10px, 20px);
		stroke: currentColor;
		stroke-dasharray: 3, 3;
		stroke-width: 1px;
	}

	.end {
		@include size(10px, 20px);
		flex-shrink: 0;
		margin-left: -5px;
	}

	@include respond-to(SMALL) {
		.statistics-wrapper {
			flex-direction: column;
		}

		.statistic {
			@include size(100%, auto);
			display: flex;
			padding: $sizeGrid 0;

			&.introduction {
				@include size($sizeGrid * 4, auto);

				.middle-statistic {
					@include size(100%, $sizeGrid);
					margin: 0;
				}
			}
		}

		.end {
			transform: rotate(90deg);
			margin-left: 0;
		}

		.value,
		.label {
			font-size: mobile-size(2.8rem);
		}

		.separator-top,
		.separator-bottom {
			@include size($sizeGrid, 1px);
			transform: translateY(-50%);
			position: absolute;

			.dashed-line {
				@include size(100%, 1px);
			}
		}

		.separator-top {
			@include pos(50%, auto, auto, -$sizeGrid);
		}

		.separator-bottom {
			@include pos(50%, -$sizeGrid, auto, auto);
		}

		.middle-statistic {
			@include size($sizeGrid * 2, auto);
			padding: 0 $sizeGrid;
		}

		.dashed-line {
			@include size(1px, $sizeGrid);
			@include offset(50%, 50%);
			transform: translate(-50%, -50%);
			position: absolute;
		}
	}
}
