.component-slide-cards {

	.statistics-wrapper {
		@extend %reset-list;
		display: flex;
		justify-content: center;
		align-item: top
	}

	.statistic {
		@include size($sizeGrid * 5, auto);
		background: $colorWhite;
		display: inline-block;
		border: 1px solid $colorBorder;
		margin: 0 0.5rem;
	}

	.card-label {
		text-align: center;
		margin-top: $sizeGrid / 2;
	}

	.card-value,
	.card-image {
		@include size(100%, auto);

		img {
			@include size(100%, auto);
		}
	}

	@include respond-to(MEDIUM) {
		.statistics-wrapper {
			flex-direction: column;
		}

		.statistic {
			@include size(100%, auto);
			padding: 0.5rem;
			margin: $sizeGrid / 8 0;
			display: flex;
			align-items: center;
			border: none;
		}

		.card-image {
			display: none;
		}

		.card-value,
		.card-label {
			display: inline-block;
			vertical-align: middle;
			margin-top: 0;
		}

		.card-label {
			@include size(calc(100% - 100px), auto);
			order: 1;
			padding: 0 $sizeGrid / 2 0;
			text-align: left;
		}

		.card-value {
			@include size(100px, auto);
			order: 0;
		}
	}

	@include respond-to(SMALL) {
		display: block;

		.statistic {
			margin: $sizeGrid / 2 0;
		}

		.statistics-wrapper {
			padding: 0 $sizeGrid * 2;
		}

		.card-label {
			@include size(calc(100% - 120px), auto);
		}

		.card-value {
			@include size(120px, auto);
		}
	}
}
