.component-slide-vertical-list {
	.statistics-wrapper {
		@extend %reset-list;
	}

	.statistic:not(:last-child){
		margin-bottom: $sizeGrid;
	}

	.step {
		@include size($sizeGrid);
		border: 1px dashed $colorLocalMedia;
		display: inline-block;
		border-radius: 100%;
		vertical-align: middle;
		font: 400 1.5rem / #{$sizeGrid } $fontOpenSans;
		text-align: center;
	}

	.heading {
		strong {
			color: currentColor;
		}
	}

	.description {
		@include size(calc(100% - #{$sizeGrid * 2}), auto);
		margin-left: $sizeGrid;
		display: inline-block;
		vertical-align: top;
	}

	@include respond-to(LARGE) {
		.slide-statistics {
			top: 60%;
			left: $sizeGrid  * 4;
			right: $sizeGrid * 4;
		}
	}

	@include respond-to(MEDIUM) {
		.slide-statistics {
			top: auto;
			left: auto;
			right: auto;
		}

		.statistic {
			margin-bottom: $sizeGrid / 2;
		}

		.step,
		.description {
			vertical-align: middle;
		}
	}

	@include respond-to(SMALL) {
		display: block;

		.statistics-wrapper {
			padding: 0 $sizeGrid * 2;
		}
	}
}
