.component-slide-vertical-graphic {
	display: flex;
	justify-content: space-between;

	.slide-statistics {
		display: flex;
		justify-content: space-around;
	}

	.statistic {
		@include size($sizeGrid * 6);
		display: inline-block;
		vertical-align: top;
		text-align: center;
	}

	.statistic-label {
		color: currentColor;
		margin-top: $sizeGrid / 4;
	}

	.graphics {
		display: flex;
		justify-content: space-between;
	}

	.graphic {
		display: inline-block;

		&:nth-child(odd) {
			.component-vertical-graphic {
				color: $colorSecondary;
			}
		}

		&:nth-child(even) {
			.component-vertical-graphic {
				color: $colorPrimary;
			}
		}

		.label {
			display: block;
			color: $colorSecondary;
			margin-top: $sizeGrid / 4;
		}
	}

	@include respond-to(SMALL) {
		display: block;

		.copy {
			display: none;
		}

		.statistic {
			@include size(33%, auto);
		}
	}
}
