.component-slide-vertical-graphic {

	.slide-statistics {
		display: flex;
		justify-content: center;
	}

	.statistic {
		@include size($sizeGrid * 4, auto);
		display: inline-block;
		vertical-align: top;
		text-align: center;
		margin: $sizeGrid / 2;

		&:nth-child(odd) {
			.component-vertical-graphic {
				color: $colorSecondary;
			}
		}

		&:nth-child(even) {
			.component-vertical-graphic {
				color: $colorPrimary;
			}
		}
	}

	.statistic-label {
		color: currentColor;
		margin-top: $sizeGrid / 4;
	}

	.graphics {
		display: flex;
		justify-content: space-around;
		align-item: center;
	}

	.graphic {
		display: inline-block;

		.label {
			display: block;
			color: currentColor;
			margin-top: $sizeGrid / 4;
		}
	}

	@include respond-to(SMALL) {
		display: block;

		.copy {
			display: none;
		}

		.statistic {
			@include size(75%, auto);
		}
	}
}
