.component-slide-horizontal-with-icon {
	.slide-statistics {
		@include pos(50%, $sizeGrid * 3, auto, $sizeGrid * 6);
		position: absolute;
		transform: translateY(-50%);
	}

	.statistics-wrapper {
		@extend %reset-list;
		display: flex;
		justify-content: space-between;
		align-items: center;

		li {
			@include size($sizeGrid * 2, $sizeGrid * 5);
			display: inline-block;

			&:first-child {
				transform: translateX(-50%);
			}

			&:last-child {
				transform: translateX(50%);
			}
		}

		.icon {
			@include size($sizeGrid * 2);
			display: block;
		}

		.separator {
			@include size(1px, $sizeGrid * 0.75);
			@include center-block();
			position: relative;
			margin-top: $sizeGrid / 4;
			margin-bottom: $sizeGrid / 4;

			svg {
				@include size(1px, 100%);
				stroke: $colorLocalMedia;
				stroke-dasharray: 4, 4;
				stroke-width: 2px;
			}
		}

		.description {
			@include size($sizeGrid * 2, auto);
			display: block;
			text-align: center;

			.label,
			.value {
				display: block;
			}
		}
	}

	.track {
		@include size(100%, 1px);
		stroke: $colorLocalMedia;
		stroke-dasharray: 4, 4;
		stroke-width: 2px;
	}
}
