.component-slide-radial-progress {

	.slide-statistics {
		@include size($sizeGrid * 15, auto);
		text-align: center;
	}

	.statistic {
		@include size($sizeGrid * 4);
		display: inline-block;
		vertical-align: top;
		margin: $sizeGrid / 2;
	}

	.component-percentage-loader {
		@include center-block();

		.svg-holder {
			@include size($sizeGrid * 3);
		}

		circle {
			stroke: $colorLocalMedia;
		}

		.animated-line-track {
			stroke-width: 2px;
		}

		.animated-line {
			stroke-width: 10px;
		}
	}

	.label {
		display: block;
		margin-top: $sizeGrid / 2;
	}

	@include respond-to(SMALL) {
		.slide-heading {
			.copy {
				display: none;
			}
		}

		.slide-statistics {
			@include pos(auto, auto, auto, auto);
			@include size(100%, auto);
			position: relative;
			transform: none;
			text-align: center;
			padding: 0 $sizeGrid * 2;
			margin-top: $sizeGrid;

			&.single-column {
				display: flex;
				flex-direction: column;
				align-items: center;
			}
		}

		.statistic {
			@include size(50%, auto);
			font-size: 0;
			margin: 0;
			text-align: left;
			margin-top: $sizeGrid;


			.label {
				width: calc(100% - #{$sizeGrid * 5});
				display: inline-block;
				vertical-align: middle;
				padding: 0 0 0 $sizeGrid;
			}
		}

		.component-percentage-loader {
			display: inline-block;
			vertical-align: middle;

			.svg-holder {
				@include size($sizeGrid * 5);
			}
		}

	}
}
