.component-slide-icon-progress {
	.statistic {
		@include size($sizeGrid * 4);
		display: inline-block;
		vertical-align: top;
		margin: $sizeGrid / 2;
	}

	.icon {
		@include center-block();
		@include size($sizeGrid * 2);
	}

	.label {
		display: block;
		margin-top: $sizeGrid / 2;
	}

	@include respond-to(SMALL) {
		.single-column {
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		.multi-column {
			.statistic-inner-wrapper {
				display: flex;
				align-items: center;
			}
			.statistic {
				&:nth-child(even) {

					.statistic-inner-wrapper {
						text-align: left;
					}

					.icon {
						order: 0;
					}

					.label {
						order: 1;
					}
				}

				&:nth-child(odd) {
					.statistic-inner-wrapper {
						text-align: right;
					}

					.icon {
						order: 1;
					}

					.label {
						order: 0;
					}
				}
			}
		}

		.statistic {
			@include size(50%, auto);
			font-size: 0;
			margin: 0;
			text-align: left;
			margin-top: $sizeGrid;

			.label {
				width: calc(100% - #{$sizeGrid * 5});
				display: inline-block;
				vertical-align: middle;
				padding: 0 $sizeGrid 0;
			}
		}

		.icon {
			@include size($sizeGrid * 3.5);
			display: inline-block;
			vertical-align: middle;
		}
	}
}
