:local {
	.button-circle-play {
		svg {
			backface-visibility: hidden;
			overflow: visible;

			path {
				fill: currentColor;
				transform-origin: center center;
			}

			circle {
				fill: transparent;
				stroke: currentColor;
				stroke-width: 1px;
				transition: stroke 0.2s $easeInOut, stroke-width 0.2s $easeInOut, opacity 0.2s $easeInOut;
				transform-origin: center center;
			}
		}
	}

	.icon {
		@include offset(50%, 50%);
		transform: translate(-50%, -50%);
		position: absolute;
		@include size(calc(100%  - 20px));
	}

	.large {
		@include size($sizeGrid*2.5);
	}

	.medium {
		@include size($sizeGrid*2);
	}

	.small {
		@include size($sizeGrid*1.5);
	}

	.theme-dark {
		color: $colorPrimary;
	}

	.theme-light {
		color: $colorWhite;
	}

	@include respond-to(SMALL) {
		.small,
		.medium,
		.large {
			@include size(mobile-size($sizeGrid * 4));
		}
	}
}

@include hover('.button-circle-play') {
	svg {
		circle {
			stroke-width: 0.5rem;
			stroke: $colorSecondary;
			opacity: 1;
		}
	}
}
