:local {
	.button-circle-play {
		svg {
			backface-visibility: hidden;
			overflow: visible;

			path {
				fill: currentColor;
				transform-origin: center center;
			}

			circle {
				fill: transparent;
				stroke: currentColor;
				stroke-width: 1px;
				transition: stroke 0.2s $easeInOut, stroke-width 0.2s $easeInOut, opacity 0.2s $easeInOut;
				transform-origin: center center;
			}
		}
	}

	.icon {
		@include offset(50%, 50%);
		transform: translate(-50%, -50%);
		position: absolute;
	}

	.large {
		@include size($sizeGrid*2.5);
		.icon {

			@include size(calc(#{$sizeGrid * 2.5} - 20px));
		}
	}

	.small {
		@include size($sizeGrid*2);

		.icon {
			@include size(calc(#{$sizeGrid * 2} - 20px));
		}
	}

	.small {
		@include size($sizeGrid*1.5);

		.icon {
			@include size(calc(#{$sizeGrid * 1.5} - 20px));
		}
	}
}

@include hover('.button-circle-play') {
	svg {
		circle {
			stroke-width: 0.5rem;
			stroke: $colorSecondary;
			opacity: 1;
		}
	}
}
