:local {
	.image-with-content {
		@include size(100%, auto);
		position: relative;
	}

	.row {
		display: flex;
		flex-direction: row;
	}

	.content {
		@include size(40%, auto);
		display: flex;
		flex-direction: column;
		justify-content: center;

		.heading {
			margin-bottom: $sizeGrid;
		}

		.copy {
			margin-bottom: $sizeGrid;
		}
	}

	.image {
		@include size(60%, auto);
		@include aspect-ratio(720px, 470px);
		min-height: $sizeGrid * 12;
		z-index: 2;
		position: relative;
	}

	.alignment-left {
		.content {
			padding: $sizeGrid $sizeGrid $sizeGrid 0;
			order: 1;
		}

		.image {
			order: 2;
		}
	}

	.alignment-right {
		.content {
			padding: $sizeGrid 0 $sizeGrid $sizeGrid;
			order: 2;
		}

		.image {
			order: 1;
		}
	}

	@include respond-to(SMALL) {
		.row {
			flex-direction: column;
		}

		.site-frame {
			padding: 0;
		}

		.alignment-left,
		.alignment-right {
			.image,
			.content {
				width: 100%;
			}

			.image {
				@include aspect-ratio(640px, 470px);
				min-height: 0;
				order: 1;
			}

			.content {
				order: 2;
				padding: $sizeGrid $sizeGridMobile * 2;
			}
		}

		.button {
			width: calc(100% - #{$sizeGrid});
		}
	}
}
