:local {
	.how-to-advertise {
		padding-bottom: $sizeGrid;
	}

	.viewport {
		overflow: hidden;
	}

	.header {
		padding: $sizeGrid * 3 0 $sizeGrid * 1;

		.heading {
			margin-bottom: $sizeGrid;
		}

		.button {
			margin-bottom: $sizeGrid;
		}
	}

	.advertisement-steps {
		@include size(100%, $sizeGrid * 9);
		display: block;
	}

	.steps {
		@extend %reset-list;
		white-space: nowrap;
		display: inline-block;
	}

	.step {
		@include size($sizeGrid * 15, $sizeGrid * 7);
		display: inline-block;
		white-space: nowrap;
		line-height: $sizeGrid * 7;
		overflow: hidden;
		cursor: pointer;

		.button {
			@include size(100%);
			display: flex;
			align-items: center;
		}

		.image {
			@include size($sizeGrid * 7);
			position: relative;
			display: inline-block;
			vertical-align: top;
			border-radius: 100%;
			flex-shrink: 0;
			background: $colorLightGrey;
			transition: background 0.2s $easeInOut;
			border: 4px solid $colorLightGrey;
		}

		.icon {
			@include size($sizeGrid * 5);
		}

		.heading {
			margin-bottom: $sizeGrid / 4;
		}

		.content {
			@include size($sizeGrid * 8, auto);
			display: inline-block;
			padding: $sizeGrid;
			vertical-align: middle;
			white-space: normal;
		}
	}

	// Breakpoints
	@include respond-to(SMALL) {
		.header {
			padding: 0 0 $sizeGrid*4;

			.heading {
				margin-bottom: $sizeGrid*2;
			}

			.component-button-main {
				margin-bottom: 0;
			}
		}

		.advertisement-steps {
			height: auto;
			padding-bottom: $sizeGrid * 2;
			overflow: hidden;
		}

		.steps {
			text-align: center;
			margin-bottom: $sizeGrid * 2;
		}

		.step {
			width: calc(100vw - #{$sizeGrid * 4});
			height: auto;
			white-space: normal;

			.button {
				display: block;
			}

			.content {
				width: 100%;
				padding: 0 $sizeGrid * 2;
			}

			.heading {
				margin-bottom: $sizeGrid/2;
			}

			.image {
				@include size($sizeGrid * 8 !important);
				margin-bottom: $sizeGrid * 2;
			}
		}
	}
}
