:local {
	.hero-main {
		@include size(100%, 100vh);
		min-height: $sizeGrid * 24; // Make sure the secondary triangle fit's in the block
		overflow: hidden;

		&.has-statistics {

			// Always apply a dark blue layer on top of the crossfader
			.component-image-crossfader {
				.mask {
					@include coverer();
					@include size(100%);
					position: absolute;
					content: '';
					background: rgba($colorPrimary, .5);
				}
			}
		}
	}

	.slides {
		@include coverer();
	}

	img {
		@include coverer();
		@include size(100%);
	}

	.component-paginator-dashed {
		position: absolute;
		@include position(50%, $sizeGrid, auto, auto);
		transform: translateY(-50%);
		z-index: 2;
	}


	@include respond-to(MEDIUM) {
		.primary-background-triangle {
			left: -$sizeGrid * 6
		}

		.secondary-background-triangle {
			left: $sizeGrid * 8;
		}

		.tertiary-background-triangle {
			left: $sizeGrid * 14;
		}
	}

	@include respond-to(SMALL) {
		.hero-main {
			min-height: 0;
			height: calc(100vh - #{$sizeGrid * 2});
		}

		.has-statistics {
			$statisticsHeight: $sizeGrid  * 30;
			height: calc(100vh - #{$sizeGrid * 4} + #{$statisticsHeight});
			max-height: none;

			.background-triangle {
				top: calc(50% - #{$statisticsHeight / 2});
			}

			.secondary-background-triangle {
				top: calc(50% - #{$statisticsHeight / 2});
			}
		}

		.primary-background-triangle {
			@include arrow(right, rgba($colorPrimary, .95), $sizeGrid * 48);
			left: 0;
		}

		.secondary-background-triangle {
			@include arrow(left, rgba($colorSecondary, .95), $sizeGrid * 20);
			left: $sizeGrid * 14;
		}

		.tertiary-background-triangle {
			display: none;
		}
	}
}
