:local {
	.hero-main {
		@include size(100%, 100vh);
		min-height: $sizeGrid * 24; // Make sure the secondary triangle fit's in the block
		overflow: hidden;

		// Always apply a dark blue layer on top of the crossfader
		.has-statistics {
			.mask {
				@include coverer();
				@include size(100%);
				position: absolute;
				content: '';
				background: rgba($colorPrimary, 0.5);
			}
		}
	}

	.slides {
		@include coverer();
	}

	img {
		@include coverer();
		@include size(100%);
	}

	.component-paginator-dashed {
		@include position(50%, $sizeGrid, auto, auto);
		position: absolute;
		transform: translateY(-50%);
		z-index: 2;
	}

	@include respond-to(MEDIUM) {
		.primary-background-triangle {
			left: -$sizeGrid * 6;
		}

		.secondary-background-triangle {
			left: $sizeGrid * 8;
		}

		.tertiary-background-triangle {
			left: $sizeGrid * 14;
		}
	}

	@include respond-to(SMALL) {
		.hero-main {
			min-height: 0;
			height: calc(100vh - #{$sizeGrid * 2});
		}

		.primary-background-triangle {
			left: 0;
		}

		.secondary-background-triangle {
			left: $sizeGrid * 14;
		}

		.tertiary-background-triangle {
			display: none;
		}

		.has-statistics {
			$statisticsHeight: $sizeGrid * 30;
			height: calc(100vh - #{$sizeGrid * 4} + #{$statisticsHeight});
			max-height: none;

			.primary-background-triangle {
				top: calc(50% - #{$statisticsHeight / 2});
			}

			.secondary-background-triangle {
				top: calc(50% - #{$statisticsHeight / 2});
			}
		}
	}
}
