//noinspection CssUnknownTarget
@import 'scss-shared/MediaQueries.js';

// Source Paths
$assetPath: '..';
$pathFont: 'font';
$pathImage: 'image';

// Sprite Images
$spriteDefault: 'sprite-default.png';

// Fonts
$fontArial: Arial, sans-serif;

// Sizes
$largeSiteFrame: 1600px;
$mediumSiteFrame: 1440px;
$smallSiteFrame: 1280px;


// Colors
$colorMain: #000;

// Z-indexes
$layout: default;
