//noinspection CssUnknownTarget
@import 'scss-shared/MediaQueries.js';

// Source Paths
$assetPath: '..';
$pathFont: 'font';
$pathImage: 'image';

// Sprite Images
$spriteDefault: 'sprite-default.png';

// Fonts
$fontArial: Arial, sans-serif;

// Sizes

// Colors
$colorMain: #000;

// Z-indexes
$layout: default;
