//noinspection CssUnknownTarget
@import 'scss-shared/MediaQueries.js';

// Source Paths
$assetPath: '..';
$pathFont: 'font';
$pathImage: 'image';

// Sprite Images
$spriteDefault: 'sprite-default.png';

// Fonts
$fontArial: Arial, sans-serif;
$fontOpenSans: 'Open Sans', sans-serif;

/**
 * Base font size for REM sizing
 */
$baseFontSize: 10px;

/**
 * Grid sizes
 */
$sizeGrid: 4rem;
$sizeGridSecondary: 3rem;
$sizeHeader: $sizeGrid * 2;

/**
 * Global icon size
 */
$sizeIcon: 2.6rem;

/**
 * Site frame sizes
 */
$largeSiteFrame: 1600px;
$mediumSiteFrame: 1440px;
$smallSiteFrame: 1280px;

// Colors
$colorPrimary: #003057;
$colorSecondary: #009bdb;
$colorTertiary: #009e8c;
$colorQuaternary: #818285;
$colorQuinary: #0077bc;

$colorAutomotive: #808285;
$colorLocalMedia: #00629b;
$colorSmallBusinesses: #faa41a;
$colorEnterprise: #500778;

$colorWhite: #fff;
$colorLightGrey: #f8f8f8;
$colorBorder: #e0e0e0;

$colorValidationError: red;
$colorValidationSuccess: $colorTertiary;

// Z-indexes
$layout: content, menu, header, siteFrame, panelOverlay, panel, popup, pageLoader;
