//noinspection CssUnknownTarget
@import 'scss-shared/MediaQueries.js';

// Source Paths
$assetPath: '..';
$pathFont: 'font';
$pathImage: 'image';

// Sprite Images
$spriteDefault: 'sprite-default.png';

// Fonts
$fontArial: Arial, sans-serif;
$fontOpenSans: 'Open Sans', sans-serif;

/**
 * Base font size for REM sizing
 */
$baseFontSize: 10px;

/**
 * Grid sizes
 */
$sizeGrid: 4rem;
$sizeGridSecondary: 3rem;


/**
 * Site frame sizes
 */
$largeSiteFrame: 1600px;
$mediumSiteFrame: 1440px;
$smallSiteFrame: 1280px;

// Colors
$colorPrimary: #032d51;
$colorSecondary: #0098d8;
$colorTertiary: #0db39f;
$colorQuaternary: #818285;

$colorWhite: #fff;

// Z-indexes
$layout: content, header;
