:local {
	.product-teaser {
		position: relative;
		white-space: normal;
		background: $colorWhite;
		box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.08);
		overflow: hidden;
		color: $colorPrimary;
		text-decoration: none;
		transition: box-shadow 0.2s $easeInOutCubic;
	}

	.content {
		@include size(100%);
		display: flex;
		flex-direction: column;
	}

	.gradient-overlay {
		transition: opacity 0.2s $easeInOutCubic;
	}

	.image {
		@include aspect-ratio(360px, 200px);
		flex-shrink: 0;

		&:after {
			@include triangle(right, bottom, $colorWhite, $sizeGrid);
			@include position(auto, 0, 0, auto);
			position: absolute;
			content: '';
		}
	}

	.copy,
	.heading {
		color: currentColor;
		transition: color 0.2s $easeInOutCubic;
	}

	.description {
		padding: $sizeGrid;
		display: flex;
		height: 100%;
		justify-content: space-between;
		flex-direction: column;
	}

	.heading {
		margin-bottom: $sizeGrid / 2;
	}

	.button {
		align-self: flex-start;
	}
}

@include hover('.product-teaser') {
	color: $colorSecondary;
	box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);

	.gradient-overlay {
		opacity: 0;
	}
}
