:local {
	.glossary-item {
		@include size(100%, $sizeGrid * 5);
		display: flex;
		background: $colorWhite;
		position: relative;
		align-items: center;

		&:after {
			@include triangle(left, bottom, $colorLightGrey, $sizeGrid);
			@include position(auto, auto, 0, 0);
			position: absolute;
			content: '';
		}

		&:not(:first-child) {
			margin-top: $sizeGrid;
		}
	}

	.image {
		@include size(160px, 100%);
		flex-shrink: 0;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.badge {
		@include size(calc(#{$sizeGrid * 2} + 8px));
		background: #808285;
		display: inline-block;
		position: relative;
		border-radius: 100%;
		transition: background 0.5s $easeInOutExpo;

		&:after {
			@include size($sizeGrid * 2);
			@include offset(50%, 50%);
			transform: translate(-50%, -50%);
			border: 4px solid $colorWhite;
			border-radius: 100%;
			box-sizing: border-box;
			content: '';
			position: absolute;
		}
	}

	.icon {
		@include size(32px);

		path {
			fill: $colorWhite;
		}

		.check {
			display: none;
		}
	}

	.description {
		padding: 0 $sizeGrid;
		position: relative;

		&:before {
			@include size(2px, 100%);
			@include offset(0, 50%);
			transform: translateY(-50%);
			position: absolute;
			content: '';
			background: #dfe0e0;
			flex-shrink: 0;
		}
	}

	.item-heading {
		margin-bottom: $sizeGrid / 2;
	}

	.item-copy {
		color: $colorQuaternary;
	}

	.is-unlocked {
		.badge {
			background: $colorSecondary;
		}
	}

	@include respond-to(SMALL) {
		.glossary-item {
			@include size(100%, auto);
			flex-direction: column;
			padding: mobile-size($sizeGrid * 2) mobile-size($sizeGrid);
		}

		.image {
			@include size(80px, 100%);
			display: inline-block;
		}

		.description {
			margin-top: mobile-size($sizeGrid);

			&:before {
				display: none;
			}
		}

		.badge {
			@include size(calc(#{$sizeGrid * 4} + 8px));

			&:after {
				@include size($sizeGrid * 4);
			}
		}

		.icon {
			@include size(16px);
		}
	}
}
