%heading {
	strong {
		color: $colorSecondary;
	}
}

%heading-01 {
	font: 800 7rem / 1.07 $fontOpenSans;

	strong {
		font-weight: 800;
	}

	@include respond-to(XX_LARGE) {
		font-size: 6.5rem;
	}

	@include respond-to(X_LARGE) {
		font-size: 5.5rem;
	}

	@include respond-to(SMALL) {
		font-size: 8rem;
	}
}

%heading-02 {
	font: 800 4.5rem / 1.11 $fontOpenSans;

	strong {
		font-weight: 800;
	}

	@include respond-to(SMALL) {
		font-size: 4.5rem;
	}
}

%heading-03 {
	font: 700 3.6rem / 1.25 $fontOpenSans;

	strong {
		font-weight: 700;
	}

	@include respond-to(SMALL) {
		font-size: 5rem;
	}
}

%heading-04 {
	font: 700 4rem / 1.25 $fontOpenSans;

	strong {
		font-weight: 700;
	}

	@include respond-to(XX_LARGE) {
		font-size: 3.6rem;
	}

	@include respond-to(X_LARGE) {
		font-size: 3.2rem;
	}

	@include respond-to(SMALL) {
		font-size: 4.5rem;
	}
}

%heading-06 {
	font: 400 3rem / 1.23 $fontOpenSans;

	@include respond-to(MEDIUM) {
		font-size: 2.5rem;
	}

	@include respond-to(SMALL) {
		font-size: 4rem;
	}
}
