// Full Input Reset
%reset-input {
	display: inline-block;
	border: 0;
	padding: 0;
	background: none;
	-webkit-appearance: none;

	&:focus {
		outline: 0;
	}

	&::-moz-focus-inner,
	&[type='reset']::-moz-focus-inner,
	&[type='button']::-moz-focus-inner,
	&[type='submit']::-moz-focus-inner,
	&::-moz-focus-inner,
	&[type='file'] > [type='button']::-moz-focus-inner {
		border: 0;
		padding: 0;
	}
}
