:local {
	.glossary-a {
		background: $colorLightGrey;
		padding: $sizeGrid * 2 0;
	}

	.heading {
		margin-bottom: $sizeGrid / 2;
	}

	.copy {
		margin-bottom: $sizeGrid;
	}

	.call-to-actions {
		margin-top: $sizeGrid;
		display: block;
		text-align: center;
	}

	.items {
		@include size(100%, auto);
	}
}
