:local {
	.network-overview {
	}

	.site-frame {
		overflow: visible;
	}

	.header {
		@include size(100%, auto);
		justify-content: flex-start;
		display: flex;
		align-items: center;
		margin-bottom: $sizeGrid;
	}

	.draggable-container {
		padding: 0;
	}

	.networks {
		width: auto;
		margin-bottom: $sizeGrid;
		white-space: nowrap;
		font-size: 0;
		display: inline-block;
		margin-left: -$sizeGrid;
	}

	.network {
		@include size(240px);
		display: inline-block;
		background: white;
		border-top: 1px solid $colorBorder;
		border-bottom: 1px solid $colorBorder;
		border-right: 1px solid $colorBorder;

		.image {
			@include size(50%);
		}

		&:first-child {
			border-left: 1px solid $colorBorder;
		}
	}

	.scroll-bar {
		margin: $sizeGridSecondary 0;
	}

	@include respond-to(SMALL) {
		.site-frame {
			padding: 0 $sizeGridMobile * 2;
		}

		.button {
			display: none;
		}

		//.network {
		//	@include size(320px, auto);
		//}
	}
}
