:local {
	.market-map {
		@include size(100%, calc(100vh - #{$sizeHeader}));
		min-height: 768px;
	}

	.zoom-actions {
		position: absolute;
		@include position(auto, auto, $sizeGrid, $sizeGrid);
	}

  	.contact-button {
	  @include position(auto, 0, 0, auto);
	  position: absolute;
	}
}
