:local {
	.wrapper {
		position: relative;
	}

	.market-map {
		@include size(100%, calc(100vh - #{$sizeHeader}));
		min-height: 480px;
	}

	.zoom-actions {
		position: absolute;
		@include position(auto, auto, $sizeGrid, $sizeGrid);
	}

	.contact-button {
		@include position(auto, 0, 0, auto);
		position: absolute;
	}

	.search {
		@include position(0, 0, auto, auto);
		position: absolute;
	}

	.result-panel {
		@include position(0, 0, auto, auto);
		position: absolute;
	}

	@include respond-to(SMALL) {
		.market-map {
			@include size(100%, calc(100vh - #{$sizeHeaderMobile * 2}));
			min-height: 480px;
		}

		.search {
			@include position(
				mobile-size($sizeGrid * 0.5),
				mobile-size($sizeGrid * 0.5),
				auto,
				mobile-size($sizeGrid * 0.5)
			);
		}

		.zoom-actions {
			bottom: mobile-size(17rem);
			left: mobile-size($sizeGrid * 0.5);
		}
	}
}
