:local {
	.button-quaternary {
		@include size(auto, 5rem);
		font: 800 1rem / calc(5rem - 2px) $fontOpenSans;
		text-transform: uppercase;
		padding-left: $sizeGridSecondary;

		&.theme-dark {
			.label {
				color: $colorPrimary;
			}

			.stripe {
				background: $colorSecondary;
			}
		}

		&.theme-light {
			.label {
				color: white;
			}

			.stripe {
				background: $colorSecondary;
			}
		}
	}

	.stripe {
		@include size($sizeGrid / 2, 0.4rem);
		@include position(calc(50% - 0.2rem), auto, auto, 0);
		position: absolute;
	}

	.label {
		display: inline-block;
		vertical-align: middle;
		transition: color 0.2s $easeInOutCubic;
	}

	@include respond-to(SMALL) {
		.button-quaternary {
			font-size: 3rem;
		}
	}
}

@include hover('.button-quaternary', '.is-hover') {
	.label {
		color: $colorSecondary;
		font-weight: 800;
	}
}
