:local {
	.wrapper {
		@include size(100%);
		padding-bottom: 8rem;
	}

	.mask {
		@include size(100%);
		@include offset(0, 0);
		position: absolute;
	}

	.panel {
		@include size(100%, 100%);
		@include position(0, 0, auto, auto);
		position: absolute;
		background-color: $colorWhite;
		max-width: $sizeGrid * 18;

		&.is-ipad {
			.input-focussed & {
				position: absolute;
			}
		}
	}

	.market-label {
		@include size(auto, 8rem);
		@include offset(0, 0);
		background: $colorPrimary;
		color: $colorWhite;
		font: 2.4rem / 8rem $fontOpenSans;
		position: absolute;
		padding: 0 $sizeGrid;
		//transform: translateX(-100%);
	}

	.panel-header {
		@include size(100%, 8rem);
		border-bottom: 1px solid $colorBorder;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 $sizeGrid * 0.5;
	}

	.panel-content {
		@include size(100%);
		background-color: $colorWhite;
	}

	.tab-wrapper {
		height: 100%;
		display: block;
		font-size: 0;
	}

	.tab {
		height: 100%;
		font: 800 1.2rem / 1 $fontOpenSans;
		text-transform: uppercase;
		padding: 0 $sizeGrid * 0.5;
		border-bottom: 5px solid transparent;
		transition: border-color 0.2s $easeInOutCubic;
		display: inline-block;

		&.is-active {
			color: $colorSecondary;
			border-color: $colorPrimary;
		}
	}

	.panel-body {
		@include size(100%, calc(100% - 16rem));
		border-bottom: 1px solid $colorBorder;
	}

	.blocks {
		padding: $sizeGrid $sizeGrid * 2;
	}

	.block:not(:last-child) {
		margin-bottom: $sizeGrid * 2;
	}

	@include respond-to(SMALL) {
		$marketLabelHeight: mobile-size(8rem);
		.wrapper {
			padding-bottom: 0;
		}

		.panel {
			@include size(100%, calc(100vh - #{$sizeHeaderMobile + mobile-size(20rem)}));
			@include position(auto, 0, mobile-size(12rem), 0);
			max-width: 100%;
		}

		.market-label {
			height: $marketLabelHeight;
			top: -$marketLabelHeight;
			line-height: $marketLabelHeight;
			transform: none;
			z-index: 1;
		}

		.panel-header {
			height: mobile-size(8rem);
		}

		.panel-content {
			&:before {
				@include pseudo;
				width: 100%;
				height: mobile-size(20rem);
				background: white;
				top: 0;
				left: 0;
				transform: translateY(-100%);
			}
		}

		.panel-body {
			border-bottom: 0;
			height: calc(100% - #{mobile-size(8rem)});
			overflow: hidden;
		}

		.blocks {
			padding: $sizeGrid $sizeGrid * 0.5;
		}

		.tab-wrapper {
			overflow: hidden;
		}

		.tab {
			padding: 0 mobile-size($sizeGrid * 0.5);
			font-size: mobile-size(2rem);
		}
	}
}

@include hover('.tab') {
	border-color: $colorBorder;

	&.is-active {
		border-color: $colorPrimary;
	}
}
