:local {
	.button {
		@include size($sizeGrid * 16, auto);
		padding: 3.3rem $sizeGrid;
		background: $colorSecondary;
		color: $colorWhite;
		display: inline-block;
		transition: background 0.2s $easeInOutCubic;
		text-align: left;
	}

	.label {
		display: block;
		font: 1.4rem / 1 $fontOpenSans;
		padding-right: $sizeGrid * 2;
	  	width: 100%;
		box-sizing: border-box;
		position: relative;

		&:after {
			@include pseudo;
			@include size(100%, 1px);
			bottom: -1rem;
			background: currentColor;
			opacity: 0.5;
		}
	}

	.icon {
		@include size(0.8rem);
		@include position(50%, 0, auto, auto);
		transform: translateY(-50%);
		position: absolute;

		path {
			fill: currentColor;
		}
	}

	@include respond-to(SMALL) {
		.button {
			@include size(100%, mobile-size(12rem));
		}

		.label {
			font-size: mobile-size(2.6rem);
			font-weight: 700;
			text-transform: uppercase;

			&:after {
				display: none;
			}
		}

		.icon {
			@include size(mobile-size(1.7rem), mobile-size(2.4rem));
		}
	}
}

@include hover('.button') {
	background: darken($colorSecondary, 5%);
}
