:local {
	.persona-selector {
		@include aspect-ratio(1600px, 880px);
	}

	.persona-content-wrapper {
		overflow: hidden;
	}

	.background-image {
		.image {
			background-size: cover;
			opacity: 0;
			transition: opacity .8s $easeLinear;
		}

		.is-active {
			opacity: 1;
		}
	}

	.background-triangle {
		@include arrow(right, $colorWhite, $sizeGrid * 40);
		@include position(calc(50% + #{$sizeGrid * 2}), auto, auto, -$sizeGrid * 3);
		transform: translateY(-50%);
		position: absolute;
	}

	.persona-content {
		@include size($sizeGrid * 11, 100%);
		@include offset(0, 0);
		position: absolute;
		z-index: 1;
		padding-left: $sizeGrid * 3;
	}

	.component-paginator-dashed {
		@include position(auto, 0, 0, 0);
		position: absolute;
		display: none;
	}

	@include respond-to(SMALL) {
		.persona-selector {
			&:before {
				display: none;
			}
		}

		.persona-content-wrapper {
			@include aspect-ratio(640px, 500px);
			position: relative;
			transform: none;
		}

		.persona-content {
			@include size(100%);
			@include coverer();
			transform: none;
		}

		.background-triangle {
			display: none;
		}

		.slider {
			display: block;
		}

		.component-paginator-dashed {
			display: block;
			margin-bottom: $sizeGrid;
		}
	}
}
