:local {
	.wrapper {
		@include size($sizeGrid * 10, auto);
	}

	.search-form {
		@include size(100%, auto);
		background: $colorWhite;
		padding: $sizeGrid * 0.5;

		.input {
			@include size(100%, $sizeGrid);
			font: 1.5rem / #{$sizeGrid} $fontOpenSans;
			border: 0;
			outline: 0;
			-webkit-appearance: none;
		}
	}

	.search-results {
		background: #f8f8f8;
	}

	.scroll-content,
	.search-results {
		max-height: calc(100vh - #{$sizeHeader} - #{16rem});
	}

	.markets {
		margin: 0;
		padding: 0;
	}

	.market {
		list-style: none;
	}

	.market-link {
		display: block;
		cursor: pointer;
		text-decoration: none;
		font: 1.5rem / #{$sizeGrid} $fontOpenSans;
		color: currentColor;
		background: transparent;
		position: relative;
		padding: $sizeGrid * 0.5 $sizeGrid;
		transition: color 0.2s $easeInOutCubic, background 0.2s $easeInOutCubic;

		&:after {
			@include pseudo;
			@include position(auto, $sizeGrid, 0, $sizeGrid);
			@include size(auto, 1px);
			background: $colorBorder;
			opacity: 0.5;
		}
	}

	@include respond-to(SMALL) {
		$searchHeight: mobile-size(12rem);

		.wrapper {
			width: auto;
		}

		.scroll-content,
		.search-results {
			max-height: calc(85vh - #{$sizeHeaderMobile} - #{mobile-size(12rem)});
		}

		.search-form {
			padding: mobile-size($sizeGrid);

			.input {
				@include size(100%, mobile-size($sizeGrid));
				font-size: mobile-size(2.7rem);
				line-height: mobile-size($sizeGrid);
			}
		}

		.market-link {
			font-size: mobile-size(2.7rem);
			line-height: mobile-size($sizeGrid);
			padding: mobile-size($sizeGrid);
		}
	}
}

@include hover('.market-link') {
	background: $colorSecondary;
	color: $colorWhite;
}
