:local {
	.download-file-b {
		position: relative;
		width: 100%;
		color: white;
		margin-left: auto;
		margin-right: auto;
		max-width: $largeSiteFrame;

		&:global {
			&.is-windowed {
				border-color: transparent;
				border-left-width: $sizeGrid*4;
				border-right-width: $sizeGrid*4;
			}
		}
	}

	.content {
		background: $colorLightGrey;
		color: $colorWhite;
		padding: $sizeGrid $sizeGrid * 2;
		display: flex;
		flex-direction: row;
		align-items: center;

		&:after {
			@include triangle(left, bottom, $colorWhite, $sizeGrid);
			@include position(auto, auto, 0, 0);
			content: '';
			position: absolute;
		}
	}

	.image {
		@include size($sizeGrid * 2.5);
		position: relative;
		flex-shrink: 0;
	}

	.description {
		border-left: 1px solid #d5d6d7;
		padding: $sizeGrid;
		margin-left: $sizeGrid;
		flex-grow: 1;
	}

	.heading {
		color: $colorPrimary;
		margin-bottom: $sizeGrid / 2;
	}

	.copy {
		color: #d5d6d7;
	}
}
