:local {
	.audience-top-programming-slide {
		@include size(100%);
		overflow: hidden;
	}

	.triangle {
		@include arrow(right, rgba($colorPrimary, 0.75), $sizeGrid * 60);
		@include position(auto, auto, 0, 0);
		transform: translate(-10%, 45%);
		position: absolute;
	}

	.description {
		@include size(50%, auto);
		@include position(auto, auto, 0, 0);
		position: absolute;
		padding: $sizeGrid * 2;
		z-index: 1;
		color: $colorWhite;
	}

	.heading {
		margin-bottom: $sizeGrid / 2;
	}

	.copy {
		margin-bottom: $sizeGrid * 2;
	}

	.network {
		font-weight: 600;
	}

	.bottom {
		display: flex;
		align-items: center;
	}

	.button {
		margin-left: $sizeGrid;
	}

	@include respond-to(SMALL) {
		.triangle {
			@include arrow(right, rgba($colorPrimary, 0.75), mobile-size($sizeGrid * 60));
			@include position(50%, auto, auto, 0);
			transform: translate(-20%, -50%);
		}

		.description {
			@include size(80%, 100%);
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}

		.bottom {
			flex-direction: column;
			align-items: flex-start;
		}

		.network {
			margin-bottom: $sizeGridMobile * 2;
		}
	}

	@include respond-to(X_SMALL) {
		.description {
			width: 100%;
		}
	}
}
