:local {
	.page-loader {
		@include size(100%);
		@include position(0, 0, 0, 0);
		background: $colorWhite;
		z-index: zindex($layout, pageLoader);
		position: fixed;
	}

	.spinner {
		@include size(32px);

		img {
			@include size(100%);
		}
	}
}
