parameters:
    fos_user.user_manager.class: App\CoreBundle\Manager\UserManager

services:

    custom_validator_mapping_cache:
        class: Symfony\Component\Validator\Mapping\Cache\DoctrineCache
        arguments:
            - @custom_validator_mapping_cache_apcu

    custom_validator_mapping_cache_apcu:
        class: Doctrine\Common\Cache\ApcuCache
        calls:
            - [setNamespace, [%validator.mapping.cache.prefix%]]

    session.handler.pdo:
        class:     Symfony\Component\HttpFoundation\Session\Storage\Handler\PdoSessionHandler
        public:    false
        arguments:
            - 'mysql:host=%database_host%;port=%database_port%;dbname=%database_name%'
            - { db_username: %database_user%, db_password: %database_password% }

    zend.crypt.symmetric_encrypter:
        class: Zend\Crypt\Symmetric\Mcrypt
        lazy: true
        calls:
            - [setKey, [%encryption_key%]]

    mediamonks.doctrine.transformable.transformer.zend_crypt_symmetric:
        class: MediaMonks\Doctrine\Transformable\Transformer\ZendCryptSymmetricTransformer
        lazy: true
        arguments: ["@zend.crypt.symmetric_encrypter", {binary: false}]

    mediamonks.doctrine.transformable.transformer.zend_crypt_hash:
        class: MediaMonks\Doctrine\Transformable\Transformer\ZendCryptHashTransformer
        lazy: true
        arguments: [{method: sha512, binary: false}]

    mediamonks.doctrine.transformable.transformer_pool:
        class: MediaMonks\Doctrine\Transformable\Transformer\TransformerPool
        calls:
            - [set, ['encrypt', "@mediamonks.doctrine.transformable.transformer.zend_crypt_symmetric"]]
            - [set, ['hash', "@mediamonks.doctrine.transformable.transformer.zend_crypt_hash"]]

    doctrine.transformable.subscriber:
        class: MediaMonks\Doctrine\Transformable\TransformableSubscriber
        arguments: ["@mediamonks.doctrine.transformable.transformer_pool"]
        tags:
         - { name: doctrine.event_subscriber}

    gedmo.listener.sortable:
       class: Gedmo\Sortable\SortableListener
       tags:
         - { name: doctrine.event_subscriber, connection: default }
       calls:
         - [ setAnnotationReader, [ "@annotation_reader" ] ]

    core.security.jwt_manager:
        class: App\CoreBundle\Security\JWT\FirebaseJWTManager
        arguments:
            - '%secret%'

    crawler_client_debug:
        class: Goutte\Client

    crawler_client_prerender:
        class: App\CrawlerBundle\Client\PrenderClient
        arguments: [%prerender_url%]

    crawler_client_prerender_io:
        class: App\CrawlerBundle\Client\PrenderIoClient
        arguments: [%prerender_io_token%]

    #app.elastica.model.transformer:
    #    class: App\CoreBundle\Elastica\ElasticaToModelTransformer
    #    calls:
    #        - [ setPropertyAccessor, ["@fos_elastica.property_accessor"] ]
    #    tags:
    #        - { name: fos_elastica.elastica_to_model_transformer.app.company }
