version: "2"

services:
  mariadb:
    image: wodby/mariadb:$MARIADB_TAG
    container_name: "${PROJECT_NAME}_mariadb"
    stop_grace_period: 30s
    environment:
      MYSQL_ROOT_PASSWORD: $DB_ROOT_PASSWORD
      MYSQL_DATABASE: $DB_NAME
      MYSQL_USER: $DB_USER
      MYSQL_PASSWORD: $DB_PASSWORD
    volumes:
#      - ./mariadb-init:/docker-entrypoint-initdb.d # Place init .sql file(s) here.
      - /var/www/public_html/spectrum/mysql:/var/lib/mysql # I want to manage volumes manually.

  php:
    image: wodby/drupal-php:$PHP_TAG
#    build: ./php
    container_name: "${PROJECT_NAME}_php"
    environment:
      PHP_SENDMAIL_PATH: /usr/sbin/sendmail -t -i -S mailhog:1025
      DB_HOST: $DB_HOST
      DB_USER: $DB_USER
      DB_PASSWORD: $DB_PASSWORD
      DB_NAME: $DB_NAME
      DB_DRIVER: $DB_DRIVER
## Read instructions at https://wodby.com/stacks/drupal/docs/local/xdebug/
      PHP_XDEBUG: 1
      PHP_XDEBUG_DEFAULT_ENABLE: 1
      PHP_XDEBUG_REMOTE_AUTOSTART: 0
      PHP_XDEBUG_REMOTE_CONNECT_BACK: 1
      PHP_XDEBUG_REMOTE_HOST: 172.22.0.6 # Linux
      PHP_FPM_CLEAR_ENV: 'no'
      SSH_PRIVATE_KEY: "-----BEGIN RSA PRIVATE KEY-----\nMIIEogIBAAKCAQEAuH4+oCnC6wx+ySi1rN0LVheynZdoVDKyGPHW2Fa5IfHNaVVY\n+GLu4vAu2YR4FahKWI13FLdelgRcJrDwGzQSto8WL7bxsjXNevRSb4N4+6gbnV1B\nR/tv65wTuazIo+KQdTxGtiqWUt/nIMt57x8KoxbgIyV98drD0QXY5V4ohQJ7EtTi\nrgtF9DRtMV2V8CW3IHQPQZN3wbdV14vOs3wRwIzbRH4r68YRxl5QL1n+m/ys7xf3\nxCdLplGi+JT9gSGNdzoQlKz/NPi5RFySeAVeSN8l9jkD9AhKL26a6uCp97bTUU9r\n93u3eKxPxHggW/CharbSGYCYXYr2i0YwTMudAQIDAQABAoIBAH/J4fLqOjq4svD+\no6gSi5GcZHnHr9nyK24fxOKgXydl5xO4rCGP1UuXdbvwh4ToxmZDxmGxCXD7oCCk\nmgsdrICK56ExJIR9w9AQfzECbcBSFp6PQ3JqdIFL4FXRmj/55HlvwMLZCLpqoBsV\nFWZNp/6DD8kIZQ4qq0uSs0NcTtChU5jx04oYLrHCZ72ua+vyEvntT0AV+p1gkoLz\nlLx+ylVtI8tzPfIhXeUQCKyKo1sHXLph0dl7gugy9V9oiGUBy5uP6zv90rkUtx6l\n5skDY/n3VoW9aqDagS/iC26W03zosr25ECGZuK87tec3yggwYHCBXNE761ScBkh+\nHoBmHgECgYEA53LjyGK71wsKhrIbyVYgilaRugSBeQL8Dbh8oNL9Gg/iAQGQ2B5y\nLC1glLT6yH7ct4psSz0vQE7/SblHd7FAkbPl0gu+dQVfSAFL8MmAJ8gy5yJB2Q8e\n3RQNt5IXEP5s5W3aMG4/QuZV27OGXLhd+5cil/M/dcUDqsQoDbmxXtECgYEAzBBA\nE2FuFc6M3YegCacmJk2cN0YKnVqz1pP9CHPkljz1d7xfrXCj/TPDJovqKINdecmx\nmBfz/jD/DjHQSvXu5fbatVN5e2fCxIQa92LH3ckTphTU3bAQLkIO/rTHGr2N1Lj+\nV1iuSBq1zMJamH8vNVX3NFN6qo+8CBytmT/kxzECgYAqRd+4v9/THR8lDu7oTSTQ\nX5NqSFxlf9gNoX6R2TeFRRVgXarY7maoDvmu74dGi3VAyLWS4G/67PLPwll9URCc\nDCGTxbVZpkuK2UHHjuYrXfN+J9GjFZHrizgeKT6xSecV2ISbh+diDrPr1tRZpwrz\nYt1cp38VwZAz5nPyXdI5oQKBgGCvFlzYXbsxSOaxGq9YJagiP3Ck2+SgE/MH3OxD\nVLumGDtp4f8gDmKqQr0hr4kQbJqGaIGCX9VAy6ejDGhny4/jfM5KxZUlnU9UtB4g\nDEhVu9yFpDGA+LmiDM67Qla2FtwB5mfmGXUKSrbAIwJ7yBdCKsT9BHKJdXJ2e/3P\nGwsRAoGAHiTTObLehg0oCFzVczbfs2mHG96z4OcQ684x/qQFOwWpo1IYqHibeXz0\nKV0rrl3d/h6Yh2WCnCMkGtu4C0D819CP8tPspyLBCIWWK2O49lHlWBqJ2pl45E2A\n9ndhEn3kLnnsyf3Gc9217TYiW9q/PskltAg/3E+RsBn48VMB/O8=\n-----END RSA PRIVATE KEY-----\n"
      PHP_APCU_ENABLE_CLI: 1
    volumes:
      - ../../source/drupal:/var/www/html
      - './ssh:/www-data/.ssh'

  nginx:
    image: wodby/drupal-nginx:$NGINX_TAG
    container_name: "${PROJECT_NAME}_nginx"
    depends_on:
      - php
    environment:
      NGINX_STATIC_CONTENT_OPEN_FILE_CACHE: "off"
      NGINX_ERROR_LOG_LEVEL: debug
      NGINX_BACKEND_HOST: php
      NGINX_SERVER_ROOT: /var/www/html/docroot
    volumes:
      - ../../source/drupal:/var/www/html
    labels:
      - 'traefik.backend=nginx'
      - 'traefik.port=80'
      - 'traefik.frontend.rule=Host:${PROJECT_BASE_URL}'

  mailhog:
    image: mailhog/mailhog
    container_name: "${PROJECT_NAME}_mailhog"
    labels:
      - 'traefik.backend=mailhog'
      - 'traefik.port=8025'
      - 'traefik.frontend.rule=Host:mailhog.${PROJECT_BASE_URL}'

  portainer:
    image: portainer/portainer
    container_name: "${PROJECT_NAME}_portainer"
    command: --no-auth -H unix:///var/run/docker.sock
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    labels:
      - 'traefik.backend=portainer'
      - 'traefik.port=9000'
      - 'traefik.frontend.rule=Host:portainer.${PROJECT_BASE_URL}'

  adminer:
    container_name: "${PROJECT_NAME}_adminer"
    image: wodby/adminer:$ADMINER_TAG
    environment:
      ADMINER_SALT: adminer-salt
    labels:
      - 'traefik.backend=adminer'
      - 'traefik.port=9000'
      - 'traefik.frontend.rule=Host:adminer.${PROJECT_BASE_URL}'

  traefik:
    image: traefik
    container_name: "${PROJECT_NAME}_traefik"
    command: -c /dev/null --web --docker --logLevel=INFO
    ports:
      - '8000:80'
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock

