swagger: '2.0'
info:
  title: Spectrum Reach Corperate website
  description: The re-creation of the Spectrum Reach website
  version: "1.0.0"
host: tbd.spectrumreach.com
schemes:
  - https
  - http
basePath: /api/v1
produces:
  - application/json
paths:
  /init:
    get:
      summary: Get all the information to bootstrap the application
      description: "Get all the information to bootstrap the application. Example: Menu, main items etc.."
      produces:
          - application/json
      responses:
        200:
          description: History information for the given user
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  layout:
                    type: object
                    properties:
                      navigation:
                        type: object
                      footer:
                        type: object
                      slideOutPanel:
                        type: object
                        properties:
                          contact:
                            type: object
                            properties:
                              subHeading:
                                type: string
                              heading:
                                type: string
                              submitLabel:
                                type: string
                  language:
                    type: object
                    properties:
                      translations:
                        type: array
                        items:
                          type: object
                          properties:
                            country:
                              type: string
                            language:
                              type: string
  /page:
    get:
      summary: Get page by slug
      description: Get the content pages with the blocks based on the slug
      responses:
        200:
          description: History information for the given user
          schema:
            $ref: "#/definitions/Page"
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
definitions:
  # +--------------------------------------------------------------------------------+
  # | API Calls                                                                      |
  # +--------------------------------------------------------------------------------+
  Page:
    type: object
    properties:
      statusCode:
        type: integer
        default: 200
        description: The http status for the call
      data:
        type: object
        properties:
          headerTheme:
            type: integer
            description: Sometimes you want a header image that is light, that would mean we would have to invert the header bar to make it visible
            enum: [LIGHT, DARK]
          hideContactButton:
            type: boolean
            description: All the pages contain the contact button, so the default value is "false". But if you want to make an exception (for example on the map page) you should be able to turn this on.
          pageTitle:
            type: string
            default: ""
            description: The main title for the page
          blocks:
            description: The container for all the blocks
            type: array
            items:
              $ref: "#/definitions/Block"

  # +--------------------------------------------------------------------------------+
  # | Partials; Small block object definitions                                       |
  # +--------------------------------------------------------------------------------+
  Error:
    type: object
    description: "Default error object"
    required: [statusCode, data]
    properties:
      statusCode:
        type: integer
        default: 500
      data:
        type: object
        properties:
          code:
            type: integer
            format: int32
          message:
            type: string
          fields:
            type: string

  # +--------------------------------------------------------------------------------+
  # | Interfaces                                                                     |
  # +--------------------------------------------------------------------------------+
  Block:
    type: object
    title: defaultBlock
    description: Default block definition
    properties:
      id:
        type: string
        description: The ID for the object to be reconized by the frontend framework.
      data:
        type: object
        description: "The container that holds all the data for the content block"
