swagger: '2.0'
info:
  title: Spectrum Reach Corperate website
  description: The re-creation of the Spectrum Reach website
  version: "1.0.0"
host: tbd.spectrumreach.com
schemes:
  - https
  - http
basePath: /api/v1
produces:
  - application/json
paths:
  /init:
    get:
      summary: Get all the information to bootstrap the application
      description: "Get all the information to bootstrap the application. Example: Menu, main items etc.."
      produces:
          - application/json
      responses:
        200:
          description: History information for the given user
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  layout:
                    type: object
                    properties:
                      navigation:
                        type: object
                      footer:
                        type: object
                      slideOutPanel:
                        type: object
                        properties:
                          contact:
                            type: object
                            properties:
                              subHeading:
                                type: string
                              heading:
                                type: string
                              submitLabel:
                                type: string
                  language:
                    type: object
                    properties:
                      translations:
                        type: array
                        items:
                          type: object
                          properties:
                            country:
                              type: string
                            language:
                              type: string
  /page:
    get:
      summary: Get page by slug
      description: Get the content pages with the blocks based on the slug
      responses:
        200:
          description: History information for the given user
          schema:
            $ref: "#/definitions/Page"
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  # +--------------------------------------------------------------------------------+
  # | Content blocks                                                                 |
  # +--------------------------------------------------------------------------------+
  /block/block-hero-main:
    get:
      responses:
        200:
          description: Block structure
          schema:
            type: object
            properties:
              id:
                type: string
                description: The ID for the object to be reconized by the frontend framework.
                format: heroMain
              data:
                type: object
                required: [overlap, windowed, marginTop, heading, background]
                properties:
                  overlap:
                    $ref: "#/definitions/Overlap"
                  windowed:
                    $ref: "#/definitions/Windowed"
                  marginTop:
                    $ref: "#/definitions/MarginTop"
                  alignment:
                    $ref: "#/definitions/Alignment"
                  croppedImage:
                    type: boolean
                    default: false
                  heading:
                    type: string
                  paragraph:
                    type: string
                  link:
                    $ref: "#/definitions/Link"
                  secondarylink:
                    $ref: "#/definitions/Link"
                  background:
                    $ref: "#/definitions/Image"
                  statistics:
                    type: object
                    properties:
                      heading:
                        type: string
                      stats:
                        type: array
                        items:
                          type: object
                          properties:
                            heading:
                              type: string
                            description:
                              type: string
                            value:
                              type: string

  /block/block-hero-secondary:
    get:
      responses:
        200:
          description: Block structure
          schema:
            type: object
            properties:
              id:
                type: string
                description: The ID for the object to be reconized by the frontend framework.
                format: heroSecondary
              data:
                type: object
                required: [overlap, windowed, marginTop, heading, background]
                properties:
                  overlap:
                     $ref: "#/definitions/Overlap"
                  windowed:
                    $ref: "#/definitions/Windowed"
                  marginTop:
                    $ref: "#/definitions/MarginTop"
                  heading:
                    type: string
                  paragraph:
                    type: string
                  link:
                    $ref: "#/definitions/Link"
                  background:
                    $ref: "#/definitions/Image"
  /block/block-hero-tertiary:
    get:
      responses:
        200:
          description: Block structure
          schema:
              type: object
              properties:
                id:
                  type: string
                  description: The ID for the object to be reconized by the frontend framework.
                  format: heroTertiary
                data:
                  type: object
                  required: [overlap, windowed, marginTop, heading, background]
                  properties:
                    overlap:
                       $ref: "#/definitions/Overlap"
                    windowed:
                      $ref: "#/definitions/Windowed"
                    marginTop:
                      $ref: "#/definitions/MarginTop"
                    heading:
                      type: string
                    paragraph:
                      type: string
                    link:
                      $ref: "#/definitions/Link"
                    background:
                      $ref: "#/definitions/Image"
  /block/block-how-to-advertise:
    get:
      responses:
        200:
          description: Block structure
          schema:
            type: object
            properties:
              id:
                type: string
                description: The ID for the object to be reconized by the frontend framework.
                format: howToAdvertise
              data:
                type: object
                required: [overlap, windowed, marginTop, heading, link, steps]
                properties:
                  overlap:
                     $ref: "#/definitions/Overlap"
                  windowed:
                    $ref: "#/definitions/Windowed"
                  marginTop:
                    $ref: "#/definitions/MarginTop"
                  heading:
                    type: string
                  link:
                    $ref: "#/definitions/Link"
                  steps:
                    type: array
                    items:
                      properties:
                        heading:
                          type: string
                        paragraph:
                          type: string
                        icon:
                          type: string
                          description: the name of the icon
  /block/block-image-call-to-actions:
    get:
      responses:
        200:
          description: Block structure
          schema:
            type: object
            properties:
              id:
                type: string
                description: The ID for the object to be reconized by the frontend framework.
                format: imageCallToActions
              data:
                type: object
                required: [overlap, windowed, marginTop, callToActions]
                properties:
                  overlap:
                     $ref: "#/definitions/Overlap"
                  windowed:
                    $ref: "#/definitions/Windowed"
                  marginTop:
                    $ref: "#/definitions/MarginTop"
                  callToActions:
                    type: array
                    items:
                      properties:
                        heading:
                          type: string
                        paragraph:
                          type: string
                        background:
                          $ref: "#/definitions/Image"
                        backgroundBlurred:
                          $ref: "#/definitions/Image"
  /block/block-image-carousel:
    get:
      responses:
        200:
          description: Block structure
          schema:
            type: object
            properties:
              id:
                type: string
                description: The ID for the object to be reconized by the frontend framework.
                format: imageCarousel
              data:
                type: object
                required: [overlap, windowed, marginTop, slides]
                properties:
                  overlap:
                     $ref: "#/definitions/Overlap"
                  windowed:
                    $ref: "#/definitions/Windowed"
                  marginTop:
                    $ref: "#/definitions/MarginTop"
                  slides:
                    type: array
                    items:
                      properties:
                        heading:
                          type: string
                        image:
                          $ref: "#/definitions/Image"
  /block/block-image-with-content:
    get:
      responses:
        200:
          description: Block structure
          schema:
            type: object
            properties:
              id:
                type: string
                description: The ID for the object to be reconized by the frontend framework.
                format: imageWithContent
              data:
                type: object
                required: [overlap, windowed, marginTop, heading, background]
                properties:
                  overlap:
                     $ref: "#/definitions/Overlap"
                  windowed:
                    $ref: "#/definitions/Windowed"
                  marginTop:
                    $ref: "#/definitions/MarginTop"
                  alignment:
                    $ref: "#/definitions/Alignment"
                  croppedImage:
                    type: boolean
                    default: false
                  heading:
                    type: string
                  paragraph:
                    type: string
                  link:
                    $ref: "#/definitions/Link"
                  background:
                    $ref: "#/definitions/Image"
  /block/block-latest:
    get:
      responses:
        200:
          description: Block structure
          schema:
            type: object
            properties:
              id:
                type: string
                description: The ID for the object to be reconized by the frontend framework.
                format: latest
              data:
                type: object
                required: [overlap, windowed, marginTop, heading, articles]
                properties:
                  overlap:
                     $ref: "#/definitions/Overlap"
                  windowed:
                    $ref: "#/definitions/Windowed"
                  marginTop:
                    $ref: "#/definitions/MarginTop"
                  heading:
                    type: string
                  link:
                    $ref: "#/definitions/Link"
                  articles:
                    type: array
                    items:
                      properties:
                        target:
                          type: string
                        heading:
                          type: string
                        paragraph:
                          type: string
                        image:
                          $ref: "#/definitions/Image"
                        tags:
                          type: array
                          items:
                            $ref: "#/definitions/Link"
  /block/block-more:
    get:
      responses:
        200:
          description: Block structure
          schema:
            type: object
            properties:
              id:
                type: string
                description: The ID for the object to be reconized by the frontend framework.
                format: more
              data:
                type: object
                required: [overlap, windowed, marginTop, heading, articles]
                properties:
                  overlap:
                     $ref: "#/definitions/Overlap"
                  windowed:
                    $ref: "#/definitions/Windowed"
                  marginTop:
                    $ref: "#/definitions/MarginTop"
                  heading:
                    type: string
                  tags:
                    type: array
                    items:
                      $ref: "#/definitions/Link"
                  articles:
                    type: array
                    items:
                      properties:
                        target:
                          type: string
                        heading:
                          type: string
                        paragraph:
                          type: string
                        image:
                          $ref: "#/definitions/Image"
  /block/block-map:
    get:
      description: TODO - Add data structure
      responses:
        200:
          description: Block structure
          schema:
            type: object
            properties:
              id:
                type: string
                description: The ID for the object to be reconized by the frontend framework.
                format: map
              data:
                type: object
                required: [overlap, windowed, marginTop]
                properties:
                  overlap:
                     $ref: "#/definitions/Overlap"
                  windowed:
                    $ref: "#/definitions/Windowed"
                  marginTop:
                    $ref: "#/definitions/MarginTop"
  /block/block-market-map:
    get:
      description: TODO - Add data structure
      responses:
        200:
          description: Block structure
          schema:
            type: object
            properties:
              id:
                type: string
                description: The ID for the object to be reconized by the frontend framework.
                format: marketMap
              data:
                type: object
                required: [overlap, windowed, marginTop]
                properties:
                  overlap:
                     $ref: "#/definitions/Overlap"
                  windowed:
                    $ref: "#/definitions/Windowed"
                  marginTop:
                    $ref: "#/definitions/MarginTop"
  /block/block-map-secondary:
    get:
      responses:
        200:
          description: Block structure
          schema:
            type: object
            properties:
              id:
                type: string
                description: The ID for the object to be reconized by the frontend framework.
                format: mapSecondary
              data:
                type: object
                required: [overlap, windowed, marginTop, heading, subHeading, paragraph]
                properties:
                  overlap:
                     $ref: "#/definitions/Overlap"
                  windowed:
                    $ref: "#/definitions/Windowed"
                  marginTop:
                    $ref: "#/definitions/MarginTop"
                  heading:
                    type: string
                  subHeading:
                    type: string
                  paragraph:
                    type: string
                  link:
                    $ref: "#/definitions/Link"
  /block/block-path-to-purchase:
    get:
      responses:
        200:
          description: Block structure
          schema:
            type: object
            properties:
              id:
                type: string
                description: The ID for the object to be reconized by the frontend framework.
                format: pathToPurchase
              data:
                type: object
                required: [overlap, windowed, marginTop, steps]
                properties:
                  overlap:
                     $ref: "#/definitions/Overlap"
                  windowed:
                    $ref: "#/definitions/Windowed"
                  marginTop:
                    $ref: "#/definitions/MarginTop"
                  steps:
                    type: array
                    items:
                      properties:
                        heading:
                          type: string
                        paragraph:
                          type: string
                        background:
                          $ref: "#/definitions/Image"
  /block/block-persona-selector:
   get:
      responses:
        200:
          description: Block structure
          schema:
            type: object
            properties:
              id:
                type: string
                description: The ID for the object to be reconized by the frontend framework.
                format: personaSelector
              data:
                type: object
                required: [overlap, windowed, marginTop, personas]
                properties:
                  overlap:
                     $ref: "#/definitions/Overlap"
                  windowed:
                    $ref: "#/definitions/Windowed"
                  marginTop:
                    $ref: "#/definitions/MarginTop"
                  personas:
                    type: array
                    items:
                      properties:
                        heading:
                          type: string
                        paragraph:
                          type: string
                        image:
                          $ref: "#/definitions/Image"
                        personaType:
                          $ref: "#/definitions/PersonaType"
                        link:
                          $ref: "#/definitions/Link"
  /block/block-blog-post:
   get:
      responses:
        200:
          description: Block structure
          schema:
            type: object
            properties:
              id:
                type: string
                description: The ID for the object to be reconized by the frontend framework.
                format: blogPost
              data:
                type: object
                required: [overlap, windowed, marginTop, time, views, heading, subHeading, paragraph, tags, author, social]
                properties:
                  overlap:
                     $ref: "#/definitions/Overlap"
                  windowed:
                    $ref: "#/definitions/Windowed"
                  marginTop:
                    $ref: "#/definitions/MarginTop"
                  date:
                    type: string
                    description: "January 23, 2017"
                  time:
                    type: string
                    description: "0:08"
                  views:
                    type: string
                    description: "302"
                  heading:
                    type: string
                  subHeading:
                    type: string
                  paragraph:
                    type: string
                  tags:
                    type: array
                    items:
                      $ref: "#/definitions/Link"
                  author:
                    type: object
                    properties:
                      name:
                        type: string
                      role:
                        type: string
                      image:
                        $ref: "#/definitions/Image"
                  social:
                    type: array
                    items:
                      $ref: "#/definitions/Link"
  /block/block-quote:
    get:
      responses:
        200:
          description: Block structure
          schema:
            type: object
            properties:
              id:
                type: string
                description: The ID for the object to be reconized by the frontend framework.
                format: quote
              data:
                type: object
                required: [overlap, windowed, marginTop, quote, name, description, image]
                properties:
                  overlap:
                     $ref: "#/definitions/Overlap"
                  windowed:
                    $ref: "#/definitions/Windowed"
                  marginTop:
                    $ref: "#/definitions/MarginTop"
                  quote:
                    type: string
                  name:
                    type: string
                  description:
                    type: string
                  image:
                    $ref: "#/definitions/Image"
  /block/block-quote-secondary:
    get:
      responses:
        200:
          description: Block structure
          schema:
            type: object
            properties:
              id:
                type: string
                description: The ID for the object to be reconized by the frontend framework.
                format: quoteSecondary
              data:
                type: object
                required: [overlap, windowed, marginTop, quote, author]
                properties:
                  overlap:
                     $ref: "#/definitions/Overlap"
                  windowed:
                    $ref: "#/definitions/Windowed"
                  marginTop:
                    $ref: "#/definitions/MarginTop"
                  quote:
                    type: string
                  author:
                    type: string
  /block/text:
    get:
      responses:
        200:
          description: Block structure
          schema:
            type: object
            properties:
              id:
                type: string
                description: The ID for the object to be reconized by the frontend framework.
                format: text
              data:
                type: object
                required: [overlap, windowed, marginTop, html]
                properties:
                  overlap:
                     $ref: "#/definitions/Overlap"
                  windowed:
                    $ref: "#/definitions/Windowed"
                  marginTop:
                    $ref: "#/definitions/MarginTop"
                  html:
                    type: string
                    description: The html that will be injected in the block
  /block/block-small-image:
    get:
      responses:
        200:
          description: Block structure
          schema:
            type: object
            properties:
              id:
                type: string
                description: The ID for the object to be reconized by the frontend framework.
                format: smallImage
              data:
                type: object
                required: [overlap, windowed, marginTop, alignment, image]
                properties:
                  overlap:
                     $ref: "#/definitions/Overlap"
                  windowed:
                    $ref: "#/definitions/Windowed"
                  marginTop:
                    $ref: "#/definitions/MarginTop"
                  alignment:
                    $ref: "#/definitions/Alignment"
                  image:
                    $ref: "#/definitions/Image"
  /block/small-heading:
    get:
      responses:
        200:
          description: Block structure
          schema:
            type: object
            properties:
              id:
                type: string
                description: The ID for the object to be reconized by the frontend framework.
                format: latest
              data:
                type: object
                required: [overlap, windowed, marginTop, heading]
                properties:
                  overlap:
                     $ref: "#/definitions/Overlap"
                  windowed:
                    $ref: "#/definitions/Windowed"
                  marginTop:
                    $ref: "#/definitions/MarginTop"
                  heading:
                    type: string
                    description: The heading of this block
  /block/block-small-info:
    get:
      responses:
        200:
          description: Block structure
          schema:
            type: object
            properties:
              id:
                type: string
                description: The ID for the object to be reconized by the frontend framework.
                format: smallInfo
              data:
                type: object
                required: [overlap, windowed, marginTop, heading, paragraph]
                properties:
                  overlap:
                     $ref: "#/definitions/Overlap"
                  windowed:
                    $ref: "#/definitions/Windowed"
                  marginTop:
                    $ref: "#/definitions/MarginTop"
                  link:
                    $ref: "#/definitions/Link"
                  heading:
                    type: string
                    description: The heading of this block
                  paragraph:
                    type: string
                    description: The paragraph of this block
  /block/block-program-module:
    get:
      description: TODO - Add data structure
      responses:
        200:
          description: Block structure
          schema:
            type: object
            properties:
              id:
                type: string
                description: The ID for the object to be reconized by the frontend framework.
                format: programModule
              data:
                type: object
                required: [overlap, windowed, marginTop, items]
                properties:
                  overlap:
                    $ref: "#/definitions/Overlap"
                  windowed:
                    $ref: "#/definitions/Windowed"
                  marginTop:
                    $ref: "#/definitions/MarginTop"
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        image:
                           $ref: "#/definitions/Image"
                        heading:
                          type: string
                        paragraph:
                          type: string
                        stats:
                          type: object
                          properties:
                            ageRange:
                              type: string
                            demographic:
                              type: string
                        video:
                          $ref: "#/definitions/Video"
  /block/block-story-info-images:
    get:
      responses:
        200:
          description: Block structure
          schema:
            type: object
            properties:
              id:
                type: string
                description: The ID for the object to be reconized by the frontend framework.
                format: storyInfoImages
              data:
                type: object
                required: [overlap, windowed, marginTop, stories]
                properties:
                  overlap:
                    $ref: "#/definitions/Overlap"
                  windowed:
                    $ref: "#/definitions/Windowed"
                  marginTop:
                    $ref: "#/definitions/MarginTop"
                  stories:
                    type: array
                    items:
                      type: object
                      properties:
                        heading:
                          type: string
                        paragraph:
                          type: string
                        background:
                          $ref: "#/definitions/Image"
                        backgroundBlurred:
                          $ref: "#/definitions/Image"
  /block/block-audio-fragment:
    get:
      responses:
        200:
          description: Block structure
          schema:
            type: object
            properties:
              id:
                type: string
                description: The ID for the object to be reconized by the frontend framework.
                format: audioFragment
              data:
                type: object
                required: [overlap, windowed, marginTop, name, description, image, file]
                properties:
                  overlap:
                    $ref: "#/definitions/Overlap"
                  windowed:
                    $ref: "#/definitions/Windowed"
                  marginTop:
                    $ref: "#/definitions/MarginTop"
                  name:
                    type: string
                  description:
                    type: string
                  image:
                    $ref: "#/definitions/Image"
                  file:
                    type: string
                    description: The path to the *.mp3 file
  /block/block-button:
    get:
      responses:
        200:
          description: Block structure
          schema:
            type: object
            properties:
              id:
                type: string
                description: The ID for the object to be reconized by the frontend framework.
                format: button
              data:
                type: object
                required: [overlap, windowed, marginTop, link, alignment]
                properties:
                  overlap:
                    $ref: "#/definitions/Overlap"
                  windowed:
                    $ref: "#/definitions/Windowed"
                  marginTop:
                    $ref: "#/definitions/MarginTop"
                  link:
                    $ref: "#/definitions/Link"
                  alignment:
                    $ref: "#/definitions/Alignment"
definitions:
  # +--------------------------------------------------------------------------------+
  # | API Calls                                                                      |
  # +--------------------------------------------------------------------------------+
  Page:
    type: object
    properties:
      statusCode:
        type: integer
        default: 200
        description: The http status for the call
      data:
        type: object
        properties:
          headerTheme:
            type: integer
            description: Sometimes you want a header image that is light, that would mean we would have to invert the header bar to make it visible
            enum: [LIGHT, DARK]
          pageTitle:
            type: string
            default: ""
            description: The main title for the page
          blocks:
            description: The container for all the blocks
            type: array
            items:
              $ref: "#/definitions/Block"

  # +--------------------------------------------------------------------------------+
  # | Partials; Small block object definitions                                       |
  # +--------------------------------------------------------------------------------+
  Link:
    type: object
    description: Default link object
    required: [label, title, target, type]
    properties:
      label:
        type: string
        description: The Label text content
      title:
        type: string
        description: The link title element
      target:
        type: string
        description: the route/url.
      type:
        type: integer
        enum: [INTERNAL,EXTERNAL,SCROLL_TO_NEXT_SECTION]
  Image:
    type: object
    description: Default image object
    required: [normal, small, alt]
    properties:
      normal:
        type: string
        description: The desktop version of the mage
      small:
        type: string
        description: The mobile version of the mage
      alt:
        type: string
        description: The alt text for the mage image
  Video:
    type: object
    description: Default video object
    required: [url, type]
    properties:
      url:
        type: string
        description: The url to the video, if the video is internal it should be the full path to the *.mp4 file otherwise just the ID of the external source.
      type:
        type: integer
        description: The type of the video
        enum: [INTERNAL,VIMEO]
  MarginTop:
    type: integer
    description: The offset/spacing of a component
    enum: [0,1,2,3,4]
  Alignment:
    type: integer
    enum: [LEFT, RIGHT]
  PersonaType:
    type: integer
    enum: [SMALL_BUSINESS,AUTOMOTIVE,ENTERPRISE,LOCAL_MEDIA_BUYING]
  Windowed:
    type: boolean
    default: false
    description: If the block will have a extra padding on the left and right instead of being full-bleed
  Overlap:
    type: boolean
    default: false
    description: If the block will overlap with the next block in the DOM
  Error:
    type: object
    description: "Default error object"
    required: [statusCode, data]
    properties:
      statusCode:
        type: integer
        default: 500
      data:
        type: object
        properties:
          code:
            type: integer
            format: int32
          message:
            type: string
          fields:
            type: string

  # +--------------------------------------------------------------------------------+
  # | Interfaces                                                                     |
  # +--------------------------------------------------------------------------------+
  Block:
    type: object
    title: defaultBlock
    description: Default block definition
    properties:
      id:
        type: string
        description: The ID for the object to be reconized by the frontend framework.
      data:
        type: object
        description: "The container that holds all the data for the content block"
