:local {
	.spinner {
		@include size(100%);
		@include offset(0, 0);
		position: absolute;
		background: rgba($colorWhite, .5);
		z-index: zindex($layout, inlineLoader);
	}

	.image {
		@include abs-center(32px);
	}
}
