:local {
	.video-overlay {
		@include size(100%, 100vh);
		@include offset(0, 0);
		min-height: 100vh;
		background: rgba(0, 0, 0, 0.5);
		text-align: center;
		z-index: zindex($layout, video-overlay);
		position: fixed;
	}

	.content-wrapper {
		@include size(80%, auto);
		@include aspect-ratio(16px, 9px);
		@include offset(50%, 50%);
		max-width: $sizeGridSecondary * 27;
		position: absolute;
		transform: translate(-50%, -50%);
	}

	.video-player {
		@include offset(50%, 50%);
		transform: translate(-50%, -50%);
		position: absolute;
	}

	.button {
		@include position(-$sizeGrid, -$sizeGrid, auto, auto);
		position: absolute;
		background-color: $colorPrimary;
		color: white;
	}
}
