.component-audio-player {
	@include size(100%, calc(1rem + #{$sizeGrid * 2}));
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	font-size: 0;

	.component-button-play-circle {
		overflow: visible;
		display: inline-block;
		vertical-align: top;
		margin-left: 0.5rem;

		.icon {
			@include size($sizeGrid*2);
		}

		svg {
			circle {
				stroke: $colorBorder;
			}
		}
	}

	.wave-form-wrapper {
		@include size(calc(100% - #{$sizeGrid * 3} - 0.5rem), 100%);
		display: inline-block;
		vertical-align: top;
		margin-left: $sizeGrid;
		position: relative;
		overflow: hidden;
	}

	.fallback-progress {
		@include size(100%, $sizeGridSecondary);
		@include pos(50%, auto, auto, 0);
		transform: translateY(-50%);
		background: rgba(0, 0, 0, .1);
		position: absolute;

		.progress {
			@include size(0, $sizeGridSecondary);
			@include pos(0, auto, 0, 0);
			position: absolute;
			transition: .2s width ease(linear);
			background: $colorPrimary;
		}
	}

	.wave-form {
		@include coverer();
		@include size(100%);

		&:after {
			@include size(100%, 50%);
			@include pos(auto, 0, 0, 0);
			position: absolute;
			background: rgba(255, 255, 255, .8);
			content: '';
			z-index: 1;
		}
	}
}

