[class^="component-block"] {
	position: relative;

	&.windowed {
		border-top: $sizeGrid solid $colorWhite;
		border-right: $sizeGrid * 2 solid $colorWhite;
		border-bottom: $sizeGrid solid $colorWhite;
		border-left: $sizeGrid * 2 solid $colorWhite;
	}
}

// import all your components here!
@import "block/block-hero-main";
@import "header";
@import "footer";
@import "button/button-menu";
@import "button/button-call-to-reach";
@import "button/button-start-advertising";
@import "block/block-image-with-content";
@import "button/button-main";
@import "block/block-small-info";
@import "block/block-map";
@import "map-slider";
@import "block/block-image-call-to-actions";
@import "page-loader";