[class^="component-block"] {
	position: relative;
	overflow: hidden;

	/**
	 * This means a block can overlap with another block therefore it get's overflow visible
	 */
	&.overlap {
		z-index: 1;
		overflow: visible;

		~ [class^="component-block"] {

			// Sometimes we want to overrule the z-index of the next block to be on top of the overlapping area
			.overrule-overlap {
				position: relative;
				z-index: 2;
			}
		}
	}

	/**
	 * This means a block will have a border on both sides
	 */
	&.windowed {
		border-right: $sizeGrid * 2 solid $colorWhite;
		border-left: $sizeGrid * 2 solid $colorWhite;
	}

	/**
	 * This is used for generating the spacing classes between the blocks
	 */
	@for $i from 0 through 5 {
		&.margin-top-#{$i} {
			margin-top: $sizeGrid * $i;
		}
	}
}

// import all your components here!
@import "block/block-hero-main";
@import "header";
@import "footer";
@import "button/button-menu";
@import "button/button-call-to-reach";
@import "button/button-start-advertising";
@import "block/block-image-with-content";
@import "button/button-main";
@import "block/block-small-info";
@import "block/block-map";
@import "map-slider";
@import "block/block-image-call-to-actions";
@import "page-loader";
@import "block/block-latest";
@import "latest-article-teaser";
@import "button/button-tag";
@import "block/block-persona-selector";
@import "button/button-circle-arrow";
@import "menu";
@import "block/block-page-not-found";
@import "block/block-hero-secondary";
@import "block/block-hero-tertiary";
@import "block/block-map-secondary";
@import "block/block-path-to-purchase";
@import "block/block-small-heading";
@import "block/block-quote";
@import "block/block-how-to-advertise";
@import "block/block-image-carousel";
@import "block/block-blog-post";
@import "block/block-quote-secondary";
@import "block/block-text";
@import "block/block-small-image-left";