[class^="component-block"] {
	position: relative;

	&.windowed {
		border-right: $sizeGrid * 2 solid $colorWhite;
		border-left: $sizeGrid * 2 solid $colorWhite;
	}

	@for $i from 0 through 5 {
		&.margin-top-#{$i} {
			margin-top: $sizeGrid * $i;
		}
	}
}

// import all your components here!
@import "block/block-hero-main";
@import "header";
@import "footer";
@import "button/button-menu";
@import "button/button-call-to-reach";
@import "button/button-start-advertising";
@import "block/block-image-with-content";
@import "button/button-main";
@import "block/block-small-info";
@import "block/block-map";
@import "map-slider";
@import "block/block-image-call-to-actions";
@import "page-loader";
@import "block/block-latest";
@import "latest-article-teaser";
@import "button/button-tag";
@import "block/block-persona-selector";
@import "button/button-circle-arrow";
@import "menu";
@import "block/block-page-not-found";
@import "block/block-hero-secondary";