[class^="component-block"] {
	position: relative;
	overflow: hidden;

	/**
	 * This means a block can overlap with another block therefore it get's overflow visible
	 */
	&.overlap {
		z-index: 1;
		overflow: visible;

		~ [class^="component-block"] {

			// Sometimes we want to overrule the z-index of the next block to be on top of the overlapping area
			.overrule-overlap {
				position: relative;
				z-index: 2;
			}
		}
	}

	/**
	 * This means a block will have a border on both sides
	 */
	&.windowed {
		border-right: $sizeGrid * 2 solid $colorWhite;
		border-left: $sizeGrid * 2 solid $colorWhite;
	}

	/**
	 * This is used for generating the spacing classes between the blocks
	 */
	@for $i from 0 through 5 {
		&.margin-top-#{$i} {
			margin-top: $sizeGrid * $i;

			&:last-child {

				// Add all the blocks that need extra margin when they are the last block on the page
				&.component-block-map,
				&.component-block-info {
					margin-bottom: $sizeGrid * $i;
				}
			}
		}
	}

	@include respond-to(SMALL) {
		&.windowed {
			border-left: none;
			border-right: none;
		}
	}
}

// import all your components here!
@import "block/block-hero-main";
@import "header";
@import "footer";
@import "button/button-menu";
@import "button/button-call-to-reach";
@import "button/button-start-advertising";
@import "block/block-image-with-content";
@import "button/button-main";
@import "block/block-small-info";
@import "block/block-map";
@import "map-slider";
@import "block/block-image-call-to-actions";
@import "page-loader";
@import "block/block-latest";
@import "button/button-tag";
@import "block/block-persona-selector";
@import "button/button-circle-arrow";
@import "menu";
@import "scroll-bar";
@import "block/block-page-not-found";
@import "block/block-hero-secondary";
@import "block/block-hero-tertiary";
@import "block/block-map-secondary";
@import "block/block-path-to-purchase";
@import "block/block-small-heading";
@import "block/block-quote";
@import "block/block-how-to-advertise";
@import "block/block-image-carousel";
@import "block/block-blog-post";
@import "block/block-quote-secondary";
@import "block/block-text";
@import "filter-menu";
@import "block/block-filter-content";
@import "button/button-circle-close";

@import "block/block-info";
@import "block/block-market-map";

@import "slideout-panel";
@import 'notification';

@import "block/block-network-overview";
@import "block/block-article-teaser";
@import "block/block-small-image";
@import "block/block-story-info-images";
@import "block/block-program-module";
@import "program-module-item";
@import "video-player";
@import "video-overlay";

@import "button/button-play-circle";
@import "block/block-more";
@import "block/block-audio-fragment";
@import "audio-player";
@import "block/block-button";
@import "percentage-loader";
@import "image-sequence";
@import "image-crossfader";

@import "paginator-dashed";
@import "button/button-secondary";
@import "button/button-circle-icon";
@import "market-search";
@import "video-controls";