.component-filter-menu {
	position: relative;
	background-color: white;
	box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.05);

	// Menu
	.menu {
		@include size(100%, $sizeGrid*2);
		display: flex;
	}

	// Component Button Tag
	.component-button-tag {
		text-transform: none;
	}

	.reset-wrapper {
		@include size($sizeGrid * 2);
		position: relative;

		&:after {
			@include size(1px, $sizeGrid);
			@include pos(50%, 0, auto, auto);
			position: absolute;
			content: "";
			transform: translate(0, -50%);
			background-color: rgba(#dcdcdc, 0.6);
		}
	}

	.button-reset {
		@include abs-center($sizeGridSecondary);
		border-radius: 100%;
		color: $colorTertiary;

		.icon {
			@include size(14px);
		}
	}

	// Filter Label
	.filter-label {
		position: relative;
		background-color: $colorTertiary;
		width: $sizeGrid*5;
		color: white;
		height: 100%;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 1.2rem;
		line-height: $sizeGrid*2;
		font-family: $fontOpenSans;
		text-align: left;
		padding-left: $sizeGrid;
		transition: background-color 250ms ease(easeOutExpo), color 250ms ease(easeOutExpo);;

		> .icon {
			position: absolute;
			transform: translate(0, -50%);
			top: 50%;
			right: $sizeGrid/1.333;
			@include size(14px, 16px);
		}

		@include hover() {
			background-color: white;
			color: $colorTertiary;
		}
	}

	// Filters
	.filters {
		position: relative;
		display: flex;
		flex-grow: 1;
		height: 100%;
		@extend %reset-list;
	}

	// Filter Item
	.filter-item {
		height: 100%;
		flex-grow: 1;
		flex-basis: 0;

		.label {
			@include text-overflow();
			width: 60%;
			font: 600 1.2rem / 2rem $fontOpenSans;
		}

		// Hover State
		&.is-hover {
			.filter-button::before {
				width: 100%;
			}

			.button-select-anchor {
				background-color: $colorTertiary;

				.icon {
					color: white;
				}
			}
		}
	}

	// Filter Dropdown
	.filter-dropdown {
		position: absolute;
		background-color: $colorLightGrey;
		@include offset(0, 100%);
		@include size(100%, $sizeGrid*2);
		max-height: 0;
		overflow: hidden;
		//transition: max-height 250ms ease(easeOutExpo);
		font-size: 0;

		.inner-content {
			padding: (($sizeGrid*2)-$sizeGrid/2)/2 $sizeGrid;
		}

		.tag-checkbox {
			&:not(:first-child) {
				margin-left: 5px;
			}
		}

		.component-button-circle-close {
			position: absolute;
			@include pos(50%, $sizeGrid, auto, auto);
			transform: translate(0, -50%);
		}

		&.is-open {
			max-height: $sizeGrid*2;
		}
	}

	// Filter Button
	.filter-button {
		position: relative;
		padding-left: $sizeGrid;
		padding-right: $sizeGrid/2;
		align-items: center;
		display: flex;
		@include size(100%);

		.selected-tags-indicator {
			@include size($sizeGrid/2);
			border-radius: 100%;
			background-color: $colorTertiary;
			color: white;
			font: 600 1.2rem / 2rem $fontOpenSans;
			margin-left: $sizeGrid/4;
		}

		&:before {
			@include pos(auto, 0, 0, 0);
			@include size(0, 1px);
			position: absolute;
			content: "";
			background-color: $colorTertiary;
			transition: width 250ms ease(easeOutExpo);
		}

		&:after {
			position: absolute;
			content: "";
			@include size(1px, $sizeGrid);
			@include pos(50%, 0, auto, auto);
			transform: translate(0, -50%);
			background-color: rgba(#dcdcdc, 0.6);
		}
	}

	// Filter Overlay
	.filter-overlay {
		display: none;
	}

	// Select Anchor
	.button-select-anchor {
		position: absolute;
		@include pos(50%, $sizeGrid/2, auto, auto);
		transform: translate(0, -50%);
		@include size($sizeGrid/2);
		border-radius: 100%;
		border: 1px solid $colorTertiary;
		transition: background-color 250ms ease(linear);

		.icon {
			color: $colorTertiary;
			transition: color 250ms ease(linear);
			@include size(7px, 4px);
		}
	}

	@include respond-to(SMALL) {
		.menu {
			display: none;
		}

		// Filter Overlay
		.filter-overlay {
			@include size(100%, $sizeGrid*4);
			position: fixed;
			display: block;
			background-color: white;
			left: 0;
			bottom: 0;
			transition: height 250ms ease(easeOutExpo);
			overflow: hidden;

			.panel-inner-content {
				padding: $sizeGrid*2;
			}

			.filter-label {
				@include size(100%, $sizeGrid * 4);
				padding: 0;
				text-align: center;
				font-size: mobile-size(2.8rem);
			}

			// Open State
			&.is-open {
				height: calc(100% - #{$sizeHeaderMobile});
			}
		}

		.filter-actions {
			@include size(100%, $sizeGrid * 4);
			font-size: 0;
			background: $colorTertiary;
		}

		.button-apply,
		.button-close,
		.button-reset {
			display: inline-block;
			vertical-align: top;
			border: none;
			border-radius: 0;
		}

		.button-reset,
		.button-close {
			@include size($sizeGrid * 4);
			color: $colorWhite;

			.icon {
				@include size(16px);
			}
		}

		.button-close {
			border-right: 1px solid rgba(white, 0.6);
		}

		.button-reset {
			@include pos(auto, auto, auto);
			margin: 0;
			position: relative;
			border-left: 1px solid rgba(white, 0.6);
		}

		.button-apply {
			@include size(calc(100% - #{$sizeGrid * 8}), $sizeGrid * 4);
			font: 700 mobile-size(2.8rem)/#{$sizeGrid * 4} $fontOpenSans;
			text-transform: uppercase;
			color: $colorWhite;
		}

		// Filter Overlay Content
		.filter-overlay-content {
			position: relative;
			height: calc(100% - #{$sizeGrid*4});
			overflow: hidden;

			// Filter Overlay Group
			.filter-overlay-group {

				&:not(:first-child) {
					margin-top: $sizeGrid*2;
				}

				.label {
					margin-bottom: $sizeGrid/2;
					font-size: mobile-size(2.4rem);
					font-weight: 600;
					font-family: $fontOpenSans;
				}
			}

			// Filter Overlay Tags
			.filter-overlay-tags {
				.tag-checkbox {
					margin-top: $sizeGrid/2;
				}
			}
		}
	}
}
