.component-header {
	@include pos(0, 0, auto, 50%);
	@include size(100%, $sizeGrid * 2);
	position: fixed;
	transform: translateX(-50%);
	z-index: zindex($layout, header);
	max-width: $largeSiteFrame;
	transition: background .2s ease(easeInOut);

	.logo {
		@include pos(50%, auto, auto, $sizeGrid * 2);
		transform: translateY(-50%);
		position: absolute;
		cursor: pointer;
	}

	.call-to-actions {
		@include pos(0, 0, auto, auto);
		position: absolute;
		font-size: 0;

		.button {
			vertical-align: top;
		}
	}

	&.enable-solid-background {
		background: $colorWhite;
	}
}
