.component-header {
	@include pos(0, 0, auto, 50%);
	@include size(100%, $sizeHeader);
	position: fixed;
	transform: translateX(-50%);
	z-index: zindex($layout, header);
	transition: background .2s ease(easeInOut);

	.logo {
		@include pos(50%, auto, auto, $sizeHeader);
		transform: translateY(-50%);
		position: absolute;
		cursor: pointer;
	}

	.call-to-actions {
		@include pos(0, 0, auto, auto);
		position: absolute;
		font-size: 0;

		.button {
			vertical-align: top;
		}
	}

	&.theme-light {
	}

	&.theme-dark {
	}

	&.enable-solid-background {
		background: $colorWhite;
		box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .2);
	}

	@include respond-to(SMALL) {
		@include pos(0, 0, auto, 0);
		background: $colorWhite;
		transform: none;
		position: absolute;

		.logo {
			display: none;
		}
	}
}
