.component-header {
	@include pos(0, 0, auto, 50%);
	@include size(100%, $sizeHeader);
	position: fixed;
	transform: translateX(-50%);
	z-index: zindex($layout, header);
	transition: background .2s ease(easeInOut);

	.logo {
		@include pos(50%, auto, auto, $sizeHeader);
		transform: translateY(-50%);
		position: absolute;
		cursor: pointer;

		&.is-disabled {
			cursor: default;
		}
	}

	.call-to-actions {
		@include pos(0, 0, auto, auto);
		position: absolute;
		font-size: 0;

		.button {
			vertical-align: top;
		}
	}

	&.theme-light {
	}

	&.theme-dark {
	}

	&.enable-solid-background {
		background: $colorWhite;
		box-shadow: 0 5px 32px 0 rgba(0, 0, 0, .04);
	}

	@include respond-to(MEDIUM) {
		@include pos(0, 0, auto, 0);
		@include size(100%, $sizeGrid * 2);
		background: $colorWhite;
		transform: none;

		.logo {
			left: $sizeGrid;
		}
	}

	@include respond-to(SMALL) {
		@include size(100%, $sizeGrid * 4);

		.logo {
			left: $sizeGrid * 2;
		}
	}
}
