.component-header {
	@include pos(0, 0, auto, 0);
	@include size(100%, $sizeGrid * 2);
	position: absolute;
	z-index: zindex($layout, header);

	.logo {
		@include pos(50%, auto, auto, $sizeGrid * 2);
		transform: translateY(-50%);
		position: absolute;
	}

	.call-to-actions {
		@include pos(0, 0, auto, auto);
		position: absolute;
		font-size: 0;

		.button {
			vertical-align: top;
		}
	}
}
