.component-image-crossfader {
	@include coverer();
	@include size(100%);

	.grid-size {
		@include size($sizeGrid);
		@include pos(0, auto, auto, 0);
		opacity: 0;
		pointer-events: none;
		position: absolute;
	}

	canvas {
		@include coverer();
		@include size(100%);
	}
}
