.component-latest-article-teaser {
	@include size(16 * $sizeGrid, 8 * $sizeGrid);
	font-size: 0;
	display: inline-block;
	position: relative;
	background: $colorWhite;
	overflow: hidden;
	backface-visibility: hidden;

	aside {
		@include size(8 * $sizeGrid, 100%);
		@include pos(0, auto, 0, 0);
		position: absolute;
		padding: $sizeGrid;
		color: $colorPrimary;

		.heading {
			margin-bottom: $sizeGrid / 2;
		}

		.copy-01 {
			margin-bottom: $sizeGrid;
			transition: opacity .2s ease(easeOut);
		}

		.tags {
			transition: opacity .2s ease(easeO211ut);
		}

		.component-button-tag {
			&:not(:first-child) {
				margin-left: $sizeGrid / 4;
			}
		}
	}

	figure {
		clip: rect(0, $sizeGrid * 16, $sizeGrid * 8, $sizeGrid * 8);
		transition: clip .2s ease(easeOut);

		img {
			transform: translateX(10%);
			transition: transform .2s ease(easeOut);
		}

		&:after {
			@include size(0);
			@include pos(auto, $sizeGrid * 7, 0, auto);
			position: absolute;
			border-style: solid;
			content: '';
			border-width: $sizeGrid 0 0 $sizeGrid;
			border-color: transparent transparent transparent $colorWhite;
			transition: transform .2s ease(easeOut);
		}
	}

	@include hover() {
		figure {
			clip: rect(0, $sizeGrid * 16, $sizeGrid * 8, 0);

			&:after {
				transform: translateX(-$sizeGrid * 9);
			}

			img {
				transform: translateX(0);
			}
		}

		aside {
			.tags,
			.copy {
				opacity: 0;
			}
		}
	}
}
