.component-map-pagination {
	$borderColor: #cdd4df;
	@include size(100%, $sizeGrid * 2);
	font-size: 0;

	.navigation-button {
		@include size($sizeGrid * 2);
		display: inline-block;
		vertical-align: top;

		.icon {
			@include size($sizeGrid);
		}

		circle {
			fill: transparent;
			stroke: $colorPrimary;
		}

		path {
			fill: $colorSecondary;
		}
	}

	.pagination-steps {
		@include size(calc(100% - #{$sizeGrid * 4}), $sizeGrid * 2);
		display: inline-block;
		vertical-align: top;
		position: relative;

		ul {
			@extend %reset-list;
			@include size(auto, $sizeGrid * 1.5);
			@include pos(50%, 0, auto, 0);
			transform: translateY(-50%);
			display: flex;
			position: absolute;
			justify-content: space-around;
		}

		&:before {
			@include size(100%, 1px);
			@include pos(50%, auto, auto, 0);
			transform: translateY(-50%);
			background: $borderColor;
			position: absolute;
			content: '';
		}

		.progress {
			@include size(0, 3px);
			@include pos(50%, auto, auto, 0);
			position: absolute;
			transform: translateY(-50%);
			background: $colorPrimary;
			transition: width .8s ease(easeInOutCubic);
		}
	}

	.step {
		@include size($sizeGrid * 1.5);
		border: 1px solid transparent;
		border-radius: 100%;
		display: inline-block;
		background: $colorWhite;
		font: 700 1.2rem / #{$sizeGrid * 1.5} $fontOpenSans;
		text-align: center;
		color: $colorPrimary;
		transition: border-color .8s ease(easeInOutCubic);
		cursor: pointer;

		@include hover() {
			text-decoration: underline;
		}

		&.is-active {
			border-color: $colorBorder;
		}
	}
}
