.component-map-slider {

	.track {
		@include size(auto, 1px);
		@include pos(50%, $sizeGrid, auto, $sizeGrid);
		transform: translateY(-50%);
		position: absolute;
		background: $colorBorder;
		z-index: 1;

		&:before,
		&:after {
			@include size($sizeGrid, 1px);
			top: 50%;
			transform: translateY(-50%);
			position: absolute;
			content: '';
			background: $colorBorder;
		}

		&:before {
			left: -$sizeGrid
		}

		&:after {
			right: -$sizeGrid;
		}

		.progress {
			@include size(0px, 3px);
			@include pos(50%, auto, auto, 0);
			transform: translateY(-50%);
			position: absolute;
			background: $colorSecondary;
		}
	}

	.steps {
		@extend %reset-list;
		@include size(100%);
		display: flex;
		justify-content: space-between;
		align-items: center;
		z-index: 2;
		position: relative;
		padding: 0 $sizeGrid;

		li {
			@include size($sizeGrid * 2);
			display: flex;
			justify-content: center;
			align-items: center;
			text-align: center;
			background: $colorLightGrey;
			cursor: pointer;
			border-radius: 100%;

			.label {
				font: 400 1.4rem / 1 $fontOpenSans;

				&.is-active {
					font-weight: 700;
				}
			}
		}
	}

	.knob-wrapper {
		@include size(calc(100% - #{$sizeGrid * 2}), $sizeGrid * 2);
		@include pos(0, auto, auto, 50%);
		position: absolute;
		transform: translateX(-50%);
		z-index: 3;
		pointer-events: none;
	}

	.knob {
		@include pos(50%, auto, auto, 0);
		@include size($sizeGrid * 2);
		transform: translateY(-50%);
		border: 1px solid $colorBorder;
		position: absolute;
		border-radius: 100%;
		background: transparent;
		transition: background .2s ease(easeInOut);
		pointer-events: all;

		&:before {
			@include abs-center($sizeGrid / 4);
			border-radius: 100%;
			background: $colorWhite;
			content: '';
			opacity: 0;
			transition: opacity .2s ease(easeInOut);
		}

		@include hover() {
			background: $colorSecondary;

			&:before{
				opacity: 1;
			}

		}
	}
}
