.component-market-search {
	font-size: 0;

	.query-wrapper {
		@include size(100%, $sizeGrid * 2);
		background: $colorWhite;

		&.has-input {

			.text-input-holder {
				padding-left: $sizeGrid * 2;
			}

			.component-button-circle-close {
				display: block;
			}
		}
	}

	.search-button,
	.text-input-holder {
		display: inline-block;
		vertical-align: top;
		position: relative;
		z-index: 1;
	}

	.text-input-holder {
		@include size(calc(100% - #{$sizeGrid * 5.5}), 100%);
		padding: 0 $sizeGrid;
		box-sizing: border-box;
		background: $colorWhite;
	}

	.input-text-main {
		margin-top: $sizeGrid / 2;
	}

	.search-button {
		@include size($sizeGrid * 5.5, $sizeGrid * 2);
		background: $colorSecondary;
		color: $colorWhite;
		font: 700 1rem/1 $fontOpenSans;
		text-transform: uppercase;
	}

	.note-wrapper {
		@include size(calc(100% - #{$sizeGrid * 5.5}), $sizeGrid * 6);
		@include pos(auto, auto, $sizeGrid * 2, 0);
		position: absolute;
		overflow: hidden;
		z-index: 0;
		pointer-events: none;
	}

	.note {
		@include size(100%, auto);
		@include pos(auto, auto, 0, 0);
		background: $colorLightGrey;
		position: absolute;
		transform: translateY(100%);
		transition: transform .5s ease(easeInOutExpo);
		pointer-events: all;

		.copy {
			@include offset(0, 50%);
			transform: translateY(-50%);
			position: absolute;
			font: 400 1.2rem / 1 $fontOpenSans;
			padding: 0 $sizeGrid;
		}

		.button {
			@include size(100%, $sizeGrid * 2);
			display: block;
			font: 600 1.6rem/#{$sizeGrid * 2} $fontOpenSans;
			text-align: left;
			padding: 0 $sizeGrid;
			transition: background .2s ease(easeInOutCubic);

			@include hover() {
				background: darken($colorLightGrey, 5%);
			}
		}

		&.is-active {
			transform: translateY(0);
		}
	}

	.component-button-circle-close {
		@include offset($sizeGrid / 2, 50%);
		transform: translateY(-50%);
		position: absolute;
		z-index: 1;
		display: none;
	}

	@include respond-to(SMALL) {
		$height: $sizeGrid * 4;

		.query-wrapper {
			height: $height * 2;

			&.has-input {
				.text-input-holder {
					padding-left: $sizeGrid * 3;
				}
			}
		}

		.component-button-circle-close {
			top: $height / 2;
		}

		.input-text-main {
			margin-top: $sizeGrid;
		}

		.search-button,
		.text-input-holder {
			@include size(100%, $height)
		}

		.search-button {
			font-size: mobile-size(2.8rem);
			line-height: $height;
		}

		.note-wrapper {
			@include size(100%, $height * 3);
			bottom: $height * 2;
		}

		.note {
			.copy {
				font-size: mobile-size(2rem);
			}

			.button {
				font-size: mobile-size(2rem);
				line-height: $height;
				height: $height;
			}
		}
	}
}
