.component-menu {
	@include size($sizeGrid * 14, calc(100vh - #{$sizeGrid * 2}));
	@include pos($sizeGrid * 2, 0, 0, auto);
	position: fixed;
	overflow: hidden;
	transform: translateX(100%);
	z-index: zindex($layout, menu);

	.menu-content,
	.menu-background {
		@include coverer();
		@include size(100%, 100%);
		position: absolute;
	}

	.menu-background {
		box-sizing: content-box;
		background: $colorPrimary;
		border-bottom: 100vh solid $colorPrimary;
	}

	.menu-items {
		@extend %reset-list;
		padding: $sizeGrid * 1.5;
	}

	.menu-item {
		display: block;
		margin-bottom: $sizeGrid;
		max-height: 3rem;
		overflow: hidden;
		transition: max-height .2s ease(easeInOut);

		@include hover() {
			max-height: $sizeGrid * 3;

			.subtitle {
				opacity: 1;
				visibility: visible;
				transition: opacity .2s ease(easeInOut);
			}
		}

		@include hover() {

			.label {
				transform: translateX($sizeGrid * 1.5);

				&:before {
					opacity: 1;
				}
			}
		}
	}

	.subtitle {
		color: $colorSecondary;
		font: 400 1.4rem / 1.64 $fontOpenSans;
		margin-left: $sizeGrid * 1.5;
		opacity: 0;
		visibility: hidden;
		transition: opacity .2s ease(easeInOut), visibility .2s ease(easeInOut);

		a {
			color: $colorSecondary;
		}
	}

	.main-link {
		font: 400 2.4rem / 1.25 $fontOpenSans;
		text-decoration: none;
		color: $colorWhite;
		display: block;
		position: relative;
		overflow: visible;

		.label {
			display: block;
			position: relative;
			transition: transform .2s ease(easeInOut);

			&:before {
				@include size($sizeGrid, .4rem);
				@include pos(50%, auto, auto, 0);
				transform: translate(-$sizeGrid * 1.5, -50%);
				background: $colorSecondary;
				position: absolute;
				content: '';
				opacity: 0;
				transition: opacity .2s ease(easeInOut);
			}
		}

	}

	@include respond-to(SMALL) {
		@include size(100%, calc(100vh - #{$sizeGrid * 4}));
		top: $sizeGrid * 4;

		.main-link {
			font-size: mobile-size(3.2rem);
		}

		.subtitle {
			font-size: mobile-size(2.8rem);
		}

		.menu-item {
			max-height: 100%;
		}

		.subtitle {
			opacity: 1;
			visibility: visible;
		}
	}
}
