.component-notification {
	@include size(100%, 100%);
	@include pos(0, 0, auto, 0);
	position: fixed;
	visibility: hidden;
	z-index: zindex($layout, notification);
	color: #000;

	.content-wrapper {
		@include size(80%, auto);
		@include pos(50%, auto, auto, 50%);
		padding: 25px;
		max-width: $sizeGridSecondary * 20;
		transform: translate(-50%, -50%);
		position: absolute;
		background: white;
		border: 1px solid $colorPrimary;
		text-align: center;
		border-radius: 5px;
		box-shadow: 0 0 10px 0 rgba(0, 0, 0, .75);
	}

	.heading,
	.copy {
		color: #000;
	}

	.heading {
		margin-bottom: $sizeGrid / 2;
	}

	.actions {
		display: block;
		font-size: 0;
		text-align: center;
		margin: 25px 0 0 0;
		color: #000;
	}

	.component-button-secondary {
		margin: 0 $sizeGrid / 4;
		vertical-align: top;
	}

	.mask {
		@include coverer();
		@include size(100%);
		position: absolute;
		background: rgba(#000, .2);
	}
}
