.component-paginator-dashed {
	position: relative;
	counter-reset: item;

	.pagination-item {
		position: relative;
		@include size(20px);
		color: white;
		display: block;
		transition: all 250ms ease(easeOutExpo);
		counter-increment: item;

		&:not(:first-child) {
			margin-top: $sizeGrid;
		}

		&:before {
			position: absolute;
			@include offset(0, 50%);
			margin-top: -1px;
			content: "";
			@include size(20px, 1px);
			background-color: currentColor;
			transform-origin: bottom left;
			transition: all 250ms ease(easeOutExpo);
		}

		.nr {
			opacity: 1;
			transform: translateY(50%);
			transition: transform 250ms ease(easeOutExpo);

			&:before {
				content: counter(item, decimal-leading-zero) "";
				display: block;
				text-align: left;
			}
		}

		// Active State
		&.is-active {
			color: $colorSecondary;

			&:before {
				transform: rotate(-#{$angle}deg);
			}

			.nr {
				transform: translateY(0);
			}
		}

		@include hover(){
			&:before {
				height: 4px;
				margin-top: -2px;
			}
		}
	}

	.nr {
		font: 800 1.2rem / 1 $fontOpenSans;
		color: currentColor;
		opacity: 0;
		margin-top: -28px;
		transition: all 250ms ease(easeOutExpo);
		display: block;
	}


	// Horizontal Style
	&.horizontal {
		padding-top: 0.5rem;
		font-size: 0;
		text-align: center;

		// Paginator Item
		.pagination-item {
			vertical-align: top;
			display: inline-block;

			&:not(.is-active) {
				color: $colorQuaternary;
			}

			&:not(:first-child) {
				margin: 0 0 0 $sizeGrid;
			}
		}
	}

	@include respond-to(SMALL) {
		.nr {
			display: none;
		}
	}
}
