.component-percentage-loader {
	text-align: center;

	.svg-holder {
		@include size($sizeGrid * 2);
		position: relative;
		margin: 0 auto;

		svg {
			width: 100%;
			height: 100%;
		}
	}

	.animated-line-track {
		stroke: rgba($colorWhite, .5);
	}

	.animated-line {
		stroke: $colorWhite;
	}

	.amount-info {
		font: 400 1.8rem / 1 $fontOpenSans;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}
