.component-program-module-item {
	position: relative;
	width: 100%;
	display: inline-block;
	border-bottom: 1px solid #e7e7e7;
	border-top: 1px solid #e7e7e7;

	.placeholder {
		@include size(100%, $sizeGrid*8);
		position: relative;

		.image { }
	}

	// Description
	.description {
		position: relative;
		height: $sizeGrid*14;

		.hover-container {
			padding: $sizeGrid*2;
		}
	}

	// Stats
	.stats {
		@extend %reset-list;
		margin-top: $sizeGrid;

		.icon {
			@include size($sizeGrid / 4);

			path {
				stroke: transparent;
				fill: $colorPrimary;
			}
		}

		.label {
			margin-left: $sizeGrid / 4;
		}

		li {

			&:not(:first-child) {
				margin-top: $sizeGrid/2;
			}
		}
	}

	.tags {
		.component-button-tag:not(:first-child) {
			margin-left: $sizeGrid / 2;

		}
	}

	.title {
	}

	.paragraph {
		margin-top: $sizeGrid;
		max-height: $sizeGrid*2;
		overflow: hidden;
	}

	.tags {
		margin-top: $sizeGrid;
	}

	.component-button-play-circle {
		position: absolute;
		@include offset(50%, 50%);
		transform: translate(-50%, -50%);
		color: white;
	}

	.hover-container {
		@include size(100%);
		@include offset(50%, 0);
		background-color: white;
		transform: translate(-50%, 0);
		overflow: hidden;
		position: absolute;
		border-left: 1px solid #e7e7e7;
		//transition: background .2s ease(easeInOut);
	}

	.index-1 &,
	.index-2 &{
		.hover-container {
			transform: none;
			left: 0;

		}
	}

	.index-1 & {
		border-left: none;
	}

	.index-3 &,
	.index-4 & {
		.hover-container {
			left: auto;
			right: 0;
			transform: none;
		}
	}

	@include respond-to(SMALL) {
		.placeholder {
			height: 9.5 * $sizeGrid;
		}

		.stats {
			.icon {
				@include size($sizeGrid);
			}
		}

		.title {
			font-size: mobile-size(4.5rem);
		}

		.paragraph {
			max-height: none;
		}

		.description {
			height: auto;

			.hover-container {
				position: relative;
				height: auto;
			}
		}
	}
}
