.component-vertical-graphic {
	@include size($sizeGrid * 2.5, auto);
	display: inline-block;

	.bar-wrapper {
		@include size(100%, $sizeGrid * 8);
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
	}

	.bar {
		@include size($sizeGrid * 2.5, auto);
		display: inline-block;
		border-bottom: 2px solid $colorPrimary;
		background-image: repeating-linear-gradient(-45deg, currentColor, currentColor 0px, transparent 2px, transparent 4px);
		background-size: 6px 6px;
	}

	.value {
		display: inline-block;
		color: $colorLocalMedia;
		margin-bottom: 1rem;
	}

	@include respond-to(SMALL) {
		.bar-wrapper {
			height: $sizeGrid * 10;
		}
	}
}
