.component-video-controls {
	@include size(100%, $sizeGrid);
	background: rgba(0, 0, 0, .5);
	font-size: 0;
	transform: translateY(100%);
	transition: transform .8s ease(easeOutExpo);

	.button {
		@include size($sizeGrid);
		vertical-align: top;
		display: inline-block;
		position: relative;
		color: $colorWhite;

		.icon {
			@include size(20px);
		}
	}

	.button-play {
		.play-icon {
			display: block;
		}

		.pause-icon {
			display: none
		}

		&.is-playing {
			.play-icon {
				display: none;
			}

			.pause-icon {
				display: block
			}
		}
	}

	.button-mute {
		.volume-on-icon {
			display: block;
		}

		.volume-off-icon {
			display: none
		}

		&.is-muted {
			.volume-on-icon {
				display: none;
			}

			.volume-off-icon {
				display: block
			}
		}
	}

	.progress {
		@include size(calc(100% - #{$sizeGrid * 2}), 100%);
		display: inline-block;
		vertical-align: top;
		position: relative;

		.progress-bar-wrapper {
			@include size(calc(100% - #{$sizeGrid}), 0.4rem);
			background: rgba(255, 255, 255, .1);
			transition: backgroundColor .2s ease(linear), height .2s ease(linear);
		}

		.progress {
			@include pos(50%, auto, auto, 0);
			@include size(50%, 100%);
			background: $colorSecondary;
			transform: translateY(-50%);
			position: absolute;
		}

		.knob {
			@include pos(50%, auto, auto, 0);
			@include size(1rem);
			margin-top: -0.5rem;
			margin-left: -0.5rem;
			position: absolute;
			background: $colorSecondary;
			opacity: 0;
			border-radius: 100%;
		}

		@include hover() {

			.progress-bar-wrapper {
				background: rgba(255, 255, 255, .3);
				height: 0.6rem;
			}

			.knob {
				opacity: 1;
			}
		}
	}

	&.is-active {
		transform: translateY(0);
	}
}
