.component-video-player {
	background: #000;
	@include size(100%, 100%);

	iframe,
	video {
		@include coverer();
		@include size(100%);
		position: absolute;
	}

	.component-video-controls {
		@include pos(auto, 0, 0, 0);
		position: absolute;
		z-index: 1;
	}
}
